Repository ArdentHQ/arkscan, pull requests merged in 2022-09, with the labels that each got.

#93 refactor: update risky tests
  app/Http/Livewire/DelegateTabs.php
  database/factories/WalletFactory.php
  tests/Feature/Http/Livewire/DelegateMonitorTest.php
  tests/Feature/Http/Livewire/DelegateTabsTest.php
Labels: refactor

#92 chore: remove TypeScript and Sass dependencies
  package.json
  tsconfig.json
  yarn.lock
Labels: chore

#86 chore: update PHP dependencies
  composer.json
  composer.lock
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
Labels: chore

#91 fix: handle weird values in urls
  routes/web.php
  tests/Unit/RedirectionTest.php
Labels: bugfix

#95 fix: multi-payment block amount
  app/ViewModels/Concerns/Block/HasTransactions.php
  tests/Feature/Http/Livewire/BlockTableTest.php
  tests/Unit/ViewModels/BlockViewModelTest.php
  tests/__snapshots__/BlockViewModelTest__it_should_get_the_fee_for_different_transaction_types__1.txt
  tests/__snapshots__/BlockViewModelTest__it_should_get_the_fee_for_multipayment__1.txt
Labels: bugfix

#94 chore: update js workflow
  .github/workflows/deps.yml
  composer.json
  composer.lock
Labels: chore

#98 chore: update JavaScript dependencies
  package.json
  public/js/app.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#97 chore: update PHP dependencies
  composer.json
  composer.lock
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: chore

#99 fix: remove loading state when navbar price has loaded
  app/Http/Livewire/PriceTicker.php
  resources/views/livewire/price-ticker.blade.php
Labels: bugfix

#96 chore: merge develop into staging
  .github/workflows/deps.yml
  CODEOWNERS
  app/Http/Livewire/DelegateTabs.php
  app/Http/Livewire/PriceTicker.php
  app/ViewModels/Concerns/Block/HasTransactions.php
  composer.json
  composer.lock
  database/factories/WalletFactory.php
  package.json
  public/js/app.js
  public/mix-manifest.json
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
  resources/views/livewire/price-ticker.blade.php
  routes/web.php
  tests/Feature/Http/Livewire/BlockTableTest.php
  tests/Feature/Http/Livewire/DelegateMonitorTest.php
  tests/Feature/Http/Livewire/DelegateTabsTest.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/RedirectionTest.php
  tests/Unit/ViewModels/BlockViewModelTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
  tests/__snapshots__/BlockViewModelTest__it_should_get_the_fee_for_different_transaction_types__1.txt
  tests/__snapshots__/BlockViewModelTest__it_should_get_the_fee_for_multipayment__1.txt
  tsconfig.json
  yarn.lock
Labels: chore

#100 chore: merge staging into master
  .github/workflows/deps.yml
  CODEOWNERS
  app/Http/Livewire/DelegateTabs.php
  app/Http/Livewire/PriceTicker.php
  app/ViewModels/Concerns/Block/HasTransactions.php
  composer.json
  composer.lock
  database/factories/WalletFactory.php
  package.json
  public/js/app.js
  public/mix-manifest.json
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
  resources/views/livewire/price-ticker.blade.php
  routes/web.php
  tests/Feature/Http/Livewire/BlockTableTest.php
  tests/Feature/Http/Livewire/DelegateMonitorTest.php
  tests/Feature/Http/Livewire/DelegateTabsTest.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/RedirectionTest.php
  tests/Unit/ViewModels/BlockViewModelTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
  tests/__snapshots__/BlockViewModelTest__it_should_get_the_fee_for_different_transaction_types__1.txt
  tests/__snapshots__/BlockViewModelTest__it_should_get_the_fee_for_multipayment__1.txt
  tsconfig.json
  yarn.lock
Labels: chore

#101 chore: update PHP dependencies
  app/Exceptions/WalletNotFoundException.php
  app/Http/Livewire/DelegateDataBoxes.php
  app/Models/Block.php
  app/Models/ForgingStats.php
  app/Models/Round.php
  app/Models/Transaction.php
  app/Models/User.php
  app/Models/Wallet.php
  app/Services/Forms.php
  app/Services/Search/BlockSearch.php
  app/Services/Search/TransactionSearch.php
  composer.json
  composer.lock
  resources/lang/en/pages.php
Labels: chore
