Repository ArdentHQ/arkscan, pull requests merged in 2022-08, with the labels that each got.

#49 chore: upgrade to Laravel 9
  .github/workflows/ci.yml
  .github/workflows/ui.yml
  app/Console/Commands/CacheCurrenciesData.php
  app/Console/Commands/CacheCurrenciesHistory.php
  app/Console/Commands/CacheDelegateResignationIds.php
  app/Console/Commands/CacheDelegatesWithVoters.php
  app/Console/Commands/CacheFees.php
  app/Console/Commands/CacheMultiSignatureAddresses.php
  app/Console/Commands/CachePrices.php
  app/Exceptions/Handler.php
  app/Exceptions/Sentry.php
  app/Http/Livewire/Concerns/ManagesLatestTransactions.php
  app/Http/Livewire/Concerns/StatisticsChart.php
  app/Http/Livewire/Stats/Chart.php
  app/Http/Middleware/TrustProxies.php
  app/Jobs/BuildForgingStats.php
  app/Models/Transaction.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Providers/AuthServiceProvider.php
  app/Services/Avatar.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  app/Services/Transactions/Aggregates/Fees/LastFeeAggregate.php
  app/ViewModels/Concerns/Transaction/HasDirection.php
  app/ViewModels/Concerns/Transaction/InteractsWithMultiPayment.php
  app/ViewModels/Concerns/Transaction/InteractsWithMultiSignature.php
  app/ViewModels/Concerns/Transaction/InteractsWithVotes.php
  app/ViewModels/TransactionViewModel.php
  composer.json
  composer.lock
  config/database.php
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
  tests/Unit/SentryTest.php
Labels: chore

#51 refactor: footer adjustments to match design
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/views/layouts/app.blade.php
Labels: refactor

#52 refactor: update qr code for vault
  .env.example
  app/Facades/Network.php
  app/Http/Livewire/WalletQrCode.php
  app/Services/Blockchain/Network.php
  config/explorer.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
Labels: refactor

#53 fix: statistics dark mode grid lines
  app/Services/Settings.php
  composer.lock
  public/js/app.js
  public/mix-manifest.json
  tests/Unit/Services/SettingsTest.php
Labels: bugfix

#54 chore: merge develop into staging
  .env.example
  .github/workflows/ci.yml
  .github/workflows/ui.yml
  app/Console/Commands/CacheCurrenciesData.php
  app/Console/Commands/CacheCurrenciesHistory.php
  app/Console/Commands/CacheDelegateResignationIds.php
  app/Console/Commands/CacheDelegatesWithVoters.php
  app/Console/Commands/CacheFees.php
  app/Console/Commands/CacheMultiSignatureAddresses.php
  app/Console/Commands/CachePrices.php
  app/Exceptions/Handler.php
  app/Exceptions/Sentry.php
  app/Facades/Network.php
  app/Http/Livewire/Concerns/ManagesLatestTransactions.php
  app/Http/Livewire/Concerns/StatisticsChart.php
  app/Http/Livewire/Stats/Chart.php
  app/Http/Livewire/WalletQrCode.php
  app/Http/Middleware/TrustProxies.php
  app/Jobs/BuildForgingStats.php
  app/Models/Transaction.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Providers/AuthServiceProvider.php
  app/Services/Avatar.php
  app/Services/Blockchain/Network.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  app/Services/Settings.php
  app/Services/Transactions/Aggregates/Fees/LastFeeAggregate.php
  app/ViewModels/Concerns/Transaction/HasDirection.php
  app/ViewModels/Concerns/Transaction/InteractsWithMultiPayment.php
  app/ViewModels/Concerns/Transaction/InteractsWithMultiSignature.php
  app/ViewModels/Concerns/Transaction/InteractsWithVotes.php
  app/ViewModels/TransactionViewModel.php
  composer.json
  composer.lock
  config/database.php
  config/explorer.php
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
  resources/views/layouts/app.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/SentryTest.php
  tests/Unit/Services/ExchangeRateTest.php
  tests/Unit/Services/SettingsTest.php
Labels: chore

#58 chore: merge staging into master
  .env.example
  .github/workflows/ci.yml
  .github/workflows/ui.yml
  app/Console/Commands/CacheCurrenciesData.php
  app/Console/Commands/CacheCurrenciesHistory.php
  app/Console/Commands/CacheDelegateResignationIds.php
  app/Console/Commands/CacheDelegatesWithVoters.php
  app/Console/Commands/CacheFees.php
  app/Console/Commands/CacheMultiSignatureAddresses.php
  app/Console/Commands/CachePrices.php
  app/Exceptions/Handler.php
  app/Exceptions/Sentry.php
  app/Facades/Network.php
  app/Http/Livewire/Concerns/ManagesLatestTransactions.php
  app/Http/Livewire/Concerns/StatisticsChart.php
  app/Http/Livewire/Stats/Chart.php
  app/Http/Livewire/WalletQrCode.php
  app/Http/Middleware/TrustProxies.php
  app/Jobs/BuildForgingStats.php
  app/Models/Transaction.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Providers/AuthServiceProvider.php
  app/Services/Avatar.php
  app/Services/Blockchain/Network.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  app/Services/Settings.php
  app/Services/Transactions/Aggregates/Fees/LastFeeAggregate.php
  app/ViewModels/Concerns/Transaction/HasDirection.php
  app/ViewModels/Concerns/Transaction/InteractsWithMultiPayment.php
  app/ViewModels/Concerns/Transaction/InteractsWithMultiSignature.php
  app/ViewModels/Concerns/Transaction/InteractsWithVotes.php
  app/ViewModels/TransactionViewModel.php
  composer.json
  composer.lock
  config/database.php
  config/explorer.php
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
  resources/views/layouts/app.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/SentryTest.php
  tests/Unit/Services/ExchangeRateTest.php
  tests/Unit/Services/SettingsTest.php
Labels: chore

#59 refactor: trigger empty response every 60 failures
  .env.example
  app/Services/MarketDataProviders/CoinGecko.php
  config/explorer.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
Labels: refactor

#57 refactor: use new footer component
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/views/layouts/app.blade.php
Labels: refactor

#66 chore: update to Tailwind v3
  composer.json
  composer.lock
  package.json
  public/css/app.css
  public/js/app.js
  public/js/app.js.LICENSE.txt
  public/js/clipboard.js
  public/mix-manifest.json
  tailwind.config.js
  webpack.mix.js
  yarn.lock
Labels: chore

#55 refactor: search handling & flow
  app/Contracts/WalletRepository.php
  app/Http/Livewire/Concerns/HandlesSearchModal.php
  app/Http/Livewire/Concerns/ManagesSearch.php
  app/Http/Livewire/SearchModal.php
  app/Http/Livewire/SearchModule.php
  app/Http/Livewire/SearchPage.php
  app/Repositories/WalletRepository.php
  app/Repositories/WalletRepositoryWithCache.php
  app/Services/Search/TransactionSearch.php
  app/Services/Search/WalletSearch.php
  resources/views/components/general/search/advanced-option.blade.php
  resources/views/components/general/search/advanced-search.blade.php
  resources/views/components/general/search/search-input.blade.php
  resources/views/components/general/search/search-modal.blade.php
  resources/views/components/general/search/search.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/search-page.blade.php
  tests/Feature/Http/Livewire/SearchModalTest.php
  tests/Feature/Http/Livewire/SearchModuleTest.php
  tests/Feature/Http/Livewire/SearchPageTest.php
  tests/Feature/Http/Livewire/__stubs/SearchModalExceptionStub.php
  tests/Unit/Services/Search/TransactionSearchTest.php
  tests/Unit/Services/Search/WalletSearchTest.php
Labels: refactor

#60 refactor: price change should check empty response
  app/Services/MarketDataProviders/CoinGecko.php
  tests/Unit/Console/Commands/CacheCurrenciesDataTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
Labels: refactor

#63 refactor: add counter to prevent exception loops on delegate monitor
  app/Http/Livewire/DelegateMonitor.php
  tests/Feature/Http/Livewire/DelegateMonitorTest.php
Labels: refactor

#70 chore: update deps workflow
  .github/workflows/deps.yml
Labels: chore

#65 refactor: update padding & container usage
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/block.blade.php
  resources/views/app/blocks-by-wallet.blade.php
  resources/views/app/delegates.blade.php
  resources/views/app/home.blade.php
  resources/views/app/search-results.blade.php
  resources/views/app/statistics.blade.php
  resources/views/app/transaction.blade.php
  resources/views/app/voters-by-wallet.blade.php
  resources/views/app/wallet.blade.php
  resources/views/app/wallets.blade.php
  resources/views/blocks.blade.php
  resources/views/components/page-headers/block.blade.php
  resources/views/components/page-headers/transaction.blade.php
  resources/views/components/page-headers/wallet/frame.blade.php
  resources/views/components/transaction/extension/multi-payment.blade.php
  resources/views/components/transaction/extension/multi-signature.blade.php
  resources/views/components/transaction/extension/vote-combination.blade.php
  resources/views/components/wallet/transactions.blade.php
  resources/views/components/wallet/vote-for.blade.php
  resources/views/components/wallets/sorted-by-balance.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/search-page.blade.php
  resources/views/transactions.blade.php
Labels: refactor

#64 fix: search wallet balance with username or vote name
  app/Models/Composers/ValueRangeComposer.php
  app/Services/Search/WalletSearch.php
  tests/Feature/Http/Livewire/SearchPageTest.php
Labels: bugfix

#68 refactor: always use compact table on md screens and below
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
  resources/views/components/general/avatar.blade.php
  resources/views/components/tables/desktop/skeleton/blocks.blade.php
  resources/views/components/tables/desktop/skeleton/transactions.blade.php
  resources/views/components/tables/rows/desktop/skeletons/address.blade.php
  resources/views/components/tables/rows/desktop/skeletons/status.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/navbar-settings.blade.php
Labels: refactor

#62 refactor: handle failed coingecko request
  app/Services/MarketDataProviders/CoinGecko.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
Labels: refactor

#72 refactor: update error pages & design
  app/Exceptions/BlockNotFoundException.php
  app/Exceptions/Handler.php
  app/Exceptions/TransactionNotFoundException.php
  app/Exceptions/WalletNotFoundException.php
  composer.json
  composer.lock
  config/mail.php
  public/css/app.css
  public/mix-manifest.json
  resources/css/_theme.css
  resources/css/app.css
  resources/icons/errors/401.svg
  resources/icons/errors/403.svg
  resources/icons/errors/404.svg
  resources/icons/errors/419.svg
  resources/icons/errors/429.svg
  resources/icons/errors/500.svg
  resources/icons/errors/503.svg
  resources/icons/errors/generic.svg
  resources/images/errors/401.svg
  resources/images/errors/401_dark.svg
  resources/images/errors/403.svg
  resources/images/errors/403_dark.svg
  resources/images/errors/404.svg
  resources/images/errors/404_dark.svg
  resources/images/errors/404_entity.svg
  resources/images/errors/404_entity_dark.svg
  resources/images/errors/419.svg
  resources/images/errors/419_dark.svg
  resources/images/errors/429.svg
  resources/images/errors/429_dark.svg
  resources/images/errors/500.svg
  resources/images/errors/500_dark.svg
  resources/images/errors/503.svg
  resources/images/errors/503_dark.svg
  resources/views/errors/401.blade.php
  resources/views/errors/403.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/404_entity.blade.php
  resources/views/errors/419.blade.php
  resources/views/errors/429.blade.php
  resources/views/errors/500.blade.php
  resources/views/errors/503.blade.php
  resources/views/errors/error.blade.php
  resources/views/vendor/ark/errors/404.blade.php
  resources/views/vendor/ark/pagination-url.blade.php
  resources/views/vendor/ark/pagination.blade.php
Labels: refactor

#74 fix: dropdown widths
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/rich-select.blade.php
Labels: bugfix

#75 refactor: handle all error codes
  composer.json
  composer.lock
Labels: refactor

#76 refactor: reduce currency history request frequency
  app/Console/Commands/CacheCurrenciesHistory.php
Labels: refactor

#77 refactor: keep previous historic data on empty response
  app/Console/Commands/CachePrices.php
  app/Jobs/CacheCurrenciesHistory.php
  app/Services/Cache/Concerns/ManagesCache.php
  app/Services/Cache/CryptoDataCache.php
  tests/TestCase.php
  tests/Unit/Console/Commands/CacheCurrenciesHistoryTest.php
  tests/Unit/Console/Commands/CachePricesTest.php
  tests/Unit/Jobs/CacheCurrenciesHistoryTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
Labels: refactor

#82 fix: intermittent next delegate test
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
Labels: bugfix

#81 chore: update JavaScript dependencies
  app/Console/Commands/ClearExpiredViews.php
  app/Repositories/TransactionRepository.php
  app/Services/Monitor/DelegateTracker.php
  app/ViewModels/Concerns/Transaction/InteractsWithMultiSignature.php
  composer.lock
  package.json
  public/js/app.js
  public/js/app.js.LICENSE.txt
  public/js/vendor.js
  public/js/vendor.js.LICENSE.txt
  public/mix-manifest.json
  yarn.lock
Labels: chore

#80 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#73 refactor: use `maxlength` attribute instead of `max` input component prop
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/rich-select.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
Labels: refactor

#79 refactor: match cryptocompare service with coingecko
  .env.example
  app/Console/Commands/CacheCurrenciesData.php
  app/Jobs/CacheCurrenciesHistory.php
  app/Services/MarketDataProviders/AbstractMarketDataProvider.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  config/explorer.php
  tests/Unit/Console/Commands/CacheCurrenciesDataTest.php
  tests/Unit/Console/Commands/CachePricesTest.php
  tests/Unit/Jobs/CacheCurrenciesHistoryTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
Labels: refactor

#67 feat: add vote deeplink to delegate pages
  .env.example
  app/Http/Livewire/WalletQrCode.php
  app/Services/ArkVaultUrlBuilder.php
  app/ViewModels/Concerns/Wallet/CanBeDelegate.php
  app/ViewModels/WalletViewModel.php
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/css/_general.css
  resources/css/_tables.css
  resources/icons/qr-code.svg
  resources/lang/en/actions.php
  resources/views/components/page-headers/wallet.blade.php
  resources/views/components/page-headers/wallet/actions/vote.blade.php
  resources/views/components/page-headers/wallet/frame-item.blade.php
  resources/views/components/page-headers/wallet/frame.blade.php
  resources/views/components/tables/desktop/delegates/active.blade.php
  resources/views/components/tables/desktop/delegates/standby.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/active.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/standby.blade.php
  resources/views/components/tables/rows/desktop/vote.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/Services/ArkVaultUrlBuilderTest.php
  tests/Unit/Services/Blockchain/NetworkTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: feature

#85 fix: transactions filter mismatch when switching tabs
  resources/views/components/latest-records-tabs.blade.php
Labels: bugfix

#84 chore: merge develop into staging
  .env.example
  app/Console/Commands/CacheCurrenciesData.php
  app/Console/Commands/ClearExpiredViews.php
  app/Http/Livewire/Concerns/ManagesLatestTransactions.php
  app/Http/Livewire/LatestRecords.php
  app/Http/Livewire/WalletQrCode.php
  app/Jobs/CacheCurrenciesHistory.php
  app/Repositories/TransactionRepository.php
  app/Services/ArkVaultUrlBuilder.php
  app/Services/MarketDataProviders/AbstractMarketDataProvider.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  app/Services/Monitor/DelegateTracker.php
  app/ViewModels/Concerns/Transaction/InteractsWithMultiSignature.php
  app/ViewModels/Concerns/Wallet/CanBeDelegate.php
  app/ViewModels/WalletViewModel.php
  composer.json
  composer.lock
  config/explorer.php
  package.json
  public/css/app.css
  public/js/app.js
  public/js/app.js.LICENSE.txt
  public/js/vendor.js
  public/js/vendor.js.LICENSE.txt
  public/mix-manifest.json
  resources/css/_general.css
  resources/css/_tables.css
  resources/icons/qr-code.svg
  resources/js/tabs.js
  resources/lang/en/actions.php
  resources/views/components/latest-records-tabs.blade.php
  resources/views/components/page-headers/wallet.blade.php
  resources/views/components/page-headers/wallet/actions/vote.blade.php
  resources/views/components/page-headers/wallet/frame-item.blade.php
  resources/views/components/page-headers/wallet/frame.blade.php
  resources/views/components/rich-select.blade.php
  resources/views/components/tables/desktop/delegates/active.blade.php
  resources/views/components/tables/desktop/delegates/standby.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/active.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/standby.blade.php
  resources/views/components/tables/rows/desktop/vote.blade.php
  resources/views/livewire/latest-records.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Feature/Http/Livewire/LatestRecordsTest.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/Console/Commands/CacheCurrenciesDataTest.php
  tests/Unit/Console/Commands/CachePricesTest.php
  tests/Unit/Jobs/CacheCurrenciesHistoryTest.php
  tests/Unit/Services/ArkVaultUrlBuilderTest.php
  tests/Unit/Services/Blockchain/NetworkTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
  yarn.lock
Labels: chore

#89 chore: add boldninja to codeowners
  CODEOWNERS
Labels: chore

#88 chore: merge staging into master
  .env.example
  app/Console/Commands/CacheCurrenciesData.php
  app/Console/Commands/ClearExpiredViews.php
  app/Http/Livewire/Concerns/ManagesLatestTransactions.php
  app/Http/Livewire/LatestRecords.php
  app/Http/Livewire/WalletQrCode.php
  app/Jobs/CacheCurrenciesHistory.php
  app/Repositories/TransactionRepository.php
  app/Services/ArkVaultUrlBuilder.php
  app/Services/MarketDataProviders/AbstractMarketDataProvider.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  app/Services/Monitor/DelegateTracker.php
  app/ViewModels/Concerns/Transaction/InteractsWithMultiSignature.php
  app/ViewModels/Concerns/Wallet/CanBeDelegate.php
  app/ViewModels/WalletViewModel.php
  composer.json
  composer.lock
  config/explorer.php
  package.json
  public/css/app.css
  public/js/app.js
  public/js/app.js.LICENSE.txt
  public/js/vendor.js
  public/js/vendor.js.LICENSE.txt
  public/mix-manifest.json
  resources/css/_general.css
  resources/css/_tables.css
  resources/icons/qr-code.svg
  resources/js/tabs.js
  resources/lang/en/actions.php
  resources/views/components/latest-records-tabs.blade.php
  resources/views/components/page-headers/wallet.blade.php
  resources/views/components/page-headers/wallet/actions/vote.blade.php
  resources/views/components/page-headers/wallet/frame-item.blade.php
  resources/views/components/page-headers/wallet/frame.blade.php
  resources/views/components/rich-select.blade.php
  resources/views/components/tables/desktop/delegates/active.blade.php
  resources/views/components/tables/desktop/delegates/standby.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/active.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/standby.blade.php
  resources/views/components/tables/rows/desktop/vote.blade.php
  resources/views/livewire/latest-records.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Feature/Http/Livewire/LatestRecordsTest.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/Console/Commands/CacheCurrenciesDataTest.php
  tests/Unit/Console/Commands/CachePricesTest.php
  tests/Unit/Jobs/CacheCurrenciesHistoryTest.php
  tests/Unit/Services/ArkVaultUrlBuilderTest.php
  tests/Unit/Services/Blockchain/NetworkTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
  yarn.lock
Labels: chore
