Repository ArdentHQ/arkscan, pull requests merged in 2022-06, with the labels that each got.

#38 refactor: ignore additional view exceptions
  app/Exceptions/Sentry.php
  tests/Unit/SentryTest.php
Labels: refactor

#40 fix: flaky cache clear test
  tests/Unit/Console/Commands/ClearExpiredViewsTest.php
Labels: bugfix

#42 fix: navbar name spacing
  resources/views/components/navbar/logo.blade.php
Labels: bugfix

#43 fix: handle no navbar name
  resources/views/components/navbar/logo.blade.php
Labels: bugfix

#41 refactor: use foundation telescope
  composer.json
  composer.lock
  config/app.php
  config/telescope.php
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  public/vendor/telescope/app-dark.css
  public/vendor/telescope/app.css
  public/vendor/telescope/app.js
  public/vendor/telescope/favicon.ico
  public/vendor/telescope/mix-manifest.json
Labels: refactor

#45 refactor: fix intermittent test
  .github/workflows/ci.yml
  app/DTO/Slot.php
  app/Http/Livewire/Concerns/DelegateData.php
  tests/Unit/DTO/SlotTest.php
Labels: refactor

#46 fix: transaction filter dropdown width
  public/js/app.js
  public/mix-manifest.json
  resources/js/app.js
  resources/js/rich-select.js
  resources/views/components/general/search/advanced-search.blade.php
  resources/views/components/rich-select.blade.php
  resources/views/components/search/transaction.blade.php
  resources/views/components/stats/insight.blade.php
  resources/views/components/stats/periods-selector.blade.php
  resources/views/components/transaction-table-filter.blade.php
  resources/views/livewire/navbar-settings.blade.php
Labels: bugfix

#47 chore: merge develop into staging
  .github/workflows/ci.yml
  app/DTO/Slot.php
  app/Http/Livewire/Concerns/DelegateData.php
  public/js/app.js
  public/mix-manifest.json
  resources/js/app.js
  resources/js/rich-select.js
  resources/views/components/general/search/advanced-search.blade.php
  resources/views/components/rich-select.blade.php
  resources/views/components/search/transaction.blade.php
  resources/views/components/stats/insight.blade.php
  resources/views/components/stats/periods-selector.blade.php
  resources/views/components/transaction-table-filter.blade.php
  resources/views/livewire/navbar-settings.blade.php
  tests/Unit/DTO/SlotTest.php
Labels: chore

#48 chore: merge staging into master
  .github/workflows/ci.yml
  app/DTO/Slot.php
  app/Http/Livewire/Concerns/DelegateData.php
  public/js/app.js
  public/mix-manifest.json
  resources/js/app.js
  resources/js/rich-select.js
  resources/views/components/general/search/advanced-search.blade.php
  resources/views/components/rich-select.blade.php
  resources/views/components/search/transaction.blade.php
  resources/views/components/stats/insight.blade.php
  resources/views/components/stats/periods-selector.blade.php
  resources/views/components/transaction-table-filter.blade.php
  resources/views/livewire/navbar-settings.blade.php
  tests/Unit/DTO/SlotTest.php
Labels: chore
