Repository ArdentHQ/arkscan, pull requests merged in 2023-08, with the labels that each got.

#464 chore: update foundation dependency
  composer.json
  composer.lock
Labels: chore

#463 refactor: use modal for filter on mobile
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/general.php
  resources/views/components/general/dropdown/alpine-list-checkbox.blade.php
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/tables/filters/includes/checkbox.blade.php
  resources/views/components/tables/filters/includes/group.blade.php
  resources/views/components/tables/filters/includes/item.blade.php
  resources/views/components/tables/filters/transactions.blade.php
Labels: refactor

#469 fix: filter padding on 640px devices
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/general.php
  resources/views/components/general/dropdown/filter.blade.php
Labels: bugfix

#470 chore: merge develop into staging
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/general.php
  resources/views/components/general/dropdown/filter.blade.php
Labels: chore

#465 refactor: update delegates headers
  composer.json
  composer.lock
  public/css/app.css
  public/images/delegates/header-bg-dark.svg
  public/images/delegates/header-bg-mobile-dark.svg
  public/images/delegates/header-bg-mobile.svg
  public/images/delegates/header-bg.svg
  public/js/app.js
  public/mix-manifest.json
  resources/images/delegates/header-bg-dark.svg
  resources/images/delegates/header-bg-mobile-dark.svg
  resources/images/delegates/header-bg-mobile.svg
  resources/images/delegates/header-bg.svg
  resources/lang/en/actions.php
  resources/lang/en/pages.php
  resources/lang/en/urls.php
  resources/views/app/delegates.blade.php
  resources/views/components/general/badge.blade.php
  resources/views/components/general/encapsulated/transaction-type-badge.blade.php
  resources/views/components/page-headers/delegates.blade.php
  resources/views/components/page-headers/delegates/explore.blade.php
  resources/views/components/page-headers/delegates/header-item.blade.php
  resources/views/components/page-headers/delegates/missed-blocks.blade.php
  resources/views/components/page-headers/delegates/voting.blade.php
  resources/views/livewire/delegate-data-boxes.blade.php
  tailwind.config.js
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
Labels: refactor

#473 chore: update PHP dependencies
  composer.json
  composer.lock
  public/js/app.js
  public/mix-manifest.json
Labels: chore

#472 refactor: delegate backend stats
  app/Http/Livewire/DelegateDataBoxes.php
  app/Services/Cache/DelegateCache.php
  app/Services/Cache/MonitorCache.php
  app/Services/NumberFormatter.php
  resources/views/components/page-headers/delegates.blade.php
  resources/views/components/page-headers/delegates/missed-blocks.blade.php
  resources/views/components/page-headers/delegates/voting.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/vote-percentage.blade.php
  resources/views/livewire/delegate-data-boxes.blade.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Feature/Http/Livewire/DelegateMonitorTest.php
  tests/Unit/Services/NumberFormatterTest.php
Labels: refactor

#474 refactor: forging stats missed block height
  app/Contracts/Services/Monitor/MissedBlocksCalculator.php
  app/Facades/Services/Monitor/MissedBlocksCalculator.php
  app/Jobs/BuildForgingStats.php
  app/Models/ForgingStats.php
  app/Providers/AppServiceProvider.php
  app/Services/Monitor/MissedBlocksCalculator.php
  database/migrations/2023_08_07_183334_add_missed_height_to_forging_stats_table.php
  tests/Unit/Console/Commands/BuildForgingStatsTest.php
  tests/migrations/2023_08_07_183334_add_missed_height_to_forging_stats_table.php
Labels: refactor

#475 refactor: move delegate monitor
  app/Http/Livewire/DelegateDataBoxes.php
  app/Http/Livewire/Delegates/HeaderStats.php
  app/Providers/AppServiceProvider.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/menus.php
  resources/lang/en/metatags.php
  resources/lang/en/pages.php
  resources/views/app/delegate-monitor.blade.php
  resources/views/app/delegates.blade.php
  resources/views/components/page-headers/delegates.blade.php
  resources/views/components/page-headers/generic.blade.php
  resources/views/livewire/delegate-data-boxes.blade.php
  resources/views/livewire/delegates/header-stats.blade.php
  routes/web.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Feature/Http/Livewire/Delegates/HeaderStatsTest.php
Labels: refactor

#476 feat: missed blocks table
  app/Console/Commands/CacheDelegateVoterCounts.php
  app/Http/Livewire/Delegates/HeaderStats.php
  app/Http/Livewire/Delegates/MissedBlocks.php
  app/Http/Livewire/Delegates/Tabs.php
  app/Http/Livewire/WalletTables.php
  app/Models/ForgingStats.php
  app/Services/Cache/DelegateCache.php
  app/ViewModels/ForgingStatsViewModel.php
  app/ViewModels/ViewModelFactory.php
  database/factories/ForgingStatsFactory.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/lang/en/tables.php
  resources/views/app/delegates.blade.php
  resources/views/components/delegates/tables/missed-blocks.blade.php
  resources/views/components/general/dropdown/arrow.blade.php
  resources/views/components/page-headers/delegates/missed-blocks.blade.php
  resources/views/components/skeletons/delegates/missed-blocks.blade.php
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  resources/views/components/tables/desktop/delegates/missed-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/missed-blocks.blade.php
  resources/views/components/tables/headers/mobile/encapsulated/block-height.blade.php
  resources/views/components/tables/mobile/delegates/missed-blocks.blade.php
  resources/views/components/tables/mobile/skeleton/delegates/missed-blocks.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/age.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/block-height.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/number-of-voters.blade.php
  resources/views/components/tables/rows/mobile.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/cell.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/number-of-voters.blade.php
  resources/views/components/tables/toolbars/delegates/missed-blocks.blade.php
  resources/views/livewire/delegates/missed-blocks.blade.php
  resources/views/livewire/delegates/tabs.blade.php
  tests/Feature/Http/Livewire/Delegates/HeaderStatsTest.php
  tests/Feature/Http/Livewire/Delegates/MissedBlocksTest.php
  tests/Feature/Http/Livewire/Delegates/TabsTest.php
  tests/Unit/Console/Commands/CacheDelegateVoterCountsTest.php
  tests/Unit/ViewModels/ForgingStatsViewModelTest.php
  tests/Unit/ViewModels/ViewModelFactoryTest.php
Labels: feature

#479 feat: recent votes table
  app/Http/Livewire/Delegates/RecentVotes.php
  app/Http/Livewire/Delegates/Tabs.php
  resources/lang/en/tables.php
  resources/views/app/delegates.blade.php
  resources/views/components/delegates/tables/recent-votes.blade.php
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/skeletons/delegates/recent-votes.blade.php
  resources/views/components/tables/desktop/delegates/recent-votes.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/recent-votes.blade.php
  resources/views/components/tables/filters/recent-votes.blade.php
  resources/views/components/tables/mobile/delegates/recent-votes.blade.php
  resources/views/components/tables/mobile/skeleton/delegates/recent-votes.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/vote-address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/transaction.blade.php
  resources/views/components/tables/toolbars/delegates/recent-votes.blade.php
  resources/views/livewire/delegates/recent-votes.blade.php
  resources/views/livewire/delegates/tabs.blade.php
  tests/Feature/Http/Livewire/Delegates/RecentVotesTest.php
  tests/Feature/Http/Livewire/Delegates/TabsTest.php
Labels: feature

#481 feat: recent votes filter
  app/Http/Livewire/Delegates/RecentVotes.php
  resources/lang/en/tables.php
  resources/views/components/tables/filters/includes/group.blade.php
  resources/views/components/tables/filters/recent-votes.blade.php
  tests/Feature/Http/Livewire/Delegates/RecentVotesTest.php
Labels: feature

#482 refactor: change info icon in delegate tables
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  resources/views/components/tables/desktop/delegates/missed-blocks.blade.php
Labels: refactor

#480 feat: delegates filter
  app/Http/Livewire/Concerns/HasTableFilter.php
  app/Http/Livewire/Delegates/Delegates.php
  resources/lang/en/tables.php
  resources/views/components/tables/filters/delegates.blade.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
Labels: feature

#485 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#486 chore: update JavaScript dependencies
  package.json
  yarn.lock
Labels: chore

#484 fix: mobile row is expanded console error
  resources/views/components/tables/mobile/delegates/list-table.blade.php
  resources/views/components/tables/mobile/delegates/missed-blocks.blade.php
  resources/views/components/tables/mobile/delegates/recent-votes.blade.php
Labels: bugfix

#483 fix: forging stats memory usage
  app/Jobs/BuildForgingStats.php
  tests/Unit/Console/Commands/BuildForgingStatsTest.php
Labels: bugfix

#488 refactor: delegate list updates
  resources/lang/en/pages.php
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  resources/views/components/tables/mobile/delegates/list-table.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/number-of-voters.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/vote-link.blade.php
  resources/views/components/tables/rows/mobile.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/vote-link.blade.php
Labels: refactor

#487 refactor: missed blocks updates
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/tables/mobile/delegates/missed-blocks.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/block-height.blade.php
Labels: refactor

#489 refactor: 30 days table toolbar suffix
  resources/lang/en/pages.php
  resources/lang/en/pagination.php
  resources/views/components/tables/toolbars/delegates/missed-blocks.blade.php
  resources/views/components/tables/toolbars/delegates/recent-votes.blade.php
  resources/views/components/tables/toolbars/toolbar.blade.php
Labels: refactor

#491 refactor: remove unnecessary delegate components
  app/Http/Livewire/DelegateActiveTable.php
  app/Http/Livewire/DelegateResignedTable.php
  app/Http/Livewire/DelegateStandbyTable.php
  app/Http/Livewire/DelegateTabs.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/delegate-monitor.blade.php
  resources/views/components/tables/desktop/delegates/active.blade.php
  resources/views/components/tables/desktop/delegates/resigned.blade.php
  resources/views/components/tables/desktop/delegates/standby.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/active.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/resigned.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/standby.blade.php
  resources/views/livewire/delegate-active-table.blade.php
  resources/views/livewire/delegate-resigned-table.blade.php
  resources/views/livewire/delegate-standby-table.blade.php
  resources/views/livewire/delegate-tabs.blade.php
  tests/Feature/Http/Livewire/DelegateActiveTableTest.php
  tests/Feature/Http/Livewire/DelegateResignedTableTest.php
  tests/Feature/Http/Livewire/DelegateStandbyTableTest.php
  tests/Feature/Http/Livewire/DelegateTabsTest.php
Labels: refactor

#492 fix: delegate votes & forged truncation in wallet overview
  resources/views/components/general/network-currency.blade.php
  resources/views/components/wallet/overview/delegate.blade.php
  resources/views/components/wallet/overview/delegate/votes.blade.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
Labels: bugfix

#503 chore: update JavaScript dependencies
  package.json
  public/js/app.js
  public/js/vendor.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#502 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#496 refactor: transactions table design
  app/Http/Controllers/TransactionsController.php
  app/Http/Livewire/Tables/Blocks.php
  app/Http/Livewire/Tables/Transactions.php
  app/Http/Livewire/Tables/Wallets.php
  app/Http/Livewire/TransactionTable.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/app/transactions.blade.php
  resources/views/components/tables/desktop/home-transactions.blade.php
  resources/views/components/tables/desktop/skeleton/home-transactions.blade.php
  resources/views/components/tables/desktop/skeleton/transactions.blade.php
  resources/views/components/tables/desktop/transactions.blade.php
  resources/views/components/tables/mobile/home-transactions.blade.php
  resources/views/components/tables/mobile/skeleton/home-transactions.blade.php
  resources/views/components/tables/mobile/transactions.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/amount.blade.php
  resources/views/components/tables/toolbars/transactions-generic.blade.php
  resources/views/components/tables/transactions.blade.php
  resources/views/livewire/latest-records.blade.php
  resources/views/livewire/tables/blocks.blade.php
  resources/views/livewire/tables/transactions.blade.php
  resources/views/livewire/tables/wallets.blade.php
  resources/views/livewire/transaction-table.blade.php
  tests/Feature/Http/Livewire/Tables/BlocksTest.php
  tests/Feature/Http/Livewire/Tables/TransactionsTest.php
  tests/Feature/Http/Livewire/Tables/WalletsTest.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
Labels: refactor

#497 refactor: transactions stats
  app/Http/Controllers/TransactionsController.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/actions.php
  resources/lang/en/pages.php
  resources/views/app/transactions.blade.php
  resources/views/components/page-headers/delegates/explore.blade.php
  resources/views/components/page-headers/delegates/missed-blocks.blade.php
  resources/views/components/page-headers/delegates/voting.blade.php
  resources/views/components/page-headers/generic.blade.php
  resources/views/components/page-headers/header-item.blade.php
  resources/views/components/page-headers/transactions.blade.php
  resources/views/components/page-headers/transactions/average-fee.blade.php
  resources/views/components/page-headers/transactions/total-fees.blade.php
  resources/views/components/page-headers/transactions/transaction-count.blade.php
  resources/views/components/page-headers/transactions/volume.blade.php
  tests/Feature/Http/Controllers/TransactionsControllerTest.php
Labels: refactor

#501 feat: transactions table filter
  app/Http/Livewire/TransactionTable.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Models/Transaction.php
  resources/views/components/tables/filters/transactions-generic.blade.php
  resources/views/components/tables/toolbars/transactions-generic.blade.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
Labels: feature

#506 chore: merge transactions page redesign into develop
  app/Http/Controllers/TransactionsController.php
  app/Http/Livewire/Tables/Blocks.php
  app/Http/Livewire/Tables/Transactions.php
  app/Http/Livewire/Tables/Wallets.php
  app/Http/Livewire/TransactionTable.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Models/Transaction.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/actions.php
  resources/lang/en/pages.php
  resources/views/app/transactions.blade.php
  resources/views/components/page-headers/delegates/explore.blade.php
  resources/views/components/page-headers/delegates/missed-blocks.blade.php
  resources/views/components/page-headers/delegates/voting.blade.php
  resources/views/components/page-headers/generic.blade.php
  resources/views/components/page-headers/header-item.blade.php
  resources/views/components/page-headers/transactions.blade.php
  resources/views/components/page-headers/transactions/average-fee.blade.php
  resources/views/components/page-headers/transactions/total-fees.blade.php
  resources/views/components/page-headers/transactions/transaction-count.blade.php
  resources/views/components/page-headers/transactions/volume.blade.php
  resources/views/components/tables/desktop/home-transactions.blade.php
  resources/views/components/tables/desktop/skeleton/home-transactions.blade.php
  resources/views/components/tables/desktop/skeleton/transactions.blade.php
  resources/views/components/tables/desktop/transactions.blade.php
  resources/views/components/tables/filters/transactions-generic.blade.php
  resources/views/components/tables/mobile/home-transactions.blade.php
  resources/views/components/tables/mobile/skeleton/home-transactions.blade.php
  resources/views/components/tables/mobile/transactions.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/amount.blade.php
  resources/views/components/tables/toolbars/transactions-generic.blade.php
  resources/views/components/tables/transactions.blade.php
  resources/views/livewire/latest-records.blade.php
  resources/views/livewire/tables/blocks.blade.php
  resources/views/livewire/tables/transactions.blade.php
  resources/views/livewire/tables/wallets.blade.php
  resources/views/livewire/transaction-table.blade.php
  resources/views/transactions.blade.php
  tests/Feature/Http/Controllers/TransactionsControllerTest.php
  tests/Feature/Http/Livewire/Tables/BlocksTest.php
  tests/Feature/Http/Livewire/Tables/TransactionsTest.php
  tests/Feature/Http/Livewire/Tables/WalletsTest.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
Labels: chore

#505 refactor: delegate voters show username if available
  resources/views/components/tables/desktop/wallet-voters.blade.php
  resources/views/components/tables/headers/mobile/encapsulated/address.blade.php
  resources/views/components/tables/mobile/wallet-voters.blade.php
Labels: refactor
