Repository ArdentHQ/arkscan, pull requests merged in 2023-06, with the labels that each got.

#250 refactor: exchange table sorting
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/js/app.js
  resources/js/table-sorting.js
  resources/views/components/tables/desktop/exchanges.blade.php
  resources/views/components/tables/headers/desktop/includes/sort-icon.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/headers/desktop/text.blade.php
Labels: refactor

#246 refactor: show 4 decimals in exchanges prices
  app/Services/NumberFormatter.php
  resources/views/components/tables/desktop/exchanges.blade.php
  resources/views/components/tables/mobile/exchanges.blade.php
  tests/Unit/Services/NumberFormatterTest.php
Labels: refactor

#255 fix: close navbar dropdown on outside click
  resources/views/components/navbar/navbar.blade.php
Labels: bugfix

#253 refactor: update navbar home hover color
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/item.blade.php
Labels: refactor

#256 fix: exchange sorting on dropdown change
  public/js/app.js
  public/mix-manifest.json
  resources/js/table-sorting.js
Labels: bugfix

#254 refactor: reduce mobile network font size
  resources/views/components/navbar/network-dropdown.blade.php
Labels: refactor

#249 feat: meilisearch
  .env.example
  app/Console/Commands/ImportCommand.php
  app/Console/Commands/ScoutIndexModels.php
  app/Console/Commands/ScoutPauseIndexing.php
  app/Console/Commands/ScoutResumeIndexing.php
  app/Contracts/Search.php
  app/Http/Livewire/Concerns/ManagesSearch.php
  app/Jobs/IndexBlocks.php
  app/Jobs/IndexModel.php
  app/Jobs/IndexTransactions.php
  app/Jobs/IndexWallets.php
  app/Models/Block.php
  app/Models/Composers/MultiPaymentAmountValueRangeComposer.php
  app/Models/Composers/TimestampRangeComposer.php
  app/Models/Composers/ValueRangeComposer.php
  app/Models/Transaction.php
  app/Models/Wallet.php
  app/Services/Search/BlockSearch.php
  app/Services/Search/Traits/ValidatesTerm.php
  app/Services/Search/TransactionSearch.php
  app/Services/Search/WalletSearch.php
  app/ViewModels/WalletViewModel.php
  composer.json
  composer.lock
  config/scout.php
  phpunit.xml
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/search/search-input.blade.php
  resources/views/components/general/search/search-modal.blade.php
  resources/views/components/search/block.blade.php
  resources/views/components/search/transaction.blade.php
  resources/views/components/search/wallet.blade.php
  resources/views/livewire/navbar/search.blade.php
  tests/Feature/Http/Livewire/Navbar/SearchTest.php
  tests/Unit/Console/Commands/ImportCommandTest.php
  tests/Unit/Console/Commands/ScoutIndexModelsTest.php
  tests/Unit/Console/Commands/ScoutPauseIndexingTest.php
  tests/Unit/Console/Commands/ScoutResumeIndexingTest.php
  tests/Unit/Jobs/IndexBlocksTest.php
  tests/Unit/Jobs/IndexTransactionsTest.php
  tests/Unit/Jobs/IndexWalletsTest.php
  tests/Unit/Models/BlockTest.php
  tests/Unit/Models/TransactionTest.php
  tests/Unit/Models/WalletTest.php
  tests/Unit/Repositories/WalletRepositoryTest.php
  tests/Unit/Repositories/WalletRepositoryWithCacheTest.php
  tests/Unit/Services/Search/BlockSearchTest.php
  tests/Unit/Services/Search/TransactionSearchTest.php
  tests/Unit/Services/Search/WalletSearchTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: feature

#259 feat: add known wallets search
  app/Http/Livewire/Concerns/ManagesSearch.php
  tests/Feature/Http/Livewire/Navbar/SearchTest.php
Labels: feature

#262 fix: ensure page size is persisted in top wallets table
  app/Http/Livewire/WalletTable.php
  resources/views/components/general/pagination/includes/middle.blade.php
Labels: bugfix

#265 refactor: use currency formatter for price ticker
  app/Services/NumberFormatter.php
  resources/views/livewire/price-ticker.blade.php
  tests/Unit/Services/NumberFormatterTest.php
  tests/__snapshots__/NumberFormatterTest__it_should_format_fiat_currency_with_the_correct_decimal_places__1.txt
  tests/__snapshots__/NumberFormatterTest__it_should_format_fiat_currency_with_the_correct_decimal_places__2.txt
  tests/__snapshots__/NumberFormatterTest__it_should_format_fiat_currency_with_the_correct_decimal_places__3.txt
  tests/__snapshots__/NumberFormatterTest__it_should_format_fiat_currency_with_the_correct_decimal_places__4.txt
  tests/__snapshots__/NumberFormatterTest__it_should_format_fiat_currency_with_the_correct_decimal_places__5.txt
  tests/__snapshots__/NumberFormatterTest__it_should_format_fiat_currency_with_the_correct_decimal_places__6.txt
  tests/__snapshots__/TransactionViewModelTest__it_should_get_the_amount_as_fiat__1.txt
  tests/__snapshots__/TransactionViewModelTest__it_should_get_the_amount_in_fiat_for_multi_payments_excluding_payment_to_the_same_address__1.txt
  tests/__snapshots__/TransactionViewModelTest__it_should_get_the_specific_multi_payment_fiat_amount_for_a_wallet_recipient__1.txt
Labels: refactor

#257 refactor: update table skeleton
  app/View/Components/TableSkeleton.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/loading/visible.blade.php
  resources/views/components/skeletons/top-accounts.blade.php
  resources/views/components/tables/desktop/skeleton/exchanges.blade.php
  resources/views/components/tables/desktop/skeleton/top-accounts.blade.php
  resources/views/components/tables/headers/desktop/address.blade.php
  resources/views/components/tables/mobile/skeleton/top-accounts.blade.php
  resources/views/components/tables/skeletons/encapsulated/desktop.blade.php
  resources/views/livewire/wallet-table.blade.php
Labels: refactor

#260 refactor: update search icon color
  resources/views/components/general/search/search-input.blade.php
  resources/views/livewire/navbar/search.blade.php
Labels: refactor

#258 refactor: separate top accounts table & revert wallets table
  app/Http/Livewire/TopAccountsTable.php
  resources/views/app/top-accounts.blade.php
  resources/views/components/tables/desktop/top-accounts.blade.php
  resources/views/components/tables/desktop/wallets.blade.php
  resources/views/components/tables/mobile/top-accounts.blade.php
  resources/views/components/tables/mobile/wallets.blade.php
  resources/views/livewire/top-accounts-table.blade.php
  resources/views/livewire/wallet-voter-table.blade.php
  tests/Feature/Http/Livewire/TopAccountsTableTest.php
Labels: refactor

#261 refactor: mobile reduce price ticker dropdown icon
  public/css/app.css
  public/mix-manifest.json
  resources/views/livewire/price-ticker.blade.php
Labels: refactor

#266 fix: exchange price & volume trimming
  app/Services/NumberFormatter.php
  tests/Unit/Services/NumberFormatterTest.php
Labels: bugfix

#268 refactor: search results adjustments
  app/Console/Commands/ImportCommand.php
  app/Contracts/Search.php
  app/Enums/SQLEnum.php
  app/Http/Livewire/Concerns/ManagesSearch.php
  app/Services/Search/BlockSearch.php
  app/Services/Search/Traits/ValidatesTerm.php
  app/Services/Search/TransactionSearch.php
  app/Services/Search/WalletSearch.php
  config/scout.php
  tests/Feature/Http/Livewire/Navbar/SearchTest.php
  tests/Unit/Services/Search/BlockSearchTest.php
Labels: refactor

#269 refactor: schedule scout index models
  app/Console/Kernel.php
  tests/Feature/Console/KernelTest.php
Labels: refactor

#270 fix: search wallet truncation
  resources/views/components/general/identity.blade.php
  resources/views/components/general/search/search-modal.blade.php
  resources/views/components/search/results/wallet.blade.php
Labels: bugfix

#271 refactor: remove possibility of using expanded tables
  app/Facades/Settings.php
  app/Services/Settings.php
  resources/views/layouts/app.blade.php
  tests/Unit/Services/SettingsTest.php
Labels: refactor

#272 fix: wallet images on safari
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/compatible-wallets/wallet-grid.blade.php
Labels: bugfix

#278 refactor: blocks page not loading
  resources/views/blocks.blade.php
Labels: refactor

#277 refactor: price ticker prevent body scrolling
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/dropdown/dropdown.blade.php
Labels: refactor

#280 feat: run scout jobs in his own queue
  app/Console/Commands/ScoutIndexModels.php
  config/horizon.php
Labels: feature

#279 feat: schedule reindex wallets
  app/Console/Commands/ImportCommand.php
  app/Console/Kernel.php
  tests/Unit/Console/Commands/ImportCommandTest.php
Labels: feature

#286 refactor: redirect wallets to top accounts
  routes/web.php
Labels: refactor

#287 chore: merge develop into staging
  routes/web.php
Labels: chore

#289 fix: hidden voters & blocks tables
  resources/views/app/blocks-by-wallet.blade.php
  resources/views/app/voters-by-wallet.blade.php
Labels: bugfix

#290 chore: merge develop into staging
  resources/views/app/blocks-by-wallet.blade.php
  resources/views/app/voters-by-wallet.blade.php
Labels: chore

#291 refactor: config to disable scout jobs
  .env.example
  app/Console/Kernel.php
  config/explorer.php
  tests/Feature/Console/KernelTest.php
Labels: refactor

#293 chore: merge staging into master
  .env.example
  app/Console/Kernel.php
  config/explorer.php
  tests/Feature/Console/KernelTest.php
Labels: chore

#282 refactor: update address header
  app/Http/Livewire/WalletQrCode.php
  app/ViewModels/Concerns/Wallet/CanBeDelegate.php
  app/ViewModels/WalletViewModel.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/app/wallet.blade.php
  resources/views/components/general/network-currency.blade.php
  resources/views/components/page-headers/wallet.blade.php
  resources/views/components/page-headers/wallet/actions/public-key.blade.php
  resources/views/components/page-headers/wallet/actions/qr-code.blade.php
  resources/views/components/page-headers/wallet/actions/vote.blade.php
  resources/views/components/page-headers/wallet/frame.blade.php
  resources/views/components/wallet/overview.blade.php
  resources/views/components/wallet/overview/delegate.blade.php
  resources/views/components/wallet/overview/delegate/productivity.blade.php
  resources/views/components/wallet/overview/delegate/rank.blade.php
  resources/views/components/wallet/overview/delegate/votes.blade.php
  resources/views/components/wallet/overview/item-entry.blade.php
  resources/views/components/wallet/overview/item.blade.php
  resources/views/components/wallet/overview/wallet.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: refactor

#275 chore: update PHP dependencies
  composer.json
  composer.lock
  public/js/clipboard.js
  public/mix-manifest.json
Labels: chore

#274 chore: update JavaScript dependencies
  package.json
  public/js/app.js
  public/js/manifest.js
  public/js/vendor.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#240 chore: rename `explorer` settings to `arkscan`
  app/Console/Commands/LoadExchanges.php
  app/Console/Kernel.php
  app/Http/Livewire/Modals/SubmitExchange.php
  app/Http/Livewire/Modals/SubmitWallet.php
  app/Http/Livewire/Stats/Chart.php
  app/Http/Livewire/Stats/InsightAllTimeFeesCollected.php
  app/Http/Livewire/Stats/InsightAllTimeTransactions.php
  app/Http/Livewire/Stats/InsightCurrentAverageFee.php
  app/Http/Livewire/StatsHighlights.php
  app/Providers/AppServiceProvider.php
  app/Providers/ArkscanServiceProvider.php
  app/Services/ArkVaultUrlBuilder.php
  app/Services/Blockchain/NetworkFactory.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  app/Services/Settings.php
  config/app.php
  config/arkscan.php
  resources/views/components/navbar/network-dropdown.blade.php
  resources/views/components/tables/desktop/exchanges.blade.php
  resources/views/components/tables/mobile/exchanges.blade.php
  resources/views/livewire/price-ticker.blade.php
  tests/Feature/Console/KernelTest.php
  tests/Feature/Http/Controllers/ExchangeControllerTest.php
  tests/Feature/Http/Livewire/BlockTableTest.php
  tests/Feature/Http/Livewire/BlockTransactionsTableTest.php
  tests/Feature/Http/Livewire/Navbar/SearchTest.php
  tests/Feature/Http/Livewire/NetworkStatusBlockPriceTest.php
  tests/Feature/Http/Livewire/NetworkStatusBlockTest.php
  tests/Feature/Http/Livewire/PriceStatsTest.php
  tests/Feature/Http/Livewire/PriceTickerTest.php
  tests/Feature/Http/Livewire/Stats/ChartTest.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/TestCase.php
  tests/Unit/Console/Commands/CacheCurrenciesDataTest.php
  tests/Unit/Console/Commands/CacheCurrenciesHistoryTest.php
  tests/Unit/Console/Commands/CacheDelegateUsernamesTest.php
  tests/Unit/Console/Commands/CachePricesTest.php
  tests/Unit/Console/Commands/LoadExchangesTest.php
  tests/Unit/Jobs/CacheCurrenciesHistoryTest.php
  tests/Unit/Services/ArkVaultUrlBuilderTest.php
  tests/Unit/Services/FormsTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
  tests/Unit/Services/SettingsTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: chore

#295 refactor: only poll visible price ticker
  resources/views/livewire/price-ticker.blade.php
Labels: refactor

#283 refactor: copy button updates
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/page-headers/wallet.blade.php
Labels: refactor

#285 refactor: qr code changes
  app/Http/Livewire/WalletQrCode.php
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
Labels: refactor

#284 refactor: public key modal updates
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/page-headers/wallet/actions/public-key.blade.php
Labels: refactor

#298 refactor: wallet transactions table
  app/Services/ExchangeRate.php
  app/Services/NumberFormatter.php
  app/ViewModels/TransactionViewModel.php
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/css/_theme.css
  resources/js/app.js
  resources/lang/en/general.php
  resources/lang/en/tables.php
  resources/views/components/general/encapsulated/amount-fiat-tooltip.blade.php
  resources/views/components/general/encapsulated/transaction-type.blade.php
  resources/views/components/tables/desktop/wallet-transactions.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/mobile/exchanges.blade.php
  resources/views/components/tables/mobile/includes/encapsulated.blade.php
  resources/views/components/tables/mobile/wallet-transactions.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/age.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/amount.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/fee.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/transaction-id.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/transaction-type.blade.php
  resources/views/components/tables/rows/mobile.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/age.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/amount.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/fee.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/transaction-id.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/transaction.blade.php
  resources/views/livewire/wallet-tables.blade.php
  tailwind.config.js
  tests/Feature/Http/Livewire/WalletTablesTest.php
Labels: refactor

#302 refactor: update productivity values
  .env.example
  config/arkscan.php
  resources/views/components/wallet/overview/delegate/productivity.blade.php
Labels: refactor

#301 refactor: default 25 records per page on top accounts
  app/Http/Livewire/TopAccountsTable.php
  tests/Feature/Http/Livewire/TopAccountsTableTest.php
Labels: refactor

#305 refactor: add statistics to navbar
  app/Providers/AppServiceProvider.php
Labels: refactor

#306 chore: merge staging into master
  app/Providers/AppServiceProvider.php
Labels: chore

#311 refactor: exchanges use user currency
  app/Http/Livewire/ExchangeTable.php
  app/Services/ExchangeRate.php
  app/Services/NumberFormatter.php
  resources/lang/en/tables.php
  resources/views/components/tables/desktop/exchanges.blade.php
  resources/views/components/tables/mobile/exchanges.blade.php
  tests/Unit/Services/ExchangeRateTest.php
  tests/Unit/Services/NumberFormatterTest.php
Labels: refactor

#303 refactor: wallet transactions table header
  app/View/Components/TableSkeleton.php
  composer.json
  composer.lock
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/lang/en/actions.php
  resources/lang/en/pagination.php
  resources/views/components/skeletons/wallet-transactions.blade.php
  resources/views/components/tables/desktop/skeleton/wallet-transactions.blade.php
  resources/views/components/tables/desktop/wallet-transactions.blade.php
  resources/views/components/tables/encapsulated-table.blade.php
  resources/views/components/tables/mobile/skeleton/wallet-transactions.blade.php
  resources/views/components/tables/skeletons/encapsulated/desktop.blade.php
  resources/views/components/tables/toolbars/toolbar.blade.php
  resources/views/components/tables/toolbars/transactions.blade.php
  resources/views/livewire/wallet-tables.blade.php
Labels: refactor

#307 refactor: top accounts remove avatar
  resources/views/components/general/identity.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/address.blade.php
Labels: refactor

#313 perf: improve wallet details table transaction lookup
  app/Http/Livewire/WalletTables.php
Labels: performance

#310 refactor: change pagination focus color
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/components/general/pagination/includes/arrow.blade.php
  resources/views/components/general/pagination/includes/middle.blade.php
Labels: refactor

#309 refactor: pagination magnifying glass hover
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/pagination/includes/middle.blade.php
Labels: refactor

#267 refactor: light mode encapsulated table hover
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
Labels: refactor

#308 refactor: update pagination
  .env.example
  app/Http/Livewire/Concerns/HasTablePagination.php
  app/Http/Livewire/TopAccountsTable.php
  app/Http/Livewire/WalletTables.php
  composer.lock
  config/arkscan.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/pagination/includes/arrow.blade.php
  resources/views/components/general/pagination/includes/middle.blade.php
  resources/views/components/general/pagination/table.blade.php
  resources/views/components/tables/desktop/top-accounts.blade.php
  resources/views/components/tables/desktop/wallet-transactions.blade.php
  resources/views/components/tables/encapsulated-table.blade.php
  resources/views/livewire/wallet-tables.blade.php
Labels: refactor

#314 fix: navbar dark text color single item entry
  resources/views/components/navbar/item.blade.php
Labels: bugfix

#316 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#304 refactor: wallet transactions filter ui
  app/Http/Livewire/WalletTables.php
  composer.json
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
  resources/lang/en/tables.php
  resources/views/components/exchanges/dropdown.blade.php
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/general/pagination/show-dropdown.blade.php
  resources/views/components/navbar/network-dropdown.blade.php
  resources/views/components/tables/filters/includes/checkbox.blade.php
  resources/views/components/tables/filters/includes/group.blade.php
  resources/views/components/tables/filters/includes/item.blade.php
  resources/views/components/tables/filters/transactions.blade.php
  resources/views/components/tables/toolbars/transactions.blade.php
  resources/views/livewire/price-ticker.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Livewire/WalletTablesTest.php
Labels: refactor

#317 refactor: reduce show records font size
  resources/views/components/general/pagination/table.blade.php
Labels: refactor

#320 fix: stuck copy checkmarks
  composer.lock
  public/js/clipboard.js
  public/mix-manifest.json
Labels: bugfix

#322 refactor: dark theme color adjustments
  public/css/app.css
  public/images/wallets/arrows-dark.svg
  public/mix-manifest.json
  resources/css/_tables.css
  resources/css/_theme.css
  resources/images/wallets/arrows-dark.svg
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/compatible-wallets/disclaimer.blade.php
  resources/views/components/compatible-wallets/wallet-grid.blade.php
  resources/views/components/general/encapsulated/amount-fiat-tooltip.blade.php
  resources/views/components/tables/filters/includes/checkbox.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing.blade.php
  tailwind.config.js
Labels: refactor

#324 refactor: disable transaction export button
  resources/lang/en/general.php
  resources/views/components/tables/toolbars/transactions.blade.php
Labels: refactor

#326 refactor: further dark mode adjustments
  public/css/app.css
  public/mix-manifest.json
  resources/css/_gradients.css
  resources/css/_theme.css
  resources/views/components/tables/desktop/top-accounts.blade.php
  resources/views/components/tables/filters/includes/checkbox.blade.php
  resources/views/components/tables/filters/includes/group.blade.php
  resources/views/components/tables/filters/includes/item.blade.php
  resources/views/components/tables/filters/transactions.blade.php
  resources/views/components/wallet/overview/delegate/productivity.blade.php
  resources/views/components/wallet/overview/delegate/rank.blade.php
  tailwind.config.js
Labels: refactor

#327 refactor: update top accounts copied tooltip text
  resources/views/components/tables/rows/desktop/encapsulated/address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/address.blade.php
Labels: refactor

#328 refactor: go to page 1 on show records change
  app/Http/Livewire/Concerns/HasTablePagination.php
  tests/Feature/Http/Livewire/TopAccountsTableTest.php
Labels: refactor

#323 feat: add blocks table
  app/Http/Controllers/ListBlocksByWalletController.php
  app/Http/Livewire/Concerns/DeferLoading.php
  app/Http/Livewire/WalletBlockTable.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Http/Livewire/WalletVoterTable.php
  app/ViewModels/Concerns/Wallet/CanForge.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/lang/en/tables.php
  resources/views/app/blocks-by-wallet.blade.php
  resources/views/components/page-headers/wallet/blocks.blade.php
  resources/views/components/skeletons/wallet-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/wallet-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/wallet-voters.blade.php
  resources/views/components/tables/desktop/top-accounts.blade.php
  resources/views/components/tables/desktop/wallet-blocks.blade.php
  resources/views/components/tables/desktop/wallet-voters.blade.php
  resources/views/components/tables/headers/desktop/includes/tooltip.blade.php
  resources/views/components/tables/headers/mobile/encapsulated/block-height.blade.php
  resources/views/components/tables/mobile/skeleton/wallet-blocks.blade.php
  resources/views/components/tables/mobile/wallet-blocks.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/block-height.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/rank.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/reward.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/transaction-count.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/value.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/volume.blade.php
  resources/views/components/tables/rows/mobile.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/age.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/reward.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/transaction-count.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/value.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/volume.blade.php
  resources/views/components/tables/toolbars/blocks.blade.php
  resources/views/components/tables/toolbars/toolbar.blade.php
  resources/views/components/wallet/tables/blocks.blade.php
  resources/views/livewire/wallet-block-table.blade.php
  resources/views/livewire/wallet-tables.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
  resources/views/livewire/wallet-voter-table.blade.php
  routes/web.php
  tests/Feature/Http/Controllers/ListBlocksByWalletControllerTest.php
  tests/Feature/Http/Livewire/WalletBlockTableTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
  tests/Feature/Http/Livewire/WalletVoterTableTest.php
Labels: feature

#330 refactor: update mobile row header background
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/tables/headers/mobile/encapsulated/exchange-link.blade.php
  resources/views/components/tables/mobile/exchanges.blade.php
  resources/views/components/tables/rows/mobile.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/exchanges/price.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/exchanges/top-pairs.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/exchanges/volume.blade.php
Labels: refactor

#329 fix: focus states when tabbing to components
  public/css/app.css
  public/mix-manifest.json
  resources/css/_focus_indicator.css
  resources/css/_theme.css
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/navbar/button.blade.php
  resources/views/components/navbar/item.blade.php
  resources/views/components/navbar/list-item.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/components/navbar/network-dropdown.blade.php
  resources/views/components/page-headers/wallet.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
Labels: bugfix

#332 refactor: change default table per page
  .env.example
  app/Http/Livewire/Concerns/HasTablePagination.php
  app/Http/Livewire/WalletBlockTable.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Http/Livewire/WalletVoterTable.php
  config/arkscan.php
  resources/views/components/general/pagination/table.blade.php
  resources/views/components/tables/encapsulated-table.blade.php
  tests/Feature/Http/Livewire/Concerns/HasTablePaginationTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
  tests/Feature/Http/Livewire/__stubs/TablePaginationComponentStub.php
Labels: refactor

#333 refactor: tooltip styling
  composer.lock
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/css/_theme.css
Labels: refactor

#335 fix: search identicon stacking context issue
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/search/results/block.blade.php
  resources/views/components/search/results/transaction-types/transfer.blade.php
  resources/views/components/search/results/transaction-types/vote.blade.php
  resources/views/components/search/results/transaction.blade.php
  resources/views/components/search/results/wallet.blade.php
Labels: bugfix

#336 fix: focus state for show x records dropdown
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/pagination/includes/arrow.blade.php
  resources/views/components/general/pagination/includes/middle.blade.php
  resources/views/components/general/pagination/show-dropdown.blade.php
Labels: bugfix

#338 fix: avoid search icon briefly showing upon page refresh
  resources/views/livewire/navbar/search.blade.php
Labels: bugfix

#340 fix: double up crypto value
  resources/views/components/wallet/overview/wallet.blade.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
Labels: bugfix

#341 refactor: update navbar focus & colours
  resources/views/components/navbar/network-dropdown.blade.php
  resources/views/livewire/price-ticker.blade.php
Labels: refactor

#342 fix: last cell hover background color
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
Labels: bugfix

#343 fix: dark mode secondary button focus styling
  public/css/app.css
  public/mix-manifest.json
  resources/css/_theme.css
Labels: bugfix

#347 refactor: hide wallet value if cannot be exchanged
  resources/views/components/wallet/overview/delegate/productivity.blade.php
  resources/views/components/wallet/overview/wallet.blade.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
Labels: refactor

#346 refactor: mobile hide delegate overview for non delegate
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/wallet/overview/delegate.blade.php
  resources/views/components/wallet/overview/item.blade.php
Labels: refactor

#349 refactor: php sort volume descending default
  app/Http/Livewire/ExchangeTable.php
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
  tests/Feature/Http/Livewire/ExchangeTableTest.php
Labels: refactor

#348 refactor: top align table rows
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
  resources/views/components/tables/desktop/top-accounts.blade.php
Labels: refactor

#350 refactor: mobile full width qr code
  public/css/app.css
  public/mix-manifest.json
  resources/views/livewire/wallet-qr-code.blade.php
Labels: refactor

#353 chore: merge develop into staging
  app/Http/Livewire/ExchangeTable.php
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
  resources/views/components/tables/desktop/top-accounts.blade.php
  resources/views/components/wallet/overview/delegate.blade.php
  resources/views/components/wallet/overview/delegate/productivity.blade.php
  resources/views/components/wallet/overview/item.blade.php
  resources/views/components/wallet/overview/wallet.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
  tests/Feature/Http/Livewire/ExchangeTableTest.php
Labels: chore

#354 chore: merge staging into master
  app/Http/Livewire/ExchangeTable.php
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
  resources/views/components/tables/desktop/top-accounts.blade.php
  resources/views/components/wallet/overview/delegate.blade.php
  resources/views/components/wallet/overview/delegate/productivity.blade.php
  resources/views/components/wallet/overview/item.blade.php
  resources/views/components/wallet/overview/wallet.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
  tests/Feature/Http/Livewire/ExchangeTableTest.php
Labels: chore

#352 chore: update PHP dependencies
  composer.json
  composer.lock
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
Labels: chore

#331 refactor: store query strings in url for tabs
  app/Http/Livewire/Concerns/HasTablePagination.php
  app/Http/Livewire/WalletTables.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Livewire/SupportBrowserHistoryWrapper.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
  tests/Feature/Http/Livewire/WalletTablesTest.php
Labels: refactor

#356 refactor: remove unused (advanced) search files
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/search/advanced-option.blade.php
  resources/views/components/general/search/search.blade.php
Labels: refactor

#358 refactor: table hover types column
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
  resources/views/components/tables/rows/desktop/encapsulated/transaction-type.blade.php
Labels: refactor

#355 refactor: limit known wallet results
  app/Http/Livewire/Concerns/ManagesSearch.php
  tests/Feature/Http/Livewire/Navbar/SearchTest.php
Labels: refactor

#321 refactor: meilisearch configuration
  app/Services/Search/BlockSearch.php
  app/Services/Search/TransactionSearch.php
  config/scout.php
  tests/Unit/Services/Search/BlockSearchTest.php
  tests/Unit/Services/Search/TransactionSearchTest.php
Labels: refactor

#334 refactor: remove search identicons
  resources/views/components/search/results/block.blade.php
  resources/views/components/search/results/transaction-types/transfer.blade.php
  resources/views/components/search/results/transaction-types/vote.blade.php
  resources/views/components/search/results/transaction.blade.php
  resources/views/components/search/results/wallet.blade.php
Labels: refactor

#359 feat: add tooltips to votes, unvotes and vote swaps
  composer.lock
  public/js/app.js
  public/mix-manifest.json
  resources/js/app.js
  resources/lang/en/general.php
  resources/views/components/general/encapsulated/transaction-type.blade.php
  resources/views/components/general/encapsulated/vote-type.blade.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
Labels: feature

#294 refactor: search indexing improvements
  app/Console/Commands/ImportCommand.php
  app/Console/Kernel.php
  app/Jobs/IndexModel.php
  app/Jobs/IndexWallets.php
  app/Models/Block.php
  app/Models/Wallet.php
  database/factories/WalletFactory.php
  tests/Unit/Console/Commands/ImportCommandTest.php
  tests/Unit/Jobs/IndexBlocksTest.php
  tests/Unit/Jobs/IndexTransactionsTest.php
  tests/Unit/Jobs/IndexWalletsTest.php
  tests/Unit/Models/WalletTest.php
Labels: refactor

#360 feat: transaction export ui
  app/Http/Livewire/Modals/ExportTransactions.php
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/css/_inputs.css
  resources/css/_tables.css
  resources/css/app.css
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/general/dropdown/alpine-list-checkbox.blade.php
  resources/views/components/general/dropdown/alpine-list-item.blade.php
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/input/includes/item-text.blade.php
  resources/views/components/input/js-select.blade.php
  resources/views/components/tables/toolbars/transactions.blade.php
  resources/views/livewire/modals/export-transactions.blade.php
  tests/Feature/Http/Livewire/Modals/ExportTransactionsTest.php
Labels: feature
