Repository ArdentHQ/arkscan, pull requests merged in 2023-12, with the labels that each got.

#702 refactor: handle repeated livewire request exceptions
  public/js/app.js
  public/mix-manifest.json
  resources/js/app.js
  resources/js/livewire-exception-handler.js
Labels: refactor

#710 refactor: statistics update texts
  resources/lang/en/pages.php
  resources/views/livewire/stats-highlights.blade.php
  tests/Feature/Http/Livewire/StatsHighlightsTest.php
Labels: refactor

#711 feat: statistics transaction data
  app/Console/Commands/CacheTransactions.php
  app/Enums/StatsTransactionType.php
  app/Http/Livewire/Stats/AllTimeFees.php
  app/Http/Livewire/Stats/AllTimeTransactions.php
  app/Http/Livewire/Stats/CurrentAverageFee.php
  app/Http/Livewire/Stats/Highlights.php
  app/Http/Livewire/Stats/Insights.php
  app/Models/Scopes/UnvoteSingleScope.php
  app/Models/Scopes/VoteSingleScope.php
  app/Services/Cache/TransactionCache.php
  app/Services/Transactions/Aggregates/HistoricalAggregateFactory.php
  app/Services/Transactions/Aggregates/Type/DelegateRegistrationAggregate.php
  app/Services/Transactions/Aggregates/Type/DelegateResignationAggregate.php
  app/Services/Transactions/Aggregates/Type/MultipaymentAggregate.php
  app/Services/Transactions/Aggregates/Type/TransferAggregate.php
  app/Services/Transactions/Aggregates/Type/UnvoteAggregate.php
  app/Services/Transactions/Aggregates/Type/VoteAggregate.php
  app/Services/Transactions/Aggregates/Type/VoteCombinationAggregate.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/app/statistics.blade.php
  resources/views/components/stats/information-card.blade.php
  resources/views/components/stats/information-cards.blade.php
  resources/views/components/stats/insights-wrapper.blade.php
  resources/views/components/stats/insights.blade.php
  resources/views/components/stats/insights/container.blade.php
  resources/views/components/stats/insights/row.blade.php
  resources/views/components/stats/insights/transactions.blade.php
  resources/views/components/stats/mobile-dropdown.blade.php
  resources/views/livewire/stats/all-time-fees.blade.php
  resources/views/livewire/stats/all-time-transactions.blade.php
  resources/views/livewire/stats/current-average-fee.blade.php
  resources/views/livewire/stats/highlights.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/AllTimeFeesTest.php
  tests/Feature/Http/Livewire/Stats/AllTimeTransactionsTest.php
  tests/Feature/Http/Livewire/Stats/CurrentAverageFeeTest.php
  tests/Feature/Http/Livewire/Stats/HighlightsTest.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Services/Transactions/Aggregates/HistoricalAggregateFactoryTest.php
  tests/Unit/Services/Transactions/Aggregates/Type/DelegateRegistrationAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Type/DelegateResignationAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Type/MultipaymentAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Type/TransferAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Type/UnvoteAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Type/VoteAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Type/VoteCombinationAggregateTest.php
Labels: feature

#709 chore: update JavaScript dependencies
  package.json
  yarn.lock
Labels: chore

#713 feat: statistics transaction daily averages
  app/Console/Commands/CacheTransactions.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Cache/TransactionCache.php
  app/Services/Timestamp.php
  app/Services/Transactions/Aggregates/Historical/AveragesAggregate.php
  app/Services/Transactions/Aggregates/HistoricalAggregateFactory.php
  resources/lang/en/pages.php
  resources/views/components/stats/insights/transactions.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Feature/Http/Livewire/__stubs/NetworkStub.php
  tests/Unit/Services/Transactions/Aggregates/Historical/AveragesAggregateTest.php
Labels: feature

#715 refactor: statistics transaction records
  app/Console/Commands/CacheBlocks.php
  app/Console/Commands/CacheTransactions.php
  app/Console/Kernel.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Blocks/Aggregates/HighestBlockFeeAggregate.php
  app/Services/Blocks/Aggregates/LargestBlockAggregate.php
  app/Services/Blocks/Aggregates/MostTransactionsBlockAggregate.php
  app/Services/Cache/BlockCache.php
  app/Services/Cache/TransactionCache.php
  app/Services/Transactions/Aggregates/LargestTransactionAggregate.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/stats/insights/container.blade.php
  resources/views/components/stats/insights/entity-column.blade.php
  resources/views/components/stats/insights/entity-row.blade.php
  resources/views/components/stats/insights/transactions.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheBlocksTest.php
  tests/Unit/Services/Blocks/Aggregates/HighestBlockFeeAggregateTest.php
  tests/Unit/Services/Blocks/Aggregates/LargestBlockAggregateTest.php
  tests/Unit/Services/Blocks/Aggregates/MostTransactionsBlockAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/LargestTransactionAggregateTest.php
Labels: refactor

#718 chore: update JavaScript dependencies
  package.json
  public/css/app.css
  public/mix-manifest.json
  yarn.lock
Labels: chore

#717 feat: address holdings statistics
  app/Console/Commands/CacheAddressStatistics.php
  app/Console/Kernel.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Addresses/Aggregates/HoldingsAggregate.php
  app/Services/Cache/Statistics.php
  resources/lang/en/pages.php
  resources/views/components/stats/insights/addresses.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheAddressStatisticsTest.php
Labels: feature

#719 feat: unique addresses
  app/Console/Commands/CacheAddressStatistics.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Cache/Statistics.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/stats/insights/addresses.blade.php
  resources/views/components/stats/insights/container.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheAddressStatisticsTest.php
Labels: feature

#716 feat: statistics page delegate data
  app/Console/Commands/CacheAddressStatistics.php
  app/Console/Commands/CacheDelegateStatistics.php
  app/Console/Commands/CacheDevelopmentData.php
  app/Console/Kernel.php
  app/Http/Controllers/TransactionsController.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Cache/StatisticsCache.php
  app/Services/Wallets/Aggregates/UniqueVotersAggregate.php
  app/ViewModels/Concerns/Wallet/CanForge.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/stats/insights/container.blade.php
  resources/views/components/stats/insights/delegate-row.blade.php
  resources/views/components/stats/insights/delegates.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheAddressStatisticsTest.php
  tests/Unit/Console/Commands/CacheDelegateStatisticsTest.php
Labels: feature

#720 feat: marketdata statistics
  app/Console/Commands/CacheDevelopmentData.php
  app/Console/Commands/CacheMarketDataStatistics.php
  app/Console/Kernel.php
  app/Contracts/MarketDataProvider.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Cache/StatisticsCache.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/stats/insights/marketdata.blade.php
  resources/views/components/stats/mobile-dropdown.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
  tests/__snapshots__/CoinGeckoTest__it_should_fetch_data_for_historicalAll__1.yml
  tests/fixtures/coingecko/historical_all.json
Labels: feature

#721 feat: annual data statistics
  app/Console/Commands/CacheAnnualStatistics.php
  app/Console/Commands/CacheDevelopmentData.php
  app/Console/Kernel.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Cache/StatisticsCache.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/stats/insights/annual.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
Labels: feature

#722 refactor: include multipayments in annual stats
  app/Console/Commands/CacheAnnualStatistics.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/stats/insights/delegate-row.blade.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
Labels: refactor

#723 refactor: move insights formatters to blade file
  app/Http/Livewire/Stats/Insights.php
  resources/views/components/stats/insights/marketdata.blade.php
Labels: refactor

#724 fix: market data ranges styling on mobile
  resources/views/components/stats/insights/marketdata.blade.php
Labels: bugfix

#725 fix: show more dividers for annual data on mobile
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/stats/insights/annual.blade.php
Labels: bugfix

#728 feat: newest wallet statistics
  app/Console/Commands/CacheAddressStatistics.php
  app/Services/Cache/StatisticsCache.php
Labels: feature

#727 fix: statistics alignment tweaks
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/stats/insights/addresses.blade.php
  resources/views/components/stats/insights/container.blade.php
  resources/views/components/stats/insights/desktop/transaction-record-row.blade.php
  resources/views/components/stats/insights/entity-column.blade.php
  resources/views/components/stats/insights/entity-row.blade.php
  resources/views/components/stats/insights/mobile/transaction-record-row.blade.php
  resources/views/components/stats/insights/transactions.blade.php
Labels: bugfix

#729 feat: support multiple currencies for marketdata
  app/Console/Commands/CacheMarketDataStatistics.php
  app/Contracts/MarketDataProvider.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Cache/CryptoDataCache.php
  app/Services/Cache/StatisticsCache.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  resources/views/components/stats/insights/marketdata.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
Labels: feature

#731 fix: stats container spacing mobile interference
  resources/views/components/stats/insights/container.blade.php
  resources/views/components/stats/insights/transactions.blade.php
Labels: bugfix

#736 fix: mobile dropdown styling on stats page
  public/css/app.css
  public/mix-manifest.json
  resources/css/_inputs.css
  resources/views/components/stats/mobile-dropdown.blade.php
Labels: bugfix

#737 chore: merge develop into staging
  public/css/app.css
  public/mix-manifest.json
  resources/css/_inputs.css
  resources/views/components/stats/insights/desktop/transaction-record-row.blade.php
  resources/views/components/stats/insights/mobile/transaction-record-row.blade.php
  resources/views/components/stats/mobile-dropdown.blade.php
Labels: chore

#738 fix: force 0 decimals for transaction record amounts
  resources/views/components/stats/insights/desktop/transaction-record-row.blade.php
  resources/views/components/stats/insights/mobile/transaction-record-row.blade.php
Labels: bugfix

#740 fix: handle decimals ending in 0 in insights
  resources/views/components/stats/insights/desktop/transaction-record-row.blade.php
  resources/views/components/stats/insights/mobile/transaction-record-row.blade.php
Labels: bugfix

#741 chore: merge develop into staging
  resources/views/components/stats/insights/desktop/transaction-record-row.blade.php
  resources/views/components/stats/insights/mobile/transaction-record-row.blade.php
Labels: chore

#743 fix: numberformatter 0 decimals edge case
  composer.lock
  resources/views/components/stats/insights/desktop/transaction-record-row.blade.php
  resources/views/components/stats/insights/mobile/transaction-record-row.blade.php
  tests/Unit/Services/NumberFormatterTest.php
Labels: bugfix

#746 chore: merge develop into staging
  resources/views/components/stats/insights/marketdata.blade.php
Labels: chore

#748 fix: wallet amount value
  composer.json
  composer.lock
  tests/Unit/Services/NumberFormatterTest.php
Labels: bugfix

#749 chore: merge develop into staging
  composer.json
  composer.lock
  tests/Unit/Services/NumberFormatterTest.php
Labels: chore

#750 chore: merge staging into master
  composer.json
  composer.lock
  tests/Unit/Services/NumberFormatterTest.php
Labels: chore

#751 refactor: currency formatting
  app/Services/NumberFormatter.php
  composer.json
  composer.lock
  resources/views/components/general/network-currency.blade.php
  resources/views/components/page-headers/delegates/voting.blade.php
  resources/views/components/search/results/transaction.blade.php
  resources/views/components/search/results/wallet.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/balance.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/votes.blade.php
  tests/Unit/Services/NumberFormatterTest.php
Labels: refactor
