Repository ArdentHQ/arkscan, pull requests merged in 2023-10, with the labels that each got.

#565 refactor: top accounts voting tooltip
  resources/lang/en/general.php
  resources/views/components/tables/rows/desktop/encapsulated/voting.blade.php
Labels: refactor

#553 refactor: tooltip skeleton page
  composer.json
  composer.lock
  public/js/app.js
  public/mix-manifest.json
  resources/js/app.js
  resources/views/app/blocks.blade.php
  resources/views/app/delegates.blade.php
  resources/views/app/top-accounts.blade.php
  resources/views/app/wallet.blade.php
  resources/views/components/tables/desktop/blocks.blade.php
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  resources/views/components/tables/desktop/delegates/missed-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/blocks.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/list-table.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/missed-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/top-accounts.blade.php
  resources/views/components/tables/desktop/skeleton/wallet-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/wallet-voters.blade.php
  resources/views/components/tables/desktop/top-accounts.blade.php
  resources/views/components/tables/desktop/wallet-blocks.blade.php
  resources/views/components/tables/desktop/wallet-voters.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/skeletons/encapsulated/desktop.blade.php
Labels: refactor

#566 refactor: home footer cta & fix mobile table pagination spacing
  public/css/app.css
  public/images/home/arrows-dark.svg
  public/images/home/arrows.svg
  public/images/home/footer-bg-dark.svg
  public/images/home/footer-bg.svg
  public/images/home/footer-dark.svg
  public/images/home/footer.svg
  public/mix-manifest.json
  resources/images/home/arrows-dark.svg
  resources/images/home/arrows.svg
  resources/images/home/footer-bg-dark.svg
  resources/images/home/footer-bg.svg
  resources/images/home/footer-dark.svg
  resources/images/home/footer.svg
  resources/lang/en/pages.php
  resources/views/app/home.blade.php
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/general/pagination/table.blade.php
  resources/views/components/home/footer.blade.php
  resources/views/components/page-headers/header-item.blade.php
  resources/views/components/tables/footers/footer.blade.php
  resources/views/livewire/block-table.blade.php
  resources/views/livewire/delegates/delegates.blade.php
  resources/views/livewire/delegates/missed-blocks.blade.php
  resources/views/livewire/delegates/recent-votes.blade.php
  resources/views/livewire/transaction-table.blade.php
  resources/views/livewire/wallet-block-table.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
  resources/views/livewire/wallet-voter-table.blade.php
Labels: refactor

#568 refactor: home footer learn more styling
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/home/footer.blade.php
Labels: refactor

#571 refactor: statistics adjustments
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/home/header.blade.php
  resources/views/components/home/stat.blade.php
  resources/views/livewire/home/chart.blade.php
Labels: refactor

#572 refactor: home transactions responsive fee
  resources/views/components/tables/desktop/home/transactions.blade.php
Labels: refactor

#564 refactor: update tooltip styling
  app/Console/Commands/CachePrices.php
  app/Http/Livewire/Concerns/StatisticsChart.php
  app/Http/Livewire/Home/Chart.php
  app/Services/Cache/PriceChartCache.php
  composer.json
  composer.lock
  public/css/app.css
  public/js/app.js
  public/js/chart-tooltip.js
  public/mix-manifest.json
  resources/js/chart-tooltip.js
  resources/views/livewire/home/chart.blade.php
  webpack.mix.js
Labels: refactor

#575 fix: default to day for homepage statistics chart
  app/Http/Livewire/Concerns/AvailablePeriods.php
Labels: bugfix

#576 fix: use initial dataset value to determine chart color
  app/Http/Livewire/Home/Chart.php
Labels: bugfix

#577 fix: homepage statistics chart mobile width
  public/css/app.css
  public/mix-manifest.json
  resources/views/livewire/home/chart.blade.php
Labels: bugfix

#578 fix: mobile statistics chart line color and data period
  app/Http/Livewire/PriceStats.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/livewire/home/chart.blade.php
  tests/Feature/Http/Livewire/PriceStatsTest.php
Labels: bugfix

#581 refactor: chart tooltip position & caret
  public/css/app.css
  public/js/chart-tooltip.js
  public/mix-manifest.json
  resources/css/_general.css
  resources/js/chart-tooltip.js
Labels: refactor

#579 refactor: hide chart or disable if network has no currency
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/home/header.blade.php
  resources/views/livewire/home/chart.blade.php
Labels: refactor

#582 fix: wallet transactions mobile amount badge styling
  resources/views/components/tables/mobile/wallet-transactions.blade.php
Labels: bugfix

#586 fix: home mobile chart hidden
  resources/views/components/home/header.blade.php
  resources/views/livewire/home/chart.blade.php
Labels: bugfix

#583 refactor: remove duplicate currency formatting
  app/Http/Livewire/Home/Chart.php
  app/Services/NumberFormatter.php
  config/currencies.php
  resources/views/components/wallet/overview/wallet.blade.php
  resources/views/livewire/home/chart.blade.php
  tests/Feature/Http/Livewire/Home/ChartsTest.php
  tests/Unit/Services/NumberFormatterTest.php
Labels: refactor

#585 refactor: home blocks loading state tooltips
  resources/views/components/tables/desktop/home/blocks.blade.php
  resources/views/components/tables/desktop/skeleton/home/blocks.blade.php
Labels: refactor

#588 refactor: hide learn more arrows on desktop when small area available
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/compatible-wallets/learn-more.blade.php
Labels: refactor

#584 refactor: home market cap suffix
  app/Services/MarketCap.php
  resources/views/livewire/home/statistics.blade.php
Labels: refactor

#562 chore: update JavaScript dependencies
  package.json
  public/js/app.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#563 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#590 chore: update JavaScript dependencies
  package.json
  public/js/vendor.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#591 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#593 fix: chart tooltip parsing
  public/js/chart-tooltip.js
  public/mix-manifest.json
  resources/js/chart-tooltip.js
Labels: bugfix

#594 chore: update homepage & meta images
  public/images/metadata/homepage.png
  public/images/metadata/support.png
  public/mix-manifest.json
  resources/images/metadata/homepage.png
  resources/images/metadata/support.png
  resources/lang/en/metatags.php
Labels: chore

#595 fix: documentation links
  app/Providers/AppServiceProvider.php
  resources/lang/en/urls.php
Labels: bugfix

#597 refactor: 404 metadata
  composer.json
  composer.lock
  public/images/metadata/404.png
  public/mix-manifest.json
  resources/images/metadata/404.png
  resources/lang/en/metatags.php
Labels: refactor

#596 chore: merge rc into staging
  app/Providers/AppServiceProvider.php
  composer.json
  composer.lock
  public/images/metadata/404.png
  public/images/metadata/homepage.png
  public/images/metadata/support.png
  public/js/chart-tooltip.js
  public/mix-manifest.json
  resources/images/metadata/404.png
  resources/images/metadata/homepage.png
  resources/images/metadata/support.png
  resources/js/chart-tooltip.js
  resources/lang/en/metatags.php
  resources/lang/en/urls.php
Labels: chore

#602 chore: add github link to navbar
  app/Providers/AppServiceProvider.php
  resources/lang/en/menus.php
  resources/lang/en/urls.php
Labels: chore

#601 chore: change twitter to x
  composer.lock
  config/social.php
Labels: chore

#600 refactor: sqlite disable missed block sorting
  app/Http/Livewire/Delegates/MissedBlocks.php
  resources/views/components/tables/desktop/delegates/missed-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/missed-blocks.blade.php
  tests/Feature/Http/Livewire/Delegates/MissedBlocksTest.php
Labels: refactor

#603 refactor: change navbar anchor for page autoscroll
  resources/views/components/navbar/mobile.blade.php
  resources/views/components/navbar/navbar.blade.php
Labels: refactor

#604 refactor: support page redesign
  app/Http/Controllers/SupportController.php
  app/Providers/AppServiceProvider.php
  composer.lock
  public/css/app.css
  public/images/metadata/support.png
  public/mix-manifest.json
  resources/images/metadata/support.png
  resources/lang/en/menus.php
  resources/lang/en/metatags.php
  resources/views/app/support.blade.php
  resources/views/components/contact.blade.php
  resources/views/components/general/mobile-divider.blade.php
  resources/views/components/page-headers/generic.blade.php
  routes/web.php
  tailwind.config.js
  tests/Feature/Http/Controllers/SupportControllerTest.php
Labels: refactor

#605 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#607 refactor: navbar network dropdown changes
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/general.php
  resources/views/components/navbar/network-dropdown.blade.php
  resources/views/components/navbar/top.blade.php
Labels: refactor

#608 refactor: statistics header & basic info updates
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/app/statistics.blade.php
  resources/views/components/stats/stat.blade.php
  resources/views/livewire/stats-highlights.blade.php
  tests/Feature/Http/Livewire/StatsHighlightsTest.php
Labels: refactor

#606 refactor: support page input styling
  public/css/app.css
  public/mix-manifest.json
  resources/css/_inputs.css
  resources/views/components/contact.blade.php
Labels: refactor

#610 fix: navbar dropdown and toggle styling
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/network-dropdown.blade.php
  resources/views/livewire/navbar/toggle.blade.php
Labels: bugfix

#612 fix: search results dark mode styling
  resources/views/components/search/results/block.blade.php
  resources/views/components/search/results/transaction-types/multi-payment.blade.php
  resources/views/components/search/results/transaction-types/other.blade.php
  resources/views/components/search/results/transaction-types/transfer.blade.php
  resources/views/components/search/results/transaction-types/vote.blade.php
  resources/views/components/search/results/transaction.blade.php
  resources/views/components/search/results/wallet.blade.php
Labels: bugfix

#609 refactor: statistics blockchain information box
  app/Http/Livewire/Stats/InsightCurrentAverageFee.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/statistics.blade.php
  resources/views/components/general/card.blade.php
  resources/views/components/rich-select.blade.php
  resources/views/components/stats/insight.blade.php
  resources/views/components/stats/insights-wrapper.blade.php
  resources/views/components/stats/price-chart.blade.php
  resources/views/components/stats/stat.blade.php
  resources/views/livewire/stats/chart.blade.php
Labels: refactor

#614 refactor: statistics chart updates
  app/Http/Livewire/Concerns/StatisticsChart.php
  app/Http/Livewire/Home/Chart.php
  app/Http/Livewire/Stats/Chart.php
  composer.json
  composer.lock
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/css/_general.css
  resources/lang/en/forms.php
  resources/lang/en/pages.php
  resources/views/components/stats/periods-selector.blade.php
  resources/views/components/tabs/tab.blade.php
  resources/views/components/tabs/wrapper.blade.php
  resources/views/livewire/delegates/tabs.blade.php
  resources/views/livewire/stats/chart.blade.php
  tests/Feature/Http/Livewire/Stats/ChartTest.php
  tests/Unit/Services/SettingsTest.php
Labels: refactor

#613 fix: navbar menu dropdowns styling in dark mode
  resources/views/components/navbar/desktop.blade.php
  resources/views/components/navbar/item.blade.php
  resources/views/components/navbar/list-item.blade.php
  resources/views/components/navbar/mobile.blade.php
Labels: bugfix

#611 fix: navbar search input styling
  public/css/app.css
  public/mix-manifest.json
  resources/views/livewire/navbar/search.blade.php
Labels: bugfix

#617 refactor: statistics padding on info boxes
  resources/views/components/stats/stat.blade.php
Labels: refactor

#618 refactor: delegate stats voting percentage
  app/Http/Livewire/Delegates/HeaderStats.php
  resources/views/components/page-headers/delegates.blade.php
  resources/views/components/page-headers/delegates/voting.blade.php
  resources/views/livewire/delegates/header-stats.blade.php
  tests/Feature/Http/Livewire/Delegates/HeaderStatsTest.php
Labels: refactor

#619 fix: statistics use user currency for min & max price
  app/Http/Livewire/Stats/Chart.php
Labels: bugfix

#620 refactor: statistics consistent voting count
  app/Http/Livewire/StatsHighlights.php
  resources/views/livewire/stats-highlights.blade.php
  tests/Feature/Http/Livewire/StatsHighlightsTest.php
Labels: refactor

#622 fix: statistics chart always red
  app/Http/Livewire/Stats/Chart.php
Labels: bugfix

#623 refactor: statistics chart price font size
  public/css/app.css
  public/mix-manifest.json
  resources/views/livewire/stats/chart.blade.php
Labels: refactor

#621 fix: top accounts mobile address loading state
  resources/views/components/tables/rows/mobile/skeletons/encapsulated/address.blade.php
  resources/views/components/tables/skeletons/encapsulated/mobile/top-accounts.blade.php
Labels: bugfix

#624 fix: price chart min max ranges
  app/Http/Livewire/Stats/Chart.php
  tests/Feature/Http/Livewire/Stats/ChartTest.php
Labels: bugfix

#626 fix: price chart use range for percentage change
  app/Http/Livewire/Stats/Chart.php
  resources/views/livewire/stats/chart.blade.php
  tests/Feature/Http/Livewire/Stats/ChartTest.php
Labels: bugfix

#627 chore: update statistics metadata image
  public/images/metadata/statistics.png
  public/mix-manifest.json
  resources/images/metadata/statistics.png
Labels: chore

#630 refactor: statistics semi bold header values
  resources/views/components/stats/insight.blade.php
Labels: refactor

#629 refactor: total voter count calculation command
  app/Console/Commands/CacheDelegateVoterCounts.php
  app/Services/Cache/DelegateCache.php
  tests/Feature/Http/Livewire/Delegates/HeaderStatsTest.php
  tests/Feature/Http/Livewire/StatsHighlightsTest.php
  tests/Unit/Console/Commands/CacheDelegateVoterCountsTest.php
Labels: refactor

#631 refactor: statistics responsive mini charts
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/statistics.blade.php
  resources/views/components/stats/insight.blade.php
Labels: refactor

#615 refactor: delegate monitor stats header
  app/Http/Livewire/DelegateDataBoxes.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/app/delegate-monitor.blade.php
  resources/views/components/delegates/monitor/stat.blade.php
  resources/views/components/general/card.blade.php
  resources/views/components/general/detail.blade.php
  resources/views/components/stats/insight.blade.php
  resources/views/livewire/delegate-data-boxes.blade.php
  resources/views/livewire/stats/chart.blade.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
Labels: refactor

#634 chore: merge develop into staging
  app/Console/Commands/CacheDelegateVoterCounts.php
  app/Services/Cache/DelegateCache.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/statistics.blade.php
  resources/views/components/stats/insight.blade.php
  tests/Feature/Http/Livewire/Delegates/HeaderStatsTest.php
  tests/Feature/Http/Livewire/StatsHighlightsTest.php
  tests/Unit/Console/Commands/CacheDelegateVoterCountsTest.php
Labels: chore

#635 chore: merge staging into master
  app/Console/Commands/CacheDelegateVoterCounts.php
  app/Services/Cache/DelegateCache.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/statistics.blade.php
  resources/views/components/stats/insight.blade.php
  tests/Feature/Http/Livewire/Delegates/HeaderStatsTest.php
  tests/Feature/Http/Livewire/StatsHighlightsTest.php
  tests/Unit/Console/Commands/CacheDelegateVoterCountsTest.php
Labels: chore

#637 refactor: md devices reduce statistic value font size
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/stats/insight.blade.php
Labels: refactor

#632 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#633 chore: update JavaScript dependencies
  package.json
  public/js/vendor.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#636 refactor: search styling
  public/css/app.css
  public/mix-manifest.json
  resources/css/_general.css
  resources/lang/en/general.php
  resources/views/components/general/detail.blade.php
  resources/views/components/general/encapsulated/transaction-direction-badge.blade.php
  resources/views/components/general/search/search-input.blade.php
  resources/views/components/general/search/search-modal.blade.php
  resources/views/components/navbar/mobile.blade.php
  resources/views/components/search/results/block.blade.php
  resources/views/components/search/results/mobile/detail.blade.php
  resources/views/components/search/results/mobile/transaction-type.blade.php
  resources/views/components/search/results/result.blade.php
  resources/views/components/search/results/transaction-types/mobile/multi-payment.blade.php
  resources/views/components/search/results/transaction-types/mobile/other.blade.php
  resources/views/components/search/results/transaction-types/mobile/transfer.blade.php
  resources/views/components/search/results/transaction-types/mobile/vote.blade.php
  resources/views/components/search/results/transaction.blade.php
  resources/views/components/search/results/wallet.blade.php
  resources/views/livewire/navbar/search.blade.php
  tests/Unit/Services/Transactions/TransactionTypeIconTest.php
Labels: refactor

#638 refactor: exchanges & top accounts loading states
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/general.php
  resources/lang/en/tables.php
  resources/views/components/exchanges/pairs.blade.php
  resources/views/components/tables/desktop/exchanges.blade.php
  resources/views/components/tables/desktop/skeleton/exchanges.blade.php
  resources/views/components/tables/desktop/skeleton/top-accounts.blade.php
  resources/views/components/tables/desktop/top-accounts.blade.php
  resources/views/components/tables/headers/desktop/includes/sort-icon.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
  resources/views/components/tables/headers/desktop/text.blade.php
  resources/views/components/tables/mobile/skeleton/exchanges.blade.php
  resources/views/components/tables/rows/desktop/balance-percentage.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/balance.blade.php
  resources/views/components/tables/rows/desktop/skeletons/exchange.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/exchanges/price.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/exchanges/top-pairs.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/exchanges/volume.blade.php
  resources/views/components/tables/rows/mobile/skeletons/circle.blade.php
  resources/views/components/tables/skeletons/encapsulated/desktop.blade.php
  resources/views/components/tables/skeletons/encapsulated/mobile/exchanges.blade.php
Labels: refactor

#642 chore: update JavaScript dependencies
  package.json
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#641 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#643 fix: favorite hover mobile state
  public/css/app.css
  public/mix-manifest.json
  resources/css/_general.css
Labels: bugfix

#645 refactor: better delegate name truncation
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/tables/desktop/delegates/monitor.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/monitor.blade.php
Labels: refactor

#644 refactor: refresh table sorting on favorite toggle
  app/Http/Livewire/Delegates/Monitor.php
  public/js/app.js
  public/mix-manifest.json
  resources/js/table-sorting.js
  resources/views/components/delegates/favorite-toggle.blade.php
  resources/views/components/skeletons/delegates/monitor.blade.php
  resources/views/components/tables/desktop/delegates/monitor.blade.php
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
  resources/views/components/tables/headers/desktop/text.blade.php
Labels: refactor

#646 refactor: delegate monitor header stats
  app/Http/Livewire/DelegateDataBoxes.php
  resources/views/livewire/delegate-data-boxes.blade.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
Labels: refactor

#647 fix: monitor favorite delegate on round change
  app/DTO/Slot.php
  public/js/app.js
  public/mix-manifest.json
  resources/js/table-sorting.js
  resources/views/components/tables/desktop/delegates/monitor.blade.php
Labels: bugfix
