Repository ArdentHQ/arkscan, pull requests merged in 2023-11, with the labels that each got.

#648 refactor: delegate monitor consistent cache ttl
  app/Services/Cache/Concerns/ManagesCache.php
  app/Services/Cache/MonitorCache.php
  app/Services/Cache/NetworkCache.php
Labels: refactor

#651 fix: sortable header duplicate classes from merge
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
Labels: bugfix

#650 refactor: delegate monitor redesign
  app/DTO/Slot.php
  app/Facades/Settings.php
  app/Http/Livewire/DelegateDataBoxes.php
  app/Http/Livewire/Delegates/FavoriteDelegateHandler.php
  app/Http/Livewire/Delegates/Monitor.php
  app/Services/Cache/Concerns/ManagesCache.php
  app/Services/Cache/MonitorCache.php
  app/Services/Cache/NetworkCache.php
  app/Services/Mersenne.php
  app/Services/Settings.php
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/css/_general.css
  resources/css/_tables.css
  resources/icons/favorite-star.svg
  resources/js/table-sorting.js
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/lang/en/tables.php
  resources/views/app/delegate-monitor.blade.php
  resources/views/components/delegates/favorite-toggle.blade.php
  resources/views/components/delegates/monitor/stat.blade.php
  resources/views/components/delegates/time-to-forge.blade.php
  resources/views/components/general/card.blade.php
  resources/views/components/general/mobile-divider.blade.php
  resources/views/components/skeletons/delegates/monitor.blade.php
  resources/views/components/stats/insight.blade.php
  resources/views/components/tables/desktop/delegates/monitor.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/list-table.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/monitor.blade.php
  resources/views/components/tables/encapsulated-table.blade.php
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
  resources/views/components/tables/headers/desktop/text.blade.php
  resources/views/components/tables/mobile/delegates/monitor.blade.php
  resources/views/components/tables/mobile/skeleton/delegates/monitor.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/monitor/block-height.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/monitor/forging-status.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/monitor/time-to-forge.blade.php
  resources/views/components/tables/rows/desktop/skeletons/badge.blade.php
  resources/views/components/tables/rows/desktop/skeletons/icon.blade.php
  resources/views/components/tables/rows/desktop/skeletons/status.blade.php
  resources/views/components/tables/rows/mobile.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/monitor/block-height.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/monitor/favorite.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/monitor/forging-status.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/monitor/time-to-forge.blade.php
  resources/views/components/tables/skeletons/encapsulated/desktop.blade.php
  resources/views/components/tables/skeletons/encapsulated/mobile/delegates/monitor.blade.php
  resources/views/livewire/delegate-data-boxes.blade.php
  resources/views/livewire/delegate-monitor.blade.php
  resources/views/livewire/delegates/monitor.blade.php
  resources/views/livewire/stats/chart.blade.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Feature/Http/Livewire/Delegates/FavoriteDelegateHandlerTest.php
  tests/Feature/Http/Livewire/Delegates/MonitorTest.php
  tests/Unit/DTO/SlotTest.php
  tests/Unit/Services/SettingsTest.php
Labels: refactor

#653 refactor: statistics semibold chart price
  resources/views/livewire/stats/chart.blade.php
Labels: refactor

#657 fix: delegate monitor mobile skeleton duplicate dropdown icon
  resources/views/components/tables/skeletons/encapsulated/mobile/delegates/monitor.blade.php
Labels: bugfix

#656 refactor: update statistics card padding
  resources/views/components/stats/insight.blade.php
  resources/views/livewire/stats/chart.blade.php
Labels: refactor

#654 fix: center content of statistics insights
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/stats/insight.blade.php
Labels: bugfix

#649 refactor: delegate monitor mobile favorite responsiveness
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/css/_tables.css
  resources/js/app.js
  resources/js/includes/sorting.js
  resources/js/mobile-sorting.js
  resources/js/table-sorting.js
  resources/views/components/delegates/favorite-toggle.blade.php
  resources/views/components/tables/desktop/delegates/monitor.blade.php
  resources/views/components/tables/mobile/delegates/monitor.blade.php
  resources/views/components/tables/rows/mobile.blade.php
  resources/views/livewire/delegates/monitor.blade.php
Labels: refactor

#659 fix: delegate monitor missed block handling
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/tables.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/monitor/block-height.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/monitor/forging-status.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/monitor/time-to-forge.blade.php
Labels: bugfix

#662 fix: delegate monitor round change responsive
  resources/views/components/tables/desktop/delegates/monitor.blade.php
  resources/views/components/tables/mobile/delegates/monitor.blade.php
  resources/views/livewire/delegates/monitor.blade.php
Labels: bugfix

#665 fix: hide resigned delegates by default in table
  app/Http/Livewire/Delegates/Delegates.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
Labels: bugfix

#666 feat: show exchange volume on homepage statistics
  app/Console/Commands/CacheDevelopmentData.php
  app/Console/Commands/CacheVolume.php
  app/Console/Kernel.php
  app/Contracts/MarketDataProvider.php
  app/Http/Livewire/Home/Statistics.php
  app/Services/Cache/CryptoDataCache.php
  app/Services/MarketCap.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  app/Services/NumberFormatter.php
  resources/views/livewire/home/statistics.blade.php
  tests/Feature/Http/Livewire/Home/StatisticsTest.php
  tests/Unit/Console/Commands/CacheVolumeTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
  tests/Unit/Services/NumberFormatterTest.php
Labels: feature

#667 chore: rename homepage statistics volume
  resources/lang/en/pages.php
  resources/views/livewire/home/statistics.blade.php
Labels: chore

#668 fix: exchanges sorting
  public/js/app.js
  public/mix-manifest.json
  resources/js/includes/sorting.js
Labels: bugfix

#670 fix: adjust volume labels for ambiguity
  resources/lang/en/pages.php
  resources/views/livewire/home/statistics.blade.php
Labels: bugfix

#663 chore: merge develop into staging
  app/Console/Commands/CacheDevelopmentData.php
  app/Console/Commands/CacheVolume.php
  app/Console/Kernel.php
  app/Contracts/MarketDataProvider.php
  app/Http/Livewire/Delegates/Delegates.php
  app/Http/Livewire/Home/Statistics.php
  app/Services/Cache/CryptoDataCache.php
  app/Services/MarketCap.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  app/Services/NumberFormatter.php
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/js/includes/sorting.js
  resources/lang/en/pages.php
  resources/lang/en/tables.php
  resources/views/components/tables/desktop/delegates/monitor.blade.php
  resources/views/components/tables/mobile/delegates/monitor.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/monitor/block-height.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/monitor/forging-status.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/monitor/time-to-forge.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/monitor/favorite.blade.php
  resources/views/livewire/delegates/monitor.blade.php
  resources/views/livewire/home/statistics.blade.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
  tests/Feature/Http/Livewire/Home/StatisticsTest.php
  tests/Unit/Console/Commands/CacheVolumeTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
  tests/Unit/Services/NumberFormatterTest.php
Labels: chore

#669 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#674 refactor: move main statistics chart to exchanges
  app/Http/Livewire/Exchanges/Chart.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/actions.php
  resources/lang/en/pages.php
  resources/views/app/exchanges.blade.php
  resources/views/app/statistics.blade.php
  resources/views/components/general/desktop-divider.blade.php
  resources/views/livewire/exchanges/chart.blade.php
  tests/Feature/Http/Livewire/Exchanges/ChartTest.php
Labels: refactor

#676 refactor: update delegate monitor status width
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/tables/desktop/skeleton/delegates/monitor.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/monitor/forging-status.blade.php
Labels: refactor

#673 refactor: home chart exchanges button
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/actions.php
  resources/views/components/home/header.blade.php
  resources/views/components/home/stat.blade.php
  resources/views/livewire/home/chart.blade.php
  resources/views/livewire/price-stats.blade.php
Labels: refactor

#677 refactor: wallet balance use current currency rate
  app/Services/ExchangeRate.php
  app/ViewModels/WalletViewModel.php
  tests/Feature/Http/Livewire/WalletBalanceTest.php
  tests/Unit/Services/ExchangeRateTest.php
Labels: refactor

#675 fix: loading state paginator footer
  app/View/Components/TableSkeleton.php
  resources/views/components/skeletons/blocks.blade.php
  resources/views/components/skeletons/delegates/list-table.blade.php
  resources/views/components/skeletons/delegates/missed-blocks.blade.php
  resources/views/components/skeletons/delegates/recent-votes.blade.php
  resources/views/components/skeletons/top-accounts.blade.php
  resources/views/components/skeletons/transactions.blade.php
  resources/views/components/skeletons/wallet-blocks.blade.php
  resources/views/components/skeletons/wallet-transactions.blade.php
  resources/views/components/skeletons/wallet-voters.blade.php
  resources/views/components/tables/desktop/skeleton/blocks.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/list-table.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/missed-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/recent-votes.blade.php
  resources/views/components/tables/desktop/skeleton/top-accounts.blade.php
  resources/views/components/tables/desktop/skeleton/transactions.blade.php
  resources/views/components/tables/desktop/skeleton/wallet-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/wallet-transactions.blade.php
  resources/views/components/tables/desktop/skeleton/wallet-voters.blade.php
  resources/views/components/tables/encapsulated-table.blade.php
  resources/views/components/tables/skeletons/encapsulated/desktop.blade.php
  resources/views/livewire/block-table.blade.php
  resources/views/livewire/delegates/delegates.blade.php
  resources/views/livewire/delegates/missed-blocks.blade.php
  resources/views/livewire/delegates/recent-votes.blade.php
  resources/views/livewire/top-accounts-table.blade.php
  resources/views/livewire/transaction-table.blade.php
  resources/views/livewire/wallet-block-table.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
  resources/views/livewire/wallet-voter-table.blade.php
Labels: bugfix

#679 fix: table top row padding
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
  resources/views/components/tables/encapsulated-table.blade.php
Labels: bugfix

#678 refactor: improve home chart prices
  app/Http/Livewire/Concerns/GetsCurrentPrice.php
  app/Http/Livewire/Home/Chart.php
  app/Http/Livewire/Home/PriceTicker.php
  app/Http/Livewire/PriceTicker.php
  resources/views/livewire/home/chart.blade.php
  resources/views/livewire/home/price-ticker.blade.php
  resources/views/livewire/price-ticker.blade.php
  tests/Feature/Http/Livewire/Home/ChartsTest.php
  tests/Feature/Http/Livewire/Home/PriceTickerTest.php
Labels: refactor

#671 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#681 fix: unalignment between table loading state and data top account
  resources/views/components/tables/desktop/top-accounts.blade.php
Labels: bugfix

#685 chore: remove mersenne avatars
  app/Services/Avatar.php
  app/Services/Mersenne.php
  config/app.php
  package.json
  resources/views/components/general/avatar.blade.php
  resources/views/components/general/identity.blade.php
  resources/views/components/search/results/block.blade.php
  resources/views/components/search/results/transaction-types/mobile/multi-payment.blade.php
  resources/views/components/search/results/transaction-types/mobile/other.blade.php
  resources/views/components/search/results/transaction-types/mobile/transfer.blade.php
  resources/views/components/search/results/transaction-types/mobile/vote.blade.php
  resources/views/components/search/results/transaction-types/transfer.blade.php
  resources/views/components/search/results/transaction-types/vote.blade.php
  resources/views/components/search/results/transaction.blade.php
  resources/views/components/search/results/wallet.blade.php
  resources/views/components/tables/headers/mobile/encapsulated/address.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/vote-address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/generated-by.blade.php
  yarn.lock
Labels: chore

#686 refactor: tidy identity components & remove additional
  resources/views/components/general/identity.blade.php
  resources/views/components/search/results/block.blade.php
  resources/views/components/search/results/transaction-types/mobile/multi-payment.blade.php
  resources/views/components/search/results/transaction-types/mobile/other.blade.php
  resources/views/components/search/results/transaction-types/mobile/transfer.blade.php
  resources/views/components/search/results/transaction-types/mobile/vote.blade.php
  resources/views/components/search/results/transaction-types/transfer.blade.php
  resources/views/components/search/results/transaction-types/vote.blade.php
  resources/views/components/search/results/transaction.blade.php
  resources/views/components/search/results/wallet.blade.php
  resources/views/components/tables/headers/mobile/encapsulated/address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/vote-address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/generated-by.blade.php
Labels: refactor

#690 refactor: split delegate count cached array
  app/Console/Commands/CacheDelegateVoterCounts.php
  app/Http/Livewire/Delegates/HeaderStats.php
  app/Http/Livewire/StatsHighlights.php
  app/Services/Cache/DelegateCache.php
  tests/Feature/Http/Livewire/Delegates/HeaderStatsTest.php
  tests/Feature/Http/Livewire/StatsHighlightsTest.php
  tests/Unit/Console/Commands/CacheDelegateVoterCountsTest.php
Labels: refactor

#694 refactor: update exchanges chart tab styling
  public/css/app.css
  public/mix-manifest.json
  resources/css/_general.css
  resources/views/components/stats/periods-selector.blade.php
  resources/views/components/tabs/tab.blade.php
  resources/views/components/tabs/wrapper.blade.php
Labels: refactor

#695 fix: voter cache return types
  app/Services/Cache/DelegateCache.php
  tests/Unit/Services/Cache/DelegateCacheTest.php
Labels: bugfix

#696 refactor: home chart price spacing
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/home/exchanges-button.blade.php
  resources/views/livewire/home/chart.blade.php
  resources/views/livewire/home/price-ticker.blade.php
  tailwind.config.js
Labels: refactor

#698 refactor: home exchanges button chevron
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/home/exchanges-button.blade.php
Labels: refactor

#699 fix: xs max width & change breakpoint size
  public/css/app.css
  public/mix-manifest.json
  tailwind.config.js
Labels: bugfix

#689 refactor: remove old search components
  resources/views/components/search/results/mobile/transaction-type.blade.php
  resources/views/components/search/results/transaction-type.blade.php
  resources/views/components/search/results/transaction-types/mobile/multi-payment.blade.php
  resources/views/components/search/results/transaction-types/mobile/other.blade.php
  resources/views/components/search/results/transaction-types/mobile/transfer.blade.php
  resources/views/components/search/results/transaction-types/mobile/vote.blade.php
  resources/views/components/search/results/transaction-types/multi-payment.blade.php
  resources/views/components/search/results/transaction-types/other.blade.php
  resources/views/components/search/results/transaction-types/transfer.blade.php
  resources/views/components/search/results/transaction-types/vote.blade.php
Labels: refactor

#707 refactor: paginate multipayment transaction recipients
  app/Http/Livewire/Transaction/RecipientList.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/transaction.blade.php
  resources/views/components/general/pagination/includes/middle.blade.php
  resources/views/components/skeletons/transaction-recipients.blade.php
  resources/views/components/tables/desktop/skeleton/home/blocks.blade.php
  resources/views/components/tables/desktop/skeleton/transaction-recipients.blade.php
  resources/views/components/tables/desktop/transaction-recipients.blade.php
  resources/views/components/tables/mobile/skeleton/transaction-recipients.blade.php
  resources/views/components/tables/mobile/transaction-recipients.blade.php
  resources/views/components/tables/skeletons/encapsulated/mobile/transaction-recipients.blade.php
  resources/views/livewire/transaction/recipient-list.blade.php
  tests/Feature/Http/Livewire/Transaction/RecipientListTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: refactor

#704 chore: update PHP dependencies
  composer.json
  composer.lock
  public/js/app.js
  public/mix-manifest.json
Labels: chore

#703 refactor: update fiat values when currency changed
  app/Http/Livewire/FiatValue.php
  app/Http/Livewire/Home/PriceTicker.php
  app/Http/Livewire/TopAccountsTable.php
  composer.lock
  resources/views/components/transaction/page/summary.blade.php
  resources/views/components/wallet/overview/wallet.blade.php
  resources/views/livewire/fiat-value.blade.php
  tests/Feature/Http/Livewire/FiatValueTest.php
Labels: refactor

#700 refactor: change default line height
  public/css/app.css
  public/mix-manifest.json
  resources/css/_general.css
  resources/css/_tables.css
  resources/views/components/exchanges/pairs.blade.php
  resources/views/components/general/detail.blade.php
  resources/views/components/general/encapsulated/amount-fiat-tooltip.blade.php
  resources/views/components/general/page-section/container.blade.php
  resources/views/components/home/footer.blade.php
  resources/views/components/home/stat.blade.php
  resources/views/components/input/js-select.blade.php
  resources/views/components/page-headers/delegates/explore.blade.php
  resources/views/components/page-headers/generic.blade.php
  resources/views/components/page-headers/header-item.blade.php
  resources/views/components/search/results/block.blade.php
  resources/views/components/search/results/transaction.blade.php
  resources/views/components/search/results/wallet.blade.php
  resources/views/components/stats/insight.blade.php
  resources/views/components/stats/periods-selector.blade.php
  resources/views/components/stats/stat.blade.php
  resources/views/components/tabs/tab.blade.php
  resources/views/livewire/exchanges/chart.blade.php
  tailwind.config.js
Labels: refactor
