Repository ArdentHQ/arkscan, pull requests merged in 2023-07, with the labels that each got.

#363 chore: update JavaScript dependencies
  package.json
  public/js/app.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#362 feat: transaction export functionality
  app/Contracts/Network.php
  app/Facades/Network.php
  app/Http/Livewire/Modals/ExportTransactions.php
  app/Http/Livewire/PriceTicker.php
  app/Services/Blockchain/Network.php
  app/Services/ExchangeRate.php
  package.json
  public/css/app.css
  public/images/modals/export/error-dark.svg
  public/images/modals/export/error.svg
  public/images/modals/export/loading-dark.svg
  public/images/modals/export/loading.svg
  public/images/modals/export/success-dark.svg
  public/images/modals/export/success.svg
  public/images/modals/export/warning-dark.svg
  public/images/modals/export/warning.svg
  public/js/app.js
  public/js/app.js.LICENSE.txt
  public/js/manifest.js
  public/mix-manifest.json
  resources/icons/csv.svg
  resources/images/modals/export/error-dark.svg
  resources/images/modals/export/error.svg
  resources/images/modals/export/loading-dark.svg
  resources/images/modals/export/loading.svg
  resources/images/modals/export/success-dark.svg
  resources/images/modals/export/success.svg
  resources/images/modals/export/warning-dark.svg
  resources/images/modals/export/warning.svg
  resources/js/app.js
  resources/js/export.js
  resources/js/includes/enums.js
  resources/js/transactions-api.js
  resources/lang/en/actions.php
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/input/js-select.blade.php
  resources/views/components/modals/export-transactions/export-status.blade.php
  resources/views/components/modals/export-transactions/fields.blade.php
  resources/views/components/tables/toolbars/transactions.blade.php
  resources/views/livewire/modals/export-transactions.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
  tests/Feature/Http/Livewire/Modals/ExportTransactionsTest.php
  yarn.lock
Labels: feature

#370 fix: wrong export warning image
  resources/views/components/modals/export-transactions/export-status.blade.php
Labels: bugfix

#371 refactor: export reduce header row text size
  resources/views/components/modals/export-transactions/fields.blade.php
Labels: refactor

#368 fix: transaction export showing total columns when it shouldn't
  public/js/app.js
  public/mix-manifest.json
  resources/js/export.js
Labels: bugfix

#369 refactor: transaction export remove title hover
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/input/js-select.blade.php
Labels: refactor

#373 refactor: improve transaction export API usage
  public/js/app.js
  public/mix-manifest.json
  resources/js/export.js
  resources/js/transactions-api.js
Labels: refactor

#376 refactor: export dropdown placeholder dark mode color
  resources/views/components/input/js-select.blade.php
Labels: refactor

#378 refactor: change csv icon colors
  resources/icons/csv.svg
Labels: refactor

#377 refactor: export abort requests
  public/js/app.js
  public/mix-manifest.json
  resources/js/export.js
  resources/js/transactions-api.js
Labels: refactor

#382 fix: network dropdown button icon placement
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/navbar/network-dropdown.blade.php
  resources/views/livewire/price-ticker.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
Labels: bugfix

#380 refactor: export disable overlay close
  app/Http/Livewire/Concerns/HasTablePagination.php
  composer.json
  composer.lock
  resources/views/livewire/modals/export-transactions.blade.php
Labels: refactor

#379 fix: export rate based on transaction day
  app/Services/ExchangeRate.php
  public/js/app.js
  public/mix-manifest.json
  resources/js/export.js
  resources/views/livewire/modals/export-transactions.blade.php
  tests/Unit/Services/ExchangeRateTest.php
Labels: bugfix

#381 refactor: export dropdown show focus outline
  resources/views/components/input/js-select.blade.php
Labels: refactor

#374 fix: export fiat options
  public/js/app.js
  public/mix-manifest.json
  resources/js/export.js
  resources/views/livewire/modals/export-transactions.blade.php
Labels: bugfix

#383 refactor: update export dropdown hover state
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/input/js-select.blade.php
Labels: refactor

#384 refactor: adjust value font styles on wallet page tables
  resources/views/components/tables/desktop/wallet-voters.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/value.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/vote-percentage.blade.php
Labels: refactor

#385 refactor: improve block export speed by removing offsets
  public/js/app.js
  public/mix-manifest.json
  resources/js/blocks-api.js
  resources/js/blocks-export.js
Labels: refactor

#386 fix: dropdown button icon positioning
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
Labels: bugfix

#390 fix: export mobile button padding
  public/css/app.css
  public/mix-manifest.json
  resources/views/livewire/modals/export-blocks.blade.php
  resources/views/livewire/modals/export-transactions.blade.php
Labels: bugfix

#391 fix: export dropdown focus border
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/input/js-select.blade.php
Labels: bugfix

#393 fix: break words for address in download success toast
  resources/lang/en/pages.php
Labels: bugfix

#392 fix: handle old delegate blocks in export better
  public/js/app.js
  public/mix-manifest.json
  resources/js/blocks-export.js
  resources/js/delegates-api.js
Labels: bugfix

#397 fix: handle empty data response with block export
  public/js/app.js
  public/mix-manifest.json
  resources/js/blocks-api.js
Labels: bugfix

#396 fix: handle spaces in meili filter search
  app/Services/Search/BlockSearch.php
  app/Services/Search/TransactionSearch.php
  tests/Unit/Services/Search/BlockSearchTest.php
  tests/Unit/Services/Search/TransactionSearchTest.php
Labels: bugfix

#395 chore: update JavaScript dependencies
  package.json
  public/js/vendor.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#398 refactor: disable export if delegate has not forged blocks
  app/Http/Livewire/Modals/ExportBlocks.php
  app/ViewModels/Concerns/Wallet/CanBeDelegate.php
  resources/views/components/tables/toolbars/blocks.blade.php
  resources/views/livewire/modals/export-blocks.blade.php
Labels: refactor

#389 feat: export custom date range
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/css/_pikaday.css
  resources/css/app.css
  resources/js/blocks-export.js
  resources/js/includes/helpers.js
  resources/js/transactions-export.js
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/date-picker.blade.php
  resources/views/components/input/date-picker.blade.php
  resources/views/components/input/js-select.blade.php
  resources/views/components/modals/export-blocks/fields.blade.php
  resources/views/components/modals/export-transactions/fields.blade.php
  resources/views/components/modals/export/date-range.blade.php
Labels: feature

#400 refactor: pause modal focus trap on date picker open
  composer.json
  composer.lock
  public/js/app.js
  public/mix-manifest.json
  resources/views/components/input/date-picker.blade.php
Labels: refactor

#399 chore: merge develop into staging
  app/Http/Livewire/Modals/ExportBlocks.php
  app/Services/Search/BlockSearch.php
  app/Services/Search/TransactionSearch.php
  app/ViewModels/Concerns/Wallet/CanBeDelegate.php
  composer.json
  composer.lock
  package.json
  public/css/app.css
  public/js/app.js
  public/js/vendor.js
  public/mix-manifest.json
  resources/css/_pikaday.css
  resources/css/app.css
  resources/js/blocks-api.js
  resources/js/blocks-export.js
  resources/js/delegates-api.js
  resources/js/includes/helpers.js
  resources/js/transactions-export.js
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/date-picker.blade.php
  resources/views/components/input/date-picker.blade.php
  resources/views/components/input/js-select.blade.php
  resources/views/components/modals/export-blocks/fields.blade.php
  resources/views/components/modals/export-transactions/fields.blade.php
  resources/views/components/modals/export/date-range.blade.php
  resources/views/components/tables/toolbars/blocks.blade.php
  resources/views/livewire/modals/export-blocks.blade.php
  resources/views/livewire/modals/export-transactions.blade.php
  tests/Unit/Services/Search/BlockSearchTest.php
  tests/Unit/Services/Search/TransactionSearchTest.php
  yarn.lock
Labels: chore

#401 chore: merge staging into master
  app/Http/Livewire/Modals/ExportBlocks.php
  app/Services/Search/BlockSearch.php
  app/Services/Search/TransactionSearch.php
  app/ViewModels/Concerns/Wallet/CanBeDelegate.php
  composer.json
  composer.lock
  package.json
  public/css/app.css
  public/js/app.js
  public/js/vendor.js
  public/mix-manifest.json
  resources/css/_pikaday.css
  resources/css/app.css
  resources/js/blocks-api.js
  resources/js/blocks-export.js
  resources/js/delegates-api.js
  resources/js/includes/helpers.js
  resources/js/transactions-export.js
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/date-picker.blade.php
  resources/views/components/input/date-picker.blade.php
  resources/views/components/input/js-select.blade.php
  resources/views/components/modals/export-blocks/fields.blade.php
  resources/views/components/modals/export-transactions/fields.blade.php
  resources/views/components/modals/export/date-range.blade.php
  resources/views/components/tables/toolbars/blocks.blade.php
  resources/views/livewire/modals/export-blocks.blade.php
  resources/views/livewire/modals/export-transactions.blade.php
  tests/Unit/Services/Search/BlockSearchTest.php
  tests/Unit/Services/Search/TransactionSearchTest.php
  yarn.lock
Labels: chore

#403 refactor: improve blocks overview pagination
  app/Http/Livewire/BlockTable.php
  tests/Feature/Http/Livewire/BlockTableTest.php
Labels: refactor

#402 refactor: load wallet tab data on first activate
  app/Http/Livewire/WalletBlockTable.php
  app/Http/Livewire/WalletTables.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Http/Livewire/WalletVoterTable.php
  resources/views/components/loading/visible.blade.php
  resources/views/components/skeletons/wallet-blocks.blade.php
  resources/views/components/skeletons/wallet-transactions.blade.php
  resources/views/components/skeletons/wallet-voters.blade.php
  resources/views/livewire/wallet-block-table.blade.php
  resources/views/livewire/wallet-tables.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
  resources/views/livewire/wallet-voter-table.blade.php
  tests/Feature/Http/Livewire/WalletTablesTest.php
Labels: refactor

#404 refactor: export partial download
  public/js/app.js
  public/mix-manifest.json
  resources/js/blocks-api.js
  resources/js/blocks-export.js
  resources/js/includes/helpers.js
  resources/js/transactions-api.js
  resources/js/transactions-export.js
  resources/lang/en/general.php
  resources/views/components/modals/export/status.blade.php
  resources/views/livewire/modals/export-blocks.blade.php
  resources/views/livewire/modals/export-transactions.blade.php
Labels: refactor

#405 refactor: transaction page id header
  app/Services/Transactions/TransactionTypeComponent.php
  app/ViewModels/Concerns/Transaction/InteractsWithTypeData.php
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/actions.php
  resources/lang/en/pages.php
  resources/views/components/page-headers/container.blade.php
  resources/views/components/page-headers/transaction.blade.php
  resources/views/components/page-headers/wallet.blade.php
Labels: refactor

#406 refactor: transaction details section
  app/Services/Transactions/TransactionTypeComponent.php
  app/ViewModels/Concerns/Transaction/InteractsWithTypeData.php
  app/ViewModels/TransactionViewModel.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/app/transaction.blade.php
  resources/views/components/transaction/page-section.blade.php
  resources/views/components/transaction/section-detail/block-height-link.blade.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: refactor

#407 refactor: transaction type section
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/app/transaction.blade.php
  resources/views/components/general/encapsulated/transaction-type-badge.blade.php
  resources/views/components/transaction/page-section.blade.php
Labels: refactor

#410 chore: update PHP dependencies
  composer.json
  composer.lock
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
Labels: chore

#409 chore: update JavaScript dependencies
  package.json
  public/css/app.css
  public/mix-manifest.json
  yarn.lock
Labels: chore

#408 refactor: transaction types
  app/ViewModels/Concerns/Transaction/HasType.php
  composer.json
  composer.lock
  package.json
  public/css/app.css
  public/mix-manifest.json
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/lang/en/urls.php
  resources/views/app/transaction.blade.php
  resources/views/components/general/encapsulated/transaction-type.blade.php
  resources/views/components/grid/ipfs-hash.blade.php
  resources/views/components/page-headers/transaction/entity-registration.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/transaction-type.blade.php
  resources/views/components/transaction/page-section.blade.php
  resources/views/components/transaction/section-detail/address.blade.php
  resources/views/components/transaction/section-detail/block-height-link.blade.php
  resources/views/components/transaction/section-detail/delegate.blade.php
  resources/views/components/transaction/section-detail/ipfs-link.blade.php
  resources/views/components/transaction/section-detail/row.blade.php
  resources/views/components/transaction/section-detail/transaction-type.blade.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  yarn.lock
Labels: refactor

#412 refactor: transaction addressing section
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/app/transaction.blade.php
  resources/views/components/general/encapsulated/vote-type.blade.php
  resources/views/components/transaction/section-detail/addressing-section.blade.php
  resources/views/components/transaction/section-detail/recipients.blade.php
  resources/views/components/transaction/section-detail/transaction-type.blade.php
Labels: refactor

#415 fix: tx type category color
  resources/views/components/transaction/section-detail/transaction-type.blade.php
Labels: bugfix

#414 fix: delegate resignation username
  resources/views/components/transaction/section-detail/transaction-type.blade.php
Labels: bugfix

#418 feat: add recipients list
  app/ViewModels/Concerns/Transaction/InteractsWithMultiPayment.php
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/js/app.js
  resources/js/includes/page-scroll-handler.js
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/lang/en/tables.php
  resources/views/app/transaction.blade.php
  resources/views/components/clipboard.blade.php
  resources/views/components/tables/desktop/transaction-recipients.blade.php
  resources/views/components/tables/mobile/transaction-recipients.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/address.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/amount.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/amount.blade.php
  resources/views/components/transaction/page-section.blade.php
  resources/views/components/transaction/section-detail/recipient-list-section.blade.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: feature

#416 refactor: adjust clipboard styling when used outside of buttons
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/clipboard.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/address.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/address.blade.php
  resources/views/components/transaction/section-detail/address.blade.php
Labels: refactor

#417 refactor: update legacy types & remove unused components
  app/ViewModels/Concerns/Transaction/InteractsWithTypeData.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/grid/delegate-name.blade.php
  resources/views/components/grid/ipfs-hash.blade.php
  resources/views/components/grid/multi-signature-address.blade.php
  resources/views/components/grid/musig_participants.blade.php
  resources/views/components/grid/nonce.blade.php
  resources/views/components/grid/recipient-count.blade.php
  resources/views/components/grid/recipient.blade.php
  resources/views/components/grid/sender.blade.php
  resources/views/components/grid/vendor-field.blade.php
  resources/views/components/page-headers/transaction/delegate-registration.blade.php
  resources/views/components/page-headers/transaction/entity-registration.blade.php
  resources/views/components/page-headers/transaction/entity-resignation.blade.php
  resources/views/components/page-headers/transaction/entity-update.blade.php
  resources/views/components/page-headers/transaction/fallback.blade.php
  resources/views/components/page-headers/transaction/icon-type.blade.php
  resources/views/components/page-headers/transaction/multi-signature.blade.php
  resources/views/components/page-headers/transaction/unvote.blade.php
  resources/views/components/page-headers/transaction/vote-combination.blade.php
  resources/views/components/page-headers/transaction/vote.blade.php
  resources/views/components/transaction/details/entity-registration.blade.php
  resources/views/components/transaction/details/entity-resignation.blade.php
  resources/views/components/transaction/details/entity-update.blade.php
  resources/views/components/transaction/details/fallback.blade.php
  resources/views/components/transaction/details/ipfs.blade.php
  resources/views/components/transaction/details/multi-payment.blade.php
  resources/views/components/transaction/details/multi-signature.blade.php
  resources/views/components/transaction/details/transfer.blade.php
  resources/views/components/transaction/extension/multi-payment.blade.php
  resources/views/components/transaction/extension/multi-signature.blade.php
  resources/views/components/transaction/extension/vote-combination.blade.php
Labels: refactor

#419 feat: memo section
  resources/lang/en/pages.php
  resources/views/app/transaction.blade.php
  resources/views/components/transaction/section-detail/memo-section.blade.php
Labels: feature

#423 refactor: update memo colors
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/transaction/section-detail/memo-section.blade.php
Labels: refactor

#421 feat: summary section
  app/Services/NumberFormatter.php
  app/ViewModels/TransactionViewModel.php
  resources/lang/en/pages.php
  resources/views/app/transaction.blade.php
  resources/views/components/transaction/section-detail/summary-section.blade.php
  tests/Unit/Services/NumberFormatterTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: feature

#422 feat: participants list
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/app/transaction.blade.php
  resources/views/components/tables/desktop/transaction-participants.blade.php
  resources/views/components/tables/desktop/transaction-recipients.blade.php
  resources/views/components/tables/mobile/transaction-participants.blade.php
  resources/views/components/tables/mobile/transaction-recipients.blade.php
  resources/views/components/tables/rows/mobile.blade.php
  resources/views/components/transaction/section-detail/participant-list-section.blade.php
Labels: feature

#425 refactor: defer export button loading
  app/Http/Livewire/Modals/ExportBlocks.php
  app/Http/Livewire/Modals/ExportTransactions.php
  app/ViewModels/Concerns/Wallet/CanBeDelegate.php
  resources/views/livewire/modals/export-blocks.blade.php
  resources/views/livewire/modals/export-transactions.blade.php
  tests/Feature/Http/Livewire/Modals/ExportBlocksTest.php
  tests/Feature/Http/Livewire/Modals/ExportTransactionsTest.php
Labels: refactor

#427 refactor: update transfer sent to self design
  resources/views/components/general/encapsulated/amount-fiat-tooltip.blade.php
  resources/views/components/tables/desktop/wallet-transactions.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/amount.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/transaction.blade.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
Labels: refactor

#437 refactor: filter dropdown for mobile
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/tables/filters/transactions.blade.php
  resources/views/components/tables/toolbars/transactions.blade.php
Labels: refactor

#436 fix: table age value on wallet page
  app/Http/Livewire/WalletTransactionTable.php
  resources/views/components/skeletons/wallet-blocks.blade.php
  resources/views/components/skeletons/wallet-transactions.blade.php
  resources/views/components/skeletons/wallet-voters.blade.php
  resources/views/components/tables/desktop/wallet-blocks.blade.php
  resources/views/components/tables/desktop/wallet-transactions.blade.php
  resources/views/components/tables/mobile/transactions.blade.php
  resources/views/components/tables/mobile/wallet-transactions.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
Labels: bugfix

#438 chore: merge develop into staging
  app/Http/Livewire/WalletTransactionTable.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/skeletons/wallet-blocks.blade.php
  resources/views/components/skeletons/wallet-transactions.blade.php
  resources/views/components/skeletons/wallet-voters.blade.php
  resources/views/components/tables/desktop/wallet-blocks.blade.php
  resources/views/components/tables/desktop/wallet-transactions.blade.php
  resources/views/components/tables/filters/transactions.blade.php
  resources/views/components/tables/mobile/transactions.blade.php
  resources/views/components/tables/mobile/wallet-transactions.blade.php
  resources/views/components/tables/toolbars/transactions.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
Labels: chore

#439 chore: merge staging into master
  app/Http/Livewire/WalletTransactionTable.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/skeletons/wallet-blocks.blade.php
  resources/views/components/skeletons/wallet-transactions.blade.php
  resources/views/components/skeletons/wallet-voters.blade.php
  resources/views/components/tables/desktop/wallet-blocks.blade.php
  resources/views/components/tables/desktop/wallet-transactions.blade.php
  resources/views/components/tables/filters/transactions.blade.php
  resources/views/components/tables/mobile/transactions.blade.php
  resources/views/components/tables/mobile/wallet-transactions.blade.php
  resources/views/components/tables/toolbars/transactions.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
Labels: chore

#434 refactor: custom date range include end date
  public/js/app.js
  public/mix-manifest.json
  resources/js/blocks-export.js
  resources/js/includes/helpers.js
  resources/js/transactions-export.js
Labels: refactor

#431 refactor: show small values in transaction summary
  app/Services/ExchangeRate.php
  app/ViewModels/TransactionViewModel.php
  resources/views/components/transaction/section-detail/row.blade.php
  resources/views/components/transaction/section-detail/summary-section.blade.php
  tests/Unit/Services/ExchangeRateTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: refactor

#440 chore: update PHP dependencies
  composer.lock
Labels: chore

#441 chore: update JavaScript dependencies
  package.json
  yarn.lock
Labels: chore

#443 chore: merge develop into staging
  app/Services/ExchangeRate.php
  app/ViewModels/Concerns/Transaction/HasDirection.php
  app/ViewModels/TransactionViewModel.php
  composer.lock
  package.json
  public/js/app.js
  public/mix-manifest.json
  resources/js/blocks-export.js
  resources/js/includes/helpers.js
  resources/js/transactions-export.js
  resources/views/components/transaction/section-detail/row.blade.php
  resources/views/components/transaction/section-detail/summary-section.blade.php
  tests/Unit/Services/ExchangeRateTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  yarn.lock
Labels: chore

#444 chore: merge staging into master
  app/Services/ExchangeRate.php
  app/ViewModels/Concerns/Transaction/HasDirection.php
  app/ViewModels/TransactionViewModel.php
  composer.lock
  package.json
  public/js/app.js
  public/mix-manifest.json
  resources/js/blocks-export.js
  resources/js/includes/helpers.js
  resources/js/transactions-export.js
  resources/views/components/transaction/section-detail/row.blade.php
  resources/views/components/transaction/section-detail/summary-section.blade.php
  tests/Unit/Services/ExchangeRateTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  yarn.lock
Labels: refactor

#433 refactor: improve wallet transaction filter ux
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/tables/filters/includes/checkbox.blade.php
Labels: refactor

#432 refactor: tidy transaction type langs
  app/ViewModels/Concerns/Transaction/InteractsWithTypeData.php
  resources/lang/en/general.php
  resources/views/components/transaction/section-detail/transaction-type.blade.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: refactor

#446 refactor: block id header
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/page-headers/block.blade.php
  resources/views/components/page-headers/id.blade.php
  resources/views/components/page-headers/transaction.blade.php
Labels: refactor

#447 refactor: move section detail components around
  resources/views/app/transaction.blade.php
  resources/views/components/general/page-section/container.blade.php
  resources/views/components/general/page-section/row.blade.php
  resources/views/components/transaction/page/addressing.blade.php
  resources/views/components/transaction/page/confirmations.blade.php
  resources/views/components/transaction/page/details.blade.php
  resources/views/components/transaction/page/memo.blade.php
  resources/views/components/transaction/page/participant-list.blade.php
  resources/views/components/transaction/page/recipient-list.blade.php
  resources/views/components/transaction/page/section-detail/address.blade.php
  resources/views/components/transaction/page/section-detail/block-height-link.blade.php
  resources/views/components/transaction/page/section-detail/delegate.blade.php
  resources/views/components/transaction/page/section-detail/ipfs-link.blade.php
  resources/views/components/transaction/page/section-detail/recipients.blade.php
  resources/views/components/transaction/page/summary.blade.php
  resources/views/components/transaction/page/transaction-type.blade.php
  tests/Feature/Http/Controllers/ShowTransactionControllerTest.php
Labels: refactor

#448 refactor: block details section
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/app/block.blade.php
  resources/views/components/block/page/details.blade.php
  resources/views/components/block/page/section-detail/row.blade.php
  resources/views/components/general/page-section/row.blade.php
  resources/views/components/transaction/page/addressing.blade.php
  resources/views/components/transaction/page/details.blade.php
  resources/views/components/transaction/page/section-detail/row.blade.php
  resources/views/components/transaction/page/summary.blade.php
  resources/views/components/transaction/page/transaction-type.blade.php
  tests/Unit/ViewModels/BlockViewModelTest.php
Labels: refactor

#449 refactor: block generated by section
  resources/lang/en/pages.php
  resources/views/app/block.blade.php
  resources/views/components/block/page/generated-by.blade.php
  resources/views/components/general/page-section/data/delegate.blade.php
  resources/views/components/transaction/page/transaction-type.blade.php
Labels: refactor

#445 refactor: don't show cryptocurrency small values
  resources/views/components/transaction/section-detail/summary-section.blade.php
Labels: refactor

#450 refactor: block summary section
  resources/lang/en/pages.php
  resources/views/app/block.blade.php
  resources/views/components/block/page/summary.blade.php
Labels: refactor

#451 refactor: block confirmations section
  resources/lang/en/pages.php
  resources/views/app/block.blade.php
  resources/views/app/transaction.blade.php
  resources/views/components/general/page-section/confirmations.blade.php
Labels: refactor

#453 refactor: block transactions lazy loading
  app/Http/Controllers/ShowBlockController.php
  app/Http/Livewire/BlockTransactionsTable.php
  app/Http/Livewire/Concerns/HasLazyLoadingPagination.php
  app/ViewModels/Concerns/Block/HasTransactions.php
  resources/views/components/block/page/transaction-list.blade.php
  resources/views/components/general/pagination/lazy-loading.blade.php
  resources/views/components/tables/desktop/block-transactions.blade.php
  resources/views/components/tables/mobile/block-transactions.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
  resources/views/livewire/block-transactions-table.blade.php
  tests/Feature/Http/Livewire/BlockTransactionsTableTest.php
Labels: refactor

#456 fix: zero transaction count
  resources/views/components/block/page/details.blade.php
  resources/views/components/block/page/section-detail/row.blade.php
  resources/views/components/general/page-section/row.blade.php
  resources/views/components/transaction/page/section-detail/row.blade.php
Labels: bugfix

#458 refactor: don't defer lazy loaded block transaction table
  app/Http/Livewire/BlockTransactionsTable.php
  resources/views/components/general/pagination/lazy-loading.blade.php
  resources/views/livewire/block-transactions-table.blade.php
  tests/Feature/Http/Livewire/BlockTransactionsTableTest.php
Labels: refactor

#457 refactor: block page heading & transaction list fee styling
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/page-headers/container.blade.php
  resources/views/components/tables/desktop/block-transactions.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/amount.blade.php
Labels: refactor

#461 chore: update PHP dependencies
  composer.json
  composer.lock
  public/js/app.js
  public/mix-manifest.json
Labels: chore
