Repository ArdentHQ/arkscan, pull requests merged in 2023-05, with the labels that each got.

#191 chore: update foundation dependency
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
Labels: chore

#189 feat: compatible wallets page
  public/css/app.css
  public/images/wallets/arkvault-dark.svg
  public/images/wallets/arkvault.svg
  public/images/wallets/arrows-dark.svg
  public/images/wallets/arrows.svg
  public/mix-manifest.json
  resources/css/_theme.css
  resources/icons/wallets/abra.svg
  resources/icons/wallets/arkvault.svg
  resources/icons/wallets/atomic.svg
  resources/icons/wallets/crypto.svg
  resources/icons/wallets/exodus.svg
  resources/icons/wallets/ledger.svg
  resources/images/wallets/arkvault-dark.svg
  resources/images/wallets/arkvault.svg
  resources/images/wallets/arrows-dark.svg
  resources/images/wallets/arrows.svg
  resources/lang/en/actions.php
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/app/compatible-wallets.blade.php
  routes/web.php
Labels: feature

#190 refactor: update navbar skeleton
  app/Console/Commands/CacheDelegatePerformance.php
  app/Console/Commands/CacheDelegateProductivity.php
  app/Console/Commands/CacheDelegateWallets.php
  app/Services/Settings.php
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/css/_general.css
  resources/lang/en/general.php
  resources/views/components/navbar/button.blade.php
  resources/views/components/navbar/logo.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/components/navbar/top.blade.php
  resources/views/layouts/app.blade.php
Labels: refactor

#193 refactor: add theme toggle
  app/Http/Livewire/Navbar/DarkModeToggle.php
  app/Http/Livewire/Navbar/Toggle.php
  app/Http/Livewire/NavbarSettings.php
  app/Services/Settings.php
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/setting-option.blade.php
  resources/views/components/navbar/top.blade.php
  resources/views/livewire/navbar-settings.blade.php
  resources/views/livewire/navbar/toggle.blade.php
  tests/Feature/Http/Livewire/Navbar/DarkModeToggleTest.php
  tests/Feature/Http/Livewire/Navbar/ToggleTest.php
  tests/Feature/Http/Livewire/NavbarSettingsTest.php
  tests/Unit/Services/Blockchain/NetworkTest.php
Labels: refactor

#195 fix: compatible wallets arkvault disclaimer text color
  resources/views/app/compatible-wallets.blade.php
Labels: bugfix

#196 chore: restructure compatible-wallets components
  resources/views/app/compatible-wallets.blade.php
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/compatible-wallets/header.blade.php
  resources/views/components/compatible-wallets/list-wallet.blade.php
  resources/views/components/compatible-wallets/section-divider.blade.php
  resources/views/components/compatible-wallets/wallet-grid.blade.php
Labels: chore

#197 refactor: add full card hover to compatible-wallets wallets
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/compatible-wallets/wallet-grid.blade.php
Labels: refactor

#198 fix: wallet gradients
  public/css/app.css
  public/mix-manifest.json
  resources/css/_gradients.css
  resources/css/app.css
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/compatible-wallets/list-wallet.blade.php
Labels: bugfix

#200 fix: 404 livewire error
  app/Livewire/Controllers/HttpConnectionHandler.php
  app/Providers/LivewireServiceProvider.php
  config/app.php
  tests/Feature/Http/Livewire/Navbar/DarkModeToggleTest.php
Labels: bugfix

#201 feat: network toggle & mobile toggles
  app/Http/Livewire/Navbar/NetworkToggle.php
  app/Http/Livewire/Navbar/Toggle.php
  public/css/app.css
  public/mix-manifest.json
  resources/icons/ark-testnet.svg
  resources/lang/en/general.php
  resources/views/components/navbar/mobile/setting-item.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/components/navbar/top.blade.php
  resources/views/livewire/navbar/mobile-toggle.blade.php
  resources/views/livewire/navbar/toggle.blade.php
  tests/Feature/Http/Livewire/Navbar/DarkModeToggleTest.php
  tests/Feature/Http/Livewire/Navbar/NetworkToggleTest.php
  tests/Feature/Http/Livewire/Navbar/ToggleTest.php
Labels: feature

#202 refactor: update light disclaimer bg colour
  public/css/app.css
  public/mix-manifest.json
  resources/css/_gradients.css
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/compatible-wallets/header.blade.php
Labels: refactor

#203 fix: ci toggle mobile value
  app/Http/Livewire/Navbar/Toggle.php
Labels: bugfix

#204 refactor: remove gradient from submit wallet section
  public/css/app.css
  public/mix-manifest.json
  resources/css/_gradients.css
  resources/views/components/compatible-wallets/list-wallet.blade.php
Labels: refactor

#206 fix: navbar dropdown top offset
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/navbar.blade.php
Labels: bugfix

#207 fix: rename wallets to top accounts in navbar
  app/Providers/AppServiceProvider.php
  resources/lang/en/menus.php
  resources/views/components/navbar/navbar.blade.php
Labels: bugfix

#209 fix: overwrite default table th bold value
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
Labels: bugfix

#208 fix: various navbar ui tweaks
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/item.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/livewire/navbar/toggle.blade.php
Labels: bugfix

#210 chore: update JavaScript dependencies
  package.json
  public/css/app.css
  public/js/app.js
  public/js/manifest.js
  public/js/vendor.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#212 refactor: increase navbar branding text size
  resources/views/components/navbar/logo.blade.php
Labels: refactor

#213 fix: navbar hover border color in dark mode
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/navbar.blade.php
Labels: bugfix

#215 refactor: navbar network selection
  app/Http/Livewire/Navbar/NetworkToggle.php
  public/css/app.css
  public/mix-manifest.json
  resources/icons/ark-testnet.svg
  resources/lang/en/general.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/components/navbar/network-dropdown.blade.php
  resources/views/components/navbar/network-select.blade.php
  resources/views/components/navbar/network-switch.blade.php
  resources/views/components/navbar/separator.blade.php
  resources/views/components/navbar/top.blade.php
  tests/Feature/Http/Livewire/Navbar/NetworkToggleTest.php
Labels: refactor

#214 refactor: update wallet disclaimer width
  composer.json
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/compatible-wallets/disclaimer.blade.php
  resources/views/components/compatible-wallets/section-divider.blade.php
  resources/views/components/compatible-wallets/wallet-grid.blade.php
Labels: refactor

#218 refactor: update routes
  app/Providers/AppServiceProvider.php
  resources/lang/en/metatags.php
  resources/views/app/top-accounts.blade.php
  routes/web.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
  tests/Unit/RedirectionTest.php
Labels: refactor

#217 refactor: network toggle dropdown shadow
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/network-dropdown.blade.php
  tailwind.config.js
Labels: refactor

#216 feat: submit wallet modal
  .env.example
  app/Http/Livewire/Modals/SubmitWallet.php
  app/Mail/WalletFormSubmitted.php
  composer.json
  composer.lock
  config/explorer.php
  config/mail.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/actions.php
  resources/lang/en/mails.php
  resources/lang/en/pages.php
  resources/views/components/compatible-wallets/list-wallet.blade.php
  resources/views/livewire/modals/submit-wallet.blade.php
  resources/views/mails/wallet-submitted.blade.php
  tests/Feature/Http/Livewire/Modals/SubmitWalletTest.php
  tests/Unit/Mail/WalletFormSubmittedTest.php
Labels: feature

#220 fix: add network .env property to phpunit to avoid local test failures
  phpunit.xml
  tests/Unit/Console/Commands/CacheCurrenciesDataTest.php
Labels: bugfix

#221 refactor: increase search input width
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/top.blade.php
Labels: refactor

#219 refactor: price ticker
  app/Http/Livewire/Concerns/HandlesSettings.php
  app/Http/Livewire/Navbar/Toggle.php
  app/Http/Livewire/PriceTicker.php
  config/currencies.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/general.php
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/components/general/dropdown/list-item.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/components/navbar/network-dropdown.blade.php
  resources/views/components/navbar/top.blade.php
  resources/views/livewire/price-ticker.blade.php
  tests/Feature/Http/Livewire/PriceTickerTest.php
Labels: refactor

#223 fix: mobile navbar dropdown bottom padding
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/navbar.blade.php
Labels: bugfix

#224 refactor: various wallet page ui tweaks
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/compatible-wallets/header.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/livewire/modals/submit-wallet.blade.php
  resources/views/livewire/price-ticker.blade.php
  resources/views/livewire/wallet-table.blade.php
  tailwind.config.js
Labels: refactor

#228 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#226 refactor: add md lg breakpoint
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/compatible-wallets/wallet-grid.blade.php
  tailwind.config.js
Labels: refactor

#225 refactor: updated pagination
  app/Http/Livewire/WalletTable.php
  composer.json
  composer.lock
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/js/app.js
  resources/lang/en/pagination.php
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/components/general/pagination/includes/arrow.blade.php
  resources/views/components/general/pagination/includes/middle.blade.php
  resources/views/components/general/pagination/includes/simple.blade.php
  resources/views/components/general/pagination/show-dropdown.blade.php
  resources/views/components/general/pagination/table.blade.php
  resources/views/components/navbar/network-dropdown.blade.php
  resources/views/livewire/price-ticker.blade.php
  resources/views/livewire/wallet-table.blade.php
  tests/Feature/Http/Livewire/WalletTableTest.php
Labels: refactor

#232 refactor: update search styling
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/top.blade.php
Labels: refactor

#230 refactor: top accounts percentage md lg breakpoint
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/tables/desktop/wallets.blade.php
  tailwind.config.js
Labels: refactor

#227 feat: initial exchanges page
  app/Http/Controllers/ExchangesController.php
  app/Http/Livewire/ExchangeTable.php
  app/Providers/AppServiceProvider.php
  public/css/app.css
  public/mix-manifest.json
  resources/icons/exchanges/7b.svg
  resources/icons/pair.svg
  resources/icons/stack.svg
  resources/lang/en/general.php
  resources/lang/en/metatags.php
  resources/lang/en/pages.php
  resources/views/app/compatible-wallets.blade.php
  resources/views/app/exchanges.blade.php
  resources/views/components/compatible-wallets/header.blade.php
  resources/views/components/compatible-wallets/list-wallet.blade.php
  resources/views/components/exchanges/dropdown.blade.php
  resources/views/components/exchanges/pair-dropdown.blade.php
  resources/views/components/exchanges/pairs.blade.php
  resources/views/components/exchanges/type-dropdown.blade.php
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/components/information-pages/cta.blade.php
  resources/views/components/information-pages/header.blade.php
  resources/views/components/skeletons/exchanges.blade.php
  resources/views/components/stats/stat.blade.php
  resources/views/components/tables/desktop/exchanges.blade.php
  resources/views/components/tables/desktop/skeleton/exchanges.blade.php
  resources/views/components/tables/mobile/exchanges.blade.php
  resources/views/components/tables/mobile/skeleton/exchanges.blade.php
  resources/views/livewire/exchange-table.blade.php
  resources/views/livewire/modals/submit-wallet.blade.php
  routes/web.php
  tailwind.config.js
  tests/Feature/Http/Controllers/ExchangeControllerTest.php
  tests/Feature/Http/Livewire/ExchangeTableTest.php
Labels: feature

#234 refactor: consistent dropdown shadows
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/dropdown/dropdown.blade.php
  tailwind.config.js
Labels: refactor

#231 feat: submit exchange modal
  app/Http/Livewire/Modals/SubmitExchange.php
  app/Mail/ExchangeFormSubmitted.php
  config/mail.php
  resources/lang/en/actions.php
  resources/lang/en/mails.php
  resources/views/app/exchanges.blade.php
  resources/views/livewire/modals/submit-exchange.blade.php
  resources/views/mails/exchange-submitted.blade.php
  tests/Feature/Http/Livewire/Modals/SubmitExchangeTest.php
  tests/Unit/Mail/ExchangeFormSubmittedTest.php
Labels: feature

#236 fix: navbar scrolling and margin issues
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/navbar/navbar.blade.php
  resources/views/components/navbar/top.blade.php
  resources/views/layouts/app.blade.php
Labels: bugfix

#235 feat: exchanges filters
  app/Http/Livewire/ExchangeTable.php
  app/Http/Livewire/ExchangeTableFilter.php
  app/Models/Exchange.php
  resources/views/app/exchanges.blade.php
  resources/views/components/exchanges/filter-dropdown.blade.php
  resources/views/components/exchanges/pair-dropdown.blade.php
  resources/views/components/exchanges/type-dropdown.blade.php
  resources/views/components/tables/desktop/skeleton/exchanges.blade.php
  resources/views/livewire/exchange-table-filter.blade.php
  tests/Feature/Http/Livewire/ExchangeTableFilterTest.php
  tests/Feature/Http/Livewire/ExchangeTableTest.php
  tests/Feature/Models/ExchangeTest.php
Labels: feature

#244 refactor: add scroll to price dropdown
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/livewire/price-ticker.blade.php
Labels: refactor

#243 fix: flaky wallet voter table test
  tests/Feature/Http/Livewire/WalletVoterTableTest.php
Labels: bugfix

#242 fix: ensure price chart is updated properly
  public/js/app.js
  public/mix-manifest.json
  resources/js/price-chart.js
  resources/views/livewire/price-stats.blade.php
Labels: bugfix

#241 fix: handle voters/blocks page for no delegates
  app/Http/Controllers/ListBlocksByWalletController.php
  app/Http/Controllers/ListVotersByWalletController.php
  tests/Feature/Http/Controllers/ListBlocksByWalletControllerTest.php
  tests/Feature/Http/Controllers/ListVotersByWalletControllerTest.php
Labels: bugfix

#245 refactor: sync mobile/desktop dark mode toggle
  app/Http/Livewire/Navbar/DarkModeToggle.php
Labels: refactor

#247 chore: update PHP dependencies
  composer.json
  composer.lock
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
Labels: chore

#248 feat: exchanges and wallets pages metadata
  public/images/metadata/compatible-wallets.png
  public/images/metadata/exchanges.png
  public/mix-manifest.json
  resources/images/metadata/compatible-wallets.png
  resources/images/metadata/exchanges.png
  resources/lang/en/metatags.php
  resources/views/app/compatible-wallets.blade.php
Labels: feature

#237 feat: fetch volume price from coingecko (usd)
  app/Console/Commands/FetchExchangesDetails.php
  app/Console/Kernel.php
  app/Contracts/MarketDataProvider.php
  app/Exceptions/CoinGeckoThrottledException.php
  app/Jobs/FetchExchangeDetails.php
  app/Models/Exchange.php
  app/Providers/AppServiceProvider.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/search/search-input.blade.php
  tests/Feature/Models/ExchangeTest.php
  tests/Unit/Console/Commands/FetchExchangesDetailsTest.php
  tests/Unit/Console/Commands/LoadExchangesTest.php
  tests/Unit/Jobs/FetchExchangeDetailsTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
  tests/fixtures/coingecko/exchange_details.json
Labels: feature
