Repository ArdentHQ/arkscan, pull requests merged in 2023-09, with the labels that each got.

#509 fix: slow transactions page
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
Labels: bugfix

#511 chore: option to disable mix notifications
  .env.example
  webpack.mix.js
Labels: chore

#507 feat: blocks page stats
  app/Http/Controllers/BlocksController.php
  app/Models/ForgingStats.php
  resources/lang/en/pages.php
  resources/views/app/blocks.blade.php
  resources/views/blocks.blade.php
  resources/views/components/page-headers/blocks.blade.php
  resources/views/components/page-headers/blocks/block-rewards.blade.php
  resources/views/components/page-headers/blocks/blocks-produced.blade.php
  resources/views/components/page-headers/blocks/largest-block.blade.php
  resources/views/components/page-headers/blocks/missed-blocks.blade.php
  routes/web.php
  tests/Feature/Http/Controllers/BlocksControllerTest.php
Labels: feature

#510 refactor: update table badge hover
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
  resources/views/components/general/encapsulated/transaction-type-badge.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
Labels: refactor

#512 fix: transaction page query string on reload
  app/Http/Livewire/Concerns/HasTableFilter.php
Labels: bugfix

#504 refactor: table footer loading state
  resources/views/components/delegates/tables/delegates.blade.php
  resources/views/components/delegates/tables/missed-blocks.blade.php
  resources/views/components/delegates/tables/recent-votes.blade.php
  resources/views/components/general/pagination/includes/middle.blade.php
  resources/views/components/general/pagination/includes/simple.blade.php
  resources/views/components/general/pagination/show-dropdown.blade.php
  resources/views/components/general/pagination/table.blade.php
  resources/views/components/skeletons/delegates/list-table.blade.php
  resources/views/components/skeletons/delegates/missed-blocks.blade.php
  resources/views/components/skeletons/delegates/recent-votes.blade.php
  resources/views/components/skeletons/transactions.blade.php
  resources/views/components/skeletons/wallet-blocks.blade.php
  resources/views/components/skeletons/wallet-transactions.blade.php
  resources/views/components/skeletons/wallet-voters.blade.php
  resources/views/components/tables/encapsulated-table.blade.php
  resources/views/components/wallet/tables/blocks.blade.php
  resources/views/components/wallet/tables/transactions.blade.php
  resources/views/components/wallet/tables/voters.blade.php
  resources/views/livewire/delegates/delegates.blade.php
  resources/views/livewire/delegates/missed-blocks.blade.php
  resources/views/livewire/delegates/recent-votes.blade.php
  resources/views/livewire/delegates/tabs.blade.php
  resources/views/livewire/transaction-table.blade.php
  resources/views/livewire/wallet-block-table.blade.php
  resources/views/livewire/wallet-tables.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
  resources/views/livewire/wallet-voter-table.blade.php
Labels: refactor

#515 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#514 chore: update JavaScript dependencies
  package.json
  yarn.lock
Labels: chore

#508 refactor: blocks table redesign
  app/Http/Livewire/BlockTable.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/tables.php
  resources/views/app/blocks.blade.php
  resources/views/components/skeletons/blocks.blade.php
  resources/views/components/tables/desktop/blocks.blade.php
  resources/views/components/tables/desktop/home-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/blocks.blade.php
  resources/views/components/tables/desktop/skeleton/home-blocks.blade.php
  resources/views/components/tables/mobile/blocks.blade.php
  resources/views/components/tables/mobile/home-blocks.blade.php
  resources/views/components/tables/mobile/skeleton/blocks.blade.php
  resources/views/components/tables/mobile/skeleton/home-blocks.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/address.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/reward.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/transaction-count.blade.php
  resources/views/components/tables/rows/mobile.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/generated-by.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/volume.blade.php
  resources/views/components/tables/toolbars/toolbar.blade.php
  resources/views/livewire/block-table.blade.php
  resources/views/livewire/latest-records.blade.php
  tests/Feature/Http/Livewire/BlockTableTest.php
Labels: refactor

#516 refactor: transactions filter icon remove text
  resources/views/components/tables/filters/transactions-generic.blade.php
Labels: refactor

#518 fix: navbar offset on modal open
  composer.json
  resources/views/components/navbar/desktop.blade.php
  resources/views/components/navbar/mobile.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/layouts/app.blade.php
Labels: bugfix

#521 fix: hide mobile dropdown options until page load
  resources/views/livewire/delegates/tabs.blade.php
  resources/views/livewire/wallet-tables.blade.php
Labels: bugfix

#523 refactor: update blocks table spacing on sm devices
  resources/views/components/tables/mobile/blocks.blade.php
Labels: refactor

#522 refactor: update tooltip icon on delegate tables
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  resources/views/components/tables/desktop/delegates/missed-blocks.blade.php
Labels: refactor

#525 fix: delegates missed blocks with per page options
  app/Http/Livewire/Delegates/Delegates.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
Labels: bugfix

#519 fix: transaction volume include multipayments
  app/Http/Controllers/TransactionsController.php
  tests/Feature/Http/Controllers/TransactionsControllerTest.php
Labels: bugfix

#520 refactor: wallet blocks hide value when not exchangeable & update breakpoints
  resources/views/components/tables/desktop/blocks.blade.php
  resources/views/components/tables/desktop/skeleton/blocks.blade.php
  resources/views/components/tables/desktop/skeleton/wallet-blocks.blade.php
  resources/views/components/tables/desktop/wallet-blocks.blade.php
  resources/views/components/tables/mobile/skeleton/wallet-blocks.blade.php
  resources/views/components/tables/mobile/wallet-blocks.blade.php
Labels: refactor

#524 refactor: update meta images
  public/images/metadata/block.png
  public/images/metadata/blocks.png
  public/images/metadata/compatible-wallets.png
  public/images/metadata/delegate-monitor.png
  public/images/metadata/delegates.png
  public/images/metadata/exchanges.png
  public/images/metadata/homepage.png
  public/images/metadata/search.png
  public/images/metadata/statistics.png
  public/images/metadata/top-accounts.png
  public/images/metadata/transaction.png
  public/images/metadata/transactions.png
  public/images/metadata/wallet.png
  public/images/metadata/wallets.png
  public/mix-manifest.json
  resources/images/metadata/block.png
  resources/images/metadata/blocks.png
  resources/images/metadata/compatible-wallets.png
  resources/images/metadata/delegate-monitor.png
  resources/images/metadata/delegates.png
  resources/images/metadata/exchanges.png
  resources/images/metadata/homepage.png
  resources/images/metadata/search.png
  resources/images/metadata/statistics.png
  resources/images/metadata/top-accounts.png
  resources/images/metadata/transaction.png
  resources/images/metadata/transactions.png
  resources/images/metadata/wallet.png
  resources/images/metadata/wallets.png
  resources/lang/en/metatags.php
Labels: refactor

#527 fix: remove transition from table badge hover change
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
Labels: bugfix

#528 fix: delegate table status badge hover styling
  resources/views/components/tables/rows/desktop/encapsulated/delegates/delegate-status.blade.php
Labels: bugfix

#529 fix: truncate known wallets in transaction overview table
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
Labels: bugfix

#530 chore: update wrong meta images
  public/images/metadata/block.png
  public/images/metadata/blocks.png
  public/images/metadata/compatible-wallets.png
  public/images/metadata/delegate-monitor.png
  public/images/metadata/delegates.png
  public/images/metadata/exchanges.png
  public/images/metadata/top-accounts.png
  public/images/metadata/transaction.png
  public/images/metadata/transactions.png
  public/images/metadata/wallet.png
  public/mix-manifest.json
  resources/images/metadata/block.png
  resources/images/metadata/blocks.png
  resources/images/metadata/compatible-wallets.png
  resources/images/metadata/delegate-monitor.png
  resources/images/metadata/delegates.png
  resources/images/metadata/exchanges.png
  resources/images/metadata/top-accounts.png
  resources/images/metadata/transaction.png
  resources/images/metadata/transactions.png
  resources/images/metadata/wallet.png
Labels: chore

#531 refactor: use laravel mix for meta images
  resources/lang/en/metatags.php
  resources/views/components/metadata.blade.php
Labels: refactor

#532 fix: make page subtitle lighter to increase readability in dark mode
  resources/views/components/page-headers/generic.blade.php
Labels: bugfix

#535 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#534 refactor: consistent headings & fix mobile hidden header
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/compatible-wallets.blade.php
  resources/views/app/exchanges.blade.php
  resources/views/app/top-accounts.blade.php
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/information-pages/header.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/components/page-headers/generic.blade.php
  resources/views/livewire/top-accounts-table.blade.php
Labels: refactor

#513 fix: query string between tabbed tables
  app/Http/Livewire/Abstracts/TabbedTableComponent.php
  app/Http/Livewire/Concerns/HasTablePagination.php
  app/Http/Livewire/Concerns/HasTabs.php
  app/Http/Livewire/Delegates/Delegates.php
  app/Http/Livewire/Delegates/MissedBlocks.php
  app/Http/Livewire/Delegates/RecentVotes.php
  app/Http/Livewire/Delegates/Tabs.php
  app/Http/Livewire/WalletBlockTable.php
  app/Http/Livewire/WalletTables.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Http/Livewire/WalletVoterTable.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
  tests/Feature/Http/Livewire/Concerns/HasTablePaginationTest.php
  tests/Feature/Http/Livewire/WalletTablesTest.php
Labels: bugfix

#536 refactor: address truncation adjustments
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/badge.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
  tailwind.config.js
Labels: refactor

#537 chore: merge develop into staging
  app/Http/Livewire/Abstracts/TabbedTableComponent.php
  app/Http/Livewire/Concerns/HasTablePagination.php
  app/Http/Livewire/Concerns/HasTabs.php
  app/Http/Livewire/Delegates/Delegates.php
  app/Http/Livewire/Delegates/MissedBlocks.php
  app/Http/Livewire/Delegates/RecentVotes.php
  app/Http/Livewire/Delegates/Tabs.php
  app/Http/Livewire/WalletBlockTable.php
  app/Http/Livewire/WalletTables.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Http/Livewire/WalletVoterTable.php
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/compatible-wallets.blade.php
  resources/views/app/exchanges.blade.php
  resources/views/app/top-accounts.blade.php
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/general/badge.blade.php
  resources/views/components/information-pages/header.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/components/page-headers/generic.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
  resources/views/livewire/top-accounts-table.blade.php
  tailwind.config.js
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
  tests/Feature/Http/Livewire/Concerns/HasTablePaginationTest.php
  tests/Feature/Http/Livewire/WalletTablesTest.php
Labels: chore

#539 chore: merge staging into master
  app/Http/Livewire/Abstracts/TabbedTableComponent.php
  app/Http/Livewire/Concerns/HasTablePagination.php
  app/Http/Livewire/Concerns/HasTabs.php
  app/Http/Livewire/Delegates/Delegates.php
  app/Http/Livewire/Delegates/MissedBlocks.php
  app/Http/Livewire/Delegates/RecentVotes.php
  app/Http/Livewire/Delegates/Tabs.php
  app/Http/Livewire/WalletBlockTable.php
  app/Http/Livewire/WalletTables.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Http/Livewire/WalletVoterTable.php
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/compatible-wallets.blade.php
  resources/views/app/exchanges.blade.php
  resources/views/app/top-accounts.blade.php
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/general/badge.blade.php
  resources/views/components/information-pages/header.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/components/page-headers/generic.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
  resources/views/livewire/top-accounts-table.blade.php
  tailwind.config.js
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
  tests/Feature/Http/Livewire/Concerns/HasTablePaginationTest.php
  tests/Feature/Http/Livewire/WalletTablesTest.php
Labels: chore

#542 chore: update PHP dependencies
  composer.json
  composer.lock
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
Labels: chore

#538 refactor: delegate list sorting & inactive missed blocks count status
  app/Console/Commands/CacheDelegateVoterCounts.php
  app/Enums/SortDirection.php
  app/Http/Livewire/Concerns/HasTableSorting.php
  app/Http/Livewire/Delegates/Delegates.php
  app/Models/ForgingStats.php
  app/Models/Wallet.php
  app/Services/Cache/DelegateCache.php
  app/Services/NumberFormatter.php
  app/ViewModels/Concerns/Wallet/CanForge.php
  config/app.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/network-currency.blade.php
  resources/views/components/search/results/wallet.blade.php
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/list-table.blade.php
  resources/views/components/tables/headers/desktop/address.blade.php
  resources/views/components/tables/headers/desktop/includes/livewire-sort-icon.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/headers/desktop/text.blade.php
  resources/views/components/tables/mobile/delegates/list-table.blade.php
  resources/views/components/tables/mobile/skeleton/delegates/list-table.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/balance.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/missed-blocks.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/votes.blade.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
Labels: refactor

#541 refactor: recent votes sorting
  app/Http/Livewire/Delegates/RecentVotes.php
  resources/views/components/tables/desktop/delegates/recent-votes.blade.php
  tests/Feature/Http/Livewire/Delegates/RecentVotesTest.php
Labels: refactor

#540 refactor: missed blocks sorting
  app/Http/Livewire/Delegates/MissedBlocks.php
  resources/views/components/tables/desktop/delegates/missed-blocks.blade.php
  resources/views/components/tables/headers/desktop/id.blade.php
  tests/Feature/Http/Livewire/Delegates/MissedBlocksTest.php
Labels: refactor

#543 refactor: delegates additional handling
  app/Http/Livewire/Delegates/Delegates.php
  app/ViewModels/ForgingStatsViewModel.php
  resources/views/components/tables/desktop/delegates/missed-blocks.blade.php
  resources/views/components/tables/mobile/delegates/missed-blocks.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/number-of-voters.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/votes-percentage.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/votes.blade.php
  tests/Analysis/AnalysisTest.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
  tests/Feature/Http/Livewire/Delegates/MissedBlocksTest.php
  tests/Helpers.php
  tests/Unit/ViewModels/ForgingStatsViewModelTest.php
Labels: refactor

#544 refactor(delegates): truncate username at 768px & don't wrap table titles
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/identity.blade.php
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  resources/views/components/tables/desktop/delegates/missed-blocks.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/address.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/missed-blocks.blade.php
Labels: refactor

#545 refactor: fix participants hover issue
  resources/views/components/tables/desktop/transaction-participants.blade.php
Labels: refactor

#548 refactor: add sort icon to skeleton
  resources/views/components/tables/desktop/skeleton/delegates/list-table.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/missed-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/recent-votes.blade.php
  resources/views/components/tables/headers/desktop/address.blade.php
  resources/views/components/tables/headers/desktop/includes/livewire-sort-icon.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
  resources/views/components/tables/headers/desktop/text.blade.php
  resources/views/components/tables/skeletons/encapsulated/desktop.blade.php
Labels: refactor

#546 chore: merge develop into staging
  app/Console/Commands/CacheDelegateVoterCounts.php
  app/Enums/SortDirection.php
  app/Http/Livewire/Concerns/HasTableSorting.php
  app/Http/Livewire/Delegates/Delegates.php
  app/Http/Livewire/Delegates/MissedBlocks.php
  app/Http/Livewire/Delegates/RecentVotes.php
  app/Models/ForgingStats.php
  app/Models/Wallet.php
  app/Services/Cache/DelegateCache.php
  app/Services/NumberFormatter.php
  app/ViewModels/Concerns/Wallet/CanForge.php
  app/ViewModels/ForgingStatsViewModel.php
  composer.json
  composer.lock
  config/app.php
  public/css/app.css
  public/mix-manifest.json
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
  resources/views/components/general/identity.blade.php
  resources/views/components/general/network-currency.blade.php
  resources/views/components/search/results/wallet.blade.php
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  resources/views/components/tables/desktop/delegates/missed-blocks.blade.php
  resources/views/components/tables/desktop/delegates/recent-votes.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/list-table.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/missed-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/delegates/recent-votes.blade.php
  resources/views/components/tables/desktop/transaction-participants.blade.php
  resources/views/components/tables/headers/desktop/address.blade.php
  resources/views/components/tables/headers/desktop/id.blade.php
  resources/views/components/tables/headers/desktop/includes/livewire-sort-icon.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
  resources/views/components/tables/headers/desktop/text.blade.php
  resources/views/components/tables/mobile/delegates/list-table.blade.php
  resources/views/components/tables/mobile/delegates/missed-blocks.blade.php
  resources/views/components/tables/mobile/skeleton/delegates/list-table.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/address.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/balance.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/missed-blocks.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/number-of-voters.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/votes-percentage.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/votes.blade.php
  resources/views/components/tables/skeletons/encapsulated/desktop.blade.php
  tests/Analysis/AnalysisTest.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
  tests/Feature/Http/Livewire/Delegates/MissedBlocksTest.php
  tests/Feature/Http/Livewire/Delegates/RecentVotesTest.php
  tests/Helpers.php
  tests/Unit/ViewModels/ForgingStatsViewModelTest.php
Labels: chore

#550 refactor: improve sort icon loading state handling
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/tables/headers/desktop/address.blade.php
  resources/views/components/tables/headers/desktop/includes/livewire-sort-icon.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
  resources/views/components/tables/headers/desktop/text.blade.php
Labels: refactor

#551 refactor: delegates sort by missed blocks
  app/Http/Livewire/Delegates/Delegates.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
Labels: refactor

#547 refactor: transactions truncated name tooltip
  resources/views/components/dynamic-tooltip.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
Labels: refactor

#556 chore: merge develop into staging
  app/Http/Livewire/Delegates/Delegates.php
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/dynamic-tooltip.blade.php
  resources/views/components/tables/headers/desktop/address.blade.php
  resources/views/components/tables/headers/desktop/includes/livewire-sort-icon.blade.php
  resources/views/components/tables/headers/desktop/includes/sort-icon.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
  resources/views/components/tables/headers/desktop/text.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
Labels: chore

#554 chore: update JavaScript dependencies
  package.json
  public/js/app.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#555 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#558 refactor: disable scroll lock on ios safari
  resources/views/components/navbar/mobile.blade.php
Labels: refactor

#559 refactor: home blocks table
  app/Http/Livewire/BlockTable.php
  app/Http/Livewire/Concerns/ManagesLatestBlocks.php
  app/Http/Livewire/Home/Blocks.php
  app/Http/Livewire/WalletBlockTable.php
  resources/lang/en/pages.php
  resources/lang/en/tables.php
  resources/views/components/home/tables/blocks.blade.php
  resources/views/components/home/tables/transactions.blade.php
  resources/views/components/skeletons/home/blocks.blade.php
  resources/views/components/skeletons/home/transactions.blade.php
  resources/views/components/tables/desktop/home-blocks.blade.php
  resources/views/components/tables/desktop/home-transactions.blade.php
  resources/views/components/tables/desktop/home/blocks.blade.php
  resources/views/components/tables/desktop/skeleton/home-blocks.blade.php
  resources/views/components/tables/desktop/skeleton/home-transactions.blade.php
  resources/views/components/tables/desktop/skeleton/home/blocks.blade.php
  resources/views/components/tables/footers/view-all.blade.php
  resources/views/components/tables/mobile/home-blocks.blade.php
  resources/views/components/tables/mobile/home-transactions.blade.php
  resources/views/components/tables/mobile/home/blocks.blade.php
  resources/views/components/tables/mobile/skeleton/home-blocks.blade.php
  resources/views/components/tables/mobile/skeleton/home-transactions.blade.php
  resources/views/components/tables/mobile/skeleton/home/blocks.blade.php
  resources/views/livewire/home/blocks.blade.php
  resources/views/livewire/home/tables.blade.php
  resources/views/livewire/home/transactions.blade.php
  tests/Feature/Http/Livewire/Home/BlocksTest.php
Labels: refactor
