Repository ArdentHQ/arkscan, pull requests merged in 2023-01, with the labels that each got.

#130 feat: migration page banner
  app/Http/Controllers/MigrationController.php
  public/css/app.css
  public/mix-manifest.json
  resources/css/_theme.css
  resources/icons/migration/banner.svg
  resources/lang/en/actions.php
  resources/lang/en/metatags.php
  resources/lang/en/pages.php
  resources/lang/en/urls.php
  resources/views/app/migration.blade.php
  resources/views/components/page-headers/migration.blade.php
  routes/web.php
  tailwind.config.js
  tests/Feature/Http/Controllers/MigrationControllerTest.php
Labels: feature

#127 chore: update JavaScript dependencies
  package.json
  yarn.lock
Labels: chore

#131 feat: migration transactions
  app/Http/Livewire/Migration/Transactions.php
  app/Models/Transaction.php
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/actions.php
  resources/lang/en/pages.php
  resources/views/app/migration.blade.php
  resources/views/components/page-headers/migration.blade.php
  resources/views/components/skeletons/migration-transactions.blade.php
  resources/views/components/tables/desktop/migration-transactions.blade.php
  resources/views/components/tables/desktop/skeleton/migration-transactions.blade.php
  resources/views/components/tables/mobile/migration-transactions.blade.php
  resources/views/components/tables/mobile/skeleton/migration-transactions.blade.php
  resources/views/livewire/migration/transactions.blade.php
Labels: feature

#133 feat: support migration transaction in wallet details page
  public/css/app.css
  public/mix-manifest.json
  resources/css/_general.css
  resources/css/_tables.css
  resources/lang/en/pages.php
  resources/views/components/tables/desktop/transactions.blade.php
  resources/views/components/tables/mobile/transactions.blade.php
  resources/views/components/tables/rows/desktop/amount-migrated.blade.php
  resources/views/components/tables/rows/desktop/sender-with-direction.blade.php
  resources/views/components/tables/rows/mobile/amount-migrated.blade.php
  resources/views/components/transactions/recipient.blade.php
Labels: feature

#134 refactor: migration navbar item
  .github/workflows/ui.yml
  .svgo.js
  public/css/app.css
  public/mix-manifest.json
  resources/icons/sparks.svg
  resources/lang/en/menus.php
  resources/views/components/navbar/item.blade.php
  resources/views/components/navbar/migration-item.blade.php
  resources/views/components/navbar/navbar.blade.php
  tailwind.config.js
Labels: refactor

#135 test: migration transaction list
  tests/Feature/Http/Livewire/Migration/TransactionsTest.php
  tests/Unit/Models/TransactionTest.php
Labels: test

#132 feat: migration stats
  app/Http/Livewire/Migration/Stats.php
  app/Services/BigNumber.php
  public/css/app.css
  public/mix-manifest.json
  resources/css/_general.css
  resources/css/_theme.css
  resources/icons/migration/banner.svg
  resources/lang/en/pages.php
  resources/views/app/migration.blade.php
  resources/views/components/page-headers/migration.blade.php
  resources/views/components/stats/stat.blade.php
  resources/views/livewire/migration/stats.blade.php
  tailwind.config.js
  tests/Feature/Http/Controllers/MigrationControllerTest.php
  tests/Feature/Http/Livewire/Migration/StatsTest.php
Labels: feature

#137 fix: cast walletsMigrated cache to int
  app/Http/Livewire/Migration/Stats.php
Labels: bugfix

#139 feat: add migration wallet highlight component
  app/Http/Livewire/Migration/Stats.php
  app/Http/Livewire/Migration/WalletHighlight.php
  public/css/app.css
  public/mix-manifest.json
  resources/css/_general.css
  resources/views/app/wallets.blade.php
  resources/views/livewire/migration/wallet-highlight.blade.php
  tests/Feature/Http/Livewire/Migration/WalletHighlightTest.php
Labels: feature

#140 refactor: ignore migration wallet in wallet list results
  app/Http/Livewire/WalletTable.php
Labels: refactor

#141 fix: correctly calculate migration supply percentage
  app/Http/Livewire/Migration/Stats.php
  tests/Feature/Http/Livewire/Migration/StatsTest.php
Labels: bugfix

#142 chore: update JavaScript dependencies
  package.json
  yarn.lock
Labels: chore

#149 fix: use correct supply calculation on wallet page
  app/Http/Livewire/Migration/Stats.php
  app/Http/Livewire/Migration/WalletHighlight.php
  tests/Feature/Http/Livewire/Migration/WalletHighlightTest.php
Labels: bugfix

#148 refactor: add "copy" button to migration wallet
  public/css/app.css
  public/mix-manifest.json
  resources/views/app/migration.blade.php
  resources/views/livewire/migration/stats.blade.php
Labels: refactor

#147 fix: light mode text color in dark headers
  resources/views/components/general/entity-header.blade.php
  resources/views/components/page-headers/wallet/frame-item.blade.php
Labels: bugfix

#151 fix: wallet highlight scroll overflow
  resources/views/livewire/migration/wallet-highlight.blade.php
Labels: bugfix

#150 fix: allow setting known wallets on devnet
  config/explorer.php
  tests/TestCase.php
Labels: bugfix

#154 fix: handle zero network supply
  app/Aggregates/VotePercentageAggregate.php
  tests/Unit/Aggregates/VotePercentageAggregateTest.php
Labels: bugfix

#155 refactor: replace recipient avatar with migration icon in a transaction page
  resources/views/components/details/migration-address.blade.php
  resources/views/components/grid/recipient.blade.php
Labels: refactor

#156 refactor: remove decimals from the migrated amount
  resources/views/livewire/migration/stats.blade.php
  resources/views/livewire/migration/wallet-highlight.blade.php
  tests/Feature/Http/Controllers/MigrationControllerTest.php
Labels: refactor

#152 refactor: responsive "transaction type" tabs & filter
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/latest-records-tabs.blade.php
  resources/views/components/transaction-table-filter.blade.php
  resources/views/livewire/transaction-table.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
Labels: refactor

#157 refactor: configure polygonscan url per environment
  app/Services/Blockchain/Network.php
  app/Services/Polygonscan.php
  config/explorer.php
  resources/lang/en/urls.php
  resources/views/components/grid/migrated-address.blade.php
  tests/Unit/Services/PolygonscanTest.php
Labels: refactor

#159 fix: migration wallets header overflow
  resources/views/livewire/migration/wallet-highlight.blade.php
Labels: bugfix

#160 refactor: migration transactions dynamic truncate address
  resources/views/components/general/identity.blade.php
  resources/views/components/tables/desktop/migration-transactions.blade.php
  resources/views/components/tables/rows/desktop/sender.blade.php
Labels: refactor

#163 fix: amount border on 768px in transaction table
  public/css/app.css
  public/mix-manifest.json
  resources/css/_tables.css
  tests/Unit/Aggregates/VotePercentageAggregateTest.php
Labels: bugfix

#162 fix: background color of tx arrow for migration transactions
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/tables/rows/desktop/sender-with-direction.blade.php
Labels: bugfix

#161 fix: wrap forging stats upsert in a database transaction
  app/Jobs/BuildForgingStats.php
Labels: bugfix

#165 fix: sender truncation on migration page
  resources/views/components/general/identity.blade.php
  resources/views/components/tables/desktop/migration-transactions.blade.php
  resources/views/components/tables/rows/desktop/sender.blade.php
Labels: bugfix

#166 refactor: hide migration adjustments if no migration active
  app/Http/Controllers/MigrationController.php
  app/Services/Blockchain/Network.php
  resources/views/app/wallets.blade.php
  resources/views/components/navbar/navbar.blade.php
  tests/Feature/Http/Controllers/MigrationControllerTest.php
  tests/Unit/Services/Blockchain/NetworkTest.php
Labels: refactor

#167 chore: update workflow deps
  .github/workflows/ci.yml
  .github/workflows/deps.yml
  .github/workflows/label.yml
  .github/workflows/ui.yml
  .svgo.js
Labels: chore

#168 chore: update JavaScript dependencies
  package.json
  yarn.lock
Labels: chore

#170 fix: search spinner odd spacing
  resources/views/components/general/search/search-input.blade.php
Labels: bugfix

#172 refactor: migration transactions criteria
  .env.example
  app/Http/Livewire/Migration/Concerns/HandlesStats.php
  app/Http/Livewire/WalletTable.php
  app/Models/Transaction.php
  app/Models/Wallet.php
  app/Services/Blockchain/Network.php
  app/Services/Transactions/TransactionType.php
  app/ViewModels/Concerns/Transaction/HasType.php
  config/explorer.php
  resources/views/livewire/migration/stats.blade.php
  resources/views/livewire/migration/wallet-highlight.blade.php
  tests/Feature/Http/Controllers/MigrationControllerTest.php
  tests/Feature/Http/Livewire/Migration/StatsTest.php
  tests/Feature/Http/Livewire/Migration/TransactionsTest.php
  tests/Feature/Http/Livewire/Migration/WalletHighlightTest.php
  tests/Unit/Actions/CacheNetworkSupplyTest.php
  tests/Unit/Actions/CacheTotalSupplyTest.php
  tests/Unit/Models/TransactionTest.php
  tests/Unit/Models/WalletTest.php
  tests/Unit/Services/Blockchain/NetworkTest.php
  tests/Unit/Services/Transactions/TransactionTypeTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: refactor

#171 refactor: reduce migration transactions skeleton row count
  app/View/Components/TableSkeleton.php
  resources/views/components/skeleton.blade.php
  resources/views/components/tables/desktop/skeleton/migration-transactions.blade.php
  resources/views/components/tables/mobile/skeleton/migration-transactions.blade.php
  resources/views/components/tables/skeletons/desktop.blade.php
  resources/views/components/tables/skeletons/mobile.blade.php
Labels: refactor

#173 chore: update JavaScript dependencies
  package.json
  public/js/vendor.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#174 feat: migration additional tx checks
  app/Services/Transactions/TransactionType.php
  app/ViewModels/Concerns/Transaction/DeterminesMigration.php
  app/ViewModels/Concerns/Transaction/HasType.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
  tests/Unit/Services/Transactions/TransactionTypeTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: feature

#175 fix: migration transaction vendorfield checks
  app/Http/Livewire/Concerns/ManagesLatestTransactions.php
  app/Models/Transaction.php
  app/Services/Transactions/TransactionType.php
  app/Services/VendorField.php
  app/ViewModels/Concerns/Transaction/DeterminesMigration.php
  app/ViewModels/Concerns/Transaction/InteractsWithVendorField.php
  app/ViewModels/TransactionViewModel.php
  tests/Unit/Models/TransactionTest.php
  tests/Unit/Services/Transactions/TransactionTypeTest.php
  tests/Unit/Services/VendorFieldTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: bugfix

#177 refactor: allow migration URLs to be configured per network
  app/Services/Blockchain/Network.php
  config/explorer.php
  resources/lang/en/urls.php
  resources/views/components/page-headers/migration.blade.php
Labels: refactor
