Repository ArdentHQ/arkscan, pull requests merged in 2024-05, with the labels that each got.

#866 chore: update svgo workflow
  .github/workflows/ui.yml
  .svgo.js
  resources/icons/arrow-down.svg
  resources/icons/arrow-up.svg
  resources/icons/coingecko.svg
  resources/icons/confirmations.svg
  resources/icons/delegate-name.svg
  resources/icons/delegate.svg
  resources/icons/details.svg
  resources/icons/exchange.svg
  resources/icons/height.svg
  resources/icons/price.svg
  resources/icons/rank.svg
  resources/icons/status-done.svg
  resources/icons/status-undone.svg
  resources/icons/status-waiting.svg
  resources/icons/transaction.svg
  resources/icons/transactions.svg
  resources/icons/verified.svg
  resources/images/logo.svg
Labels: chore

#868 fix: wallet learn more arrows
  resources/css/_general.css
  resources/views/components/compatible-wallets/arkconnect.blade.php
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/general/learn-more.blade.php
Labels: bugfix

#867 fix: search transaction type width
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/search/results/transaction.blade.php
Labels: bugfix

#865 refactor: arkconnect wrong network message
  composer.json
  composer.lock
  resources/js/wallet.js
  resources/lang/en/general.php
  resources/views/components/arkconnect/delegate-toasts.blade.php
  resources/views/components/delegates/vote-link.blade.php
  resources/views/components/wallet/overview/delegate.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
Labels: refactor

#869 refactor: arkconnect delegate standby & resigned notices
  composer.json
  composer.lock
  resources/css/_inputs.css
  resources/js/wallet.js
  resources/lang/en/forms.php
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/arkconnect/delegate-toast.blade.php
  resources/views/components/arkconnect/delegate-toasts.blade.php
  resources/views/components/arkconnect/resigned-delegate-toast.blade.php
  resources/views/components/arkconnect/standby-delegate-toast.blade.php
  resources/views/components/arkconnect/wrong-network-toast.blade.php
  resources/views/components/delegates/resigned-delegate-notice.blade.php
  resources/views/components/delegates/vote-link.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/vote-link.blade.php
  resources/views/components/wallet/overview/delegate.blade.php
  tailwind.config.js
Labels: refactor

#872 refactor: prevent extension logic when disabled
  resources/views/components/tables/desktop/delegates/list-table.blade.php
Labels: refactor

#876 refactor: update vote popup header color on dark & dim
  resources/views/components/delegates/vote-link.blade.php
Labels: refactor

#877 refactor: update qr code arkconnect modal
  resources/lang/en/general.php
  resources/views/livewire/wallet-qr-code.blade.php
Labels: refactor

#875 refactor: connect wallet modals
  resources/images/modals/arkconnect/install-dark.svg
  resources/images/modals/arkconnect/install-dim.svg
  resources/images/modals/arkconnect/install.svg
  resources/images/modals/arkconnect/unsupported-dark.svg
  resources/images/modals/arkconnect/unsupported-dim.svg
  resources/images/modals/arkconnect/unsupported.svg
  resources/js/wallet.js
  resources/lang/en/general.php
  resources/views/components/arkconnect/modal/install-wallet.blade.php
  resources/views/components/arkconnect/modal/modal.blade.php
  resources/views/components/arkconnect/modal/unsupported-browser.blade.php
  resources/views/components/navbar/arkconnect.blade.php
Labels: refactor

#879 refactor: hide install button if not supported
  resources/views/components/arkconnect/modal/install-wallet.blade.php
Labels: refactor

#878 refactor: delegates page standby notice
  resources/lang/en/pages.php
  resources/views/components/delegates/arkconnect/resigned-delegate-notice.blade.php
  resources/views/components/delegates/arkconnect/standby-delegate-notice.blade.php
  resources/views/components/delegates/arkconnect/vote-link.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/vote-link.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/vote-link.blade.php
  resources/views/components/wallet/overview/delegate.blade.php
  resources/views/livewire/delegates/delegates.blade.php
  resources/views/livewire/delegates/tabs.blade.php
Labels: refactor

#880 refactor: disable arkconnect qr tooltip with amount
  resources/views/livewire/wallet-qr-code.blade.php
Labels: refactor

#884 chore: remove pnpm preinstall requirement
  package.json
Labels: chore

#882 fix: build files for docker
  docker/entrypoint.sh
Labels: bugfix

#887 refactor: use arkscan nethash for arkvault url
  app/Services/ArkVaultUrlBuilder.php
  tests/Unit/Services/ArkVaultUrlBuilderTest.php
Labels: refactor

#885 chore: merge develop into staging
  app/Services/ArkVaultUrlBuilder.php
  docker/entrypoint.sh
  package.json
  resources/lang/en/general.php
  resources/views/components/arkconnect/disabled-action.blade.php
  resources/views/components/delegates/arkconnect/vote-link.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Unit/Services/ArkVaultUrlBuilderTest.php
Labels: chore

#888 chore: merge staging into master
  app/Services/ArkVaultUrlBuilder.php
  docker/entrypoint.sh
  package.json
  resources/lang/en/general.php
  resources/views/components/arkconnect/disabled-action.blade.php
  resources/views/components/delegates/arkconnect/vote-link.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Unit/Services/ArkVaultUrlBuilderTest.php
Labels: chore

#889 test: remove hardcoded nethash references
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/Services/Blockchain/NetworkTest.php
Labels: test

#891 refactor: remove next validator test & comment
  app/Services/Monitor/ValidatorTracker.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
Labels: refactor

#896 refactor: arkconnect modal adjustments
  resources/views/components/arkconnect/modal/install-wallet.blade.php
  resources/views/components/arkconnect/modal/modal.blade.php
Labels: refactor

#893 test: fix intermittently failing statistics command test
  tests/Unit/Console/Commands/CacheValidatorStatisticsTest.php
Labels: test

#894 test: fix intermittently failing transaction type coverage
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: test

#892 test: fix intermittently failing delegate databox tests
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Helpers.php
Labels: test

#781 feat: blocks websocket reloading
  .env.example
  README.md
  WEBHOOKS.md
  WEBSOCKETS.md
  app/Console/Commands/SetupWebhook.php
  app/Events/NewBlock.php
  app/Events/NewEntity.php
  app/Http/Controllers/WebhooksController.php
  app/Http/Livewire/BlockTable.php
  composer.json
  composer.lock
  config/app.php
  config/arkscan.php
  config/broadcasting.php
  config/reverb.php
  config/websockets.php
  package.json
  phpunit.xml
  pnpm-lock.yaml
  resources/js/app.js
  routes/channels.php
  routes/web.php
  tests/Feature/Events/NewBlockTest.php
  tests/Feature/Http/Controllers/WebhooksControllerTest.php
  tests/Feature/Http/Livewire/BlockTableTest.php
  tests/Unit/Console/Commands/SetupWebhookTest.php
Labels: feature

#901 refactor: arkconnect dropdown my address
  resources/js/wallet.js
  resources/lang/en/general.php
  resources/views/components/general/dropdown/list-item.blade.php
  resources/views/components/navbar/arkconnect.blade.php
Labels: refactor

#897 refactor: show address if no username
  resources/js/wallet.js
Labels: refactor

#904 refactor: annual statistics command
  app/Console/Commands/CacheAnnualStatistics.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
Labels: refactor

#903 refactor: transactions webhooks
  app/Http/Livewire/TransactionTable.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
Labels: refactor

#898 feat: delegate monitor webhook refresh
  app/Http/Livewire/DelegateDataBoxes.php
  app/Http/Livewire/Delegates/Monitor.php
  resources/views/livewire/delegate-data-boxes.blade.php
  resources/views/livewire/delegates/monitor.blade.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Feature/Http/Livewire/Delegates/MonitorTest.php
Labels: feature

#900 refactor: webhook management commands
  app/Console/Commands/SetupWebhook.php
  app/Console/Commands/Webhooks/DeleteWebhook.php
  app/Console/Commands/Webhooks/FlushWebhooks.php
  app/Console/Commands/Webhooks/ListWebhooks.php
  app/Console/Commands/Webhooks/SetupWebhook.php
  app/Models/Webhook.php
  database/factories/WebhookFactory.php
  database/migrations/2024_05_13_164546_create_core_webhooks_table.php
  tests/TestCase.php
  tests/Unit/Console/Commands/SetupWebhookTest.php
  tests/Unit/Console/Commands/Webhooks/DeleteWebhookTest.php
  tests/Unit/Console/Commands/Webhooks/FlushWebhooksTest.php
  tests/Unit/Console/Commands/Webhooks/ListWebhooksTest.php
  tests/Unit/Console/Commands/Webhooks/SetupWebhookTest.php
  tests/migrations/2021_07_23_174905_create_forging_stats_table_for_tests.php
  tests/migrations/2023_08_07_183334_add_missed_height_to_forging_stats_table.php
Labels: refactor

#906 chore: update PHP dependencies
  composer.lock
Labels: chore

#909 test: fix intermittently failing
  tests/Analysis/AnalysisTest.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Helpers.php
Labels: test

#905 chore: update webhooks documentation
  WEBHOOKS.md
Labels: chore

#907 fix: arkconnect delegate voting for indicator
  resources/views/components/tables/desktop/delegates/list-table.blade.php
Labels: bugfix

#912 refactor: arkconnect handle delegate property naming change
  resources/js/wallet.js
Labels: refactor

#913 refactor: arkconnect update wrong network address color
  resources/views/components/navbar/arkconnect.blade.php
Labels: refactor

#911 chore: merge develop into staging
  app/Console/Commands/CacheAnnualStatistics.php
  composer.json
  composer.lock
  resources/js/wallet.js
  resources/lang/en/general.php
  resources/views/components/arkconnect/modal/install-wallet.blade.php
  resources/views/components/arkconnect/modal/modal.blade.php
  resources/views/components/general/dropdown/list-item.blade.php
  resources/views/components/navbar/arkconnect.blade.php
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  tests/Analysis/AnalysisTest.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Helpers.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
  tests/Unit/Services/Blockchain/NetworkTest.php
Labels: chore

#914 chore: merge staging into master
  app/Console/Commands/CacheAnnualStatistics.php
  composer.json
  composer.lock
  resources/js/wallet.js
  resources/lang/en/general.php
  resources/views/components/arkconnect/modal/install-wallet.blade.php
  resources/views/components/arkconnect/modal/modal.blade.php
  resources/views/components/general/dropdown/list-item.blade.php
  resources/views/components/navbar/arkconnect.blade.php
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  tests/Analysis/AnalysisTest.php
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Helpers.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
  tests/Unit/Services/Blockchain/NetworkTest.php
Labels: chore

#915 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#908 feat: websockets price updates
  app/Console/Commands/CachePrices.php
  app/Events/CurrencyUpdate.php
  app/Events/NewEntity.php
  app/Http/Livewire/Home/PriceTicker.php
  app/Http/Livewire/Navbar/PriceTicker.php
  app/Http/Livewire/Webhooks/CurrencyUpdate.php
  resources/js/webhooks.js
  resources/views/components/webhooks/reload-blocks.blade.php
  resources/views/components/webhooks/reload-transactions.blade.php
  resources/views/components/webhooks/reload-voters.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/home/price-ticker.blade.php
  resources/views/livewire/navbar/price-ticker.blade.php
  resources/views/livewire/webhooks/currency-update.blade.php
  tests/Unit/Console/Commands/CachePricesTest.php
Labels: feature
