Repository ArdentHQ/arkscan, pull requests merged in 2024-11, with the labels that each got.

#973 feat: copy code button & update code block tab design
  resources/css/_general.css
  resources/lang/en/pages.php
  resources/views/components/transaction/code-block/code-block.blade.php
  resources/views/components/transaction/code-block/formatted-contract.blade.php
  resources/views/components/transaction/code-block/tab.blade.php
  resources/views/components/transaction/page/more-details.blade.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: feature

#986 chore: update contract method ids
  resources/lang/en/contracts.php
Labels: chore

#987 refactor: remove transaction filters
  app/Http/Livewire/TransactionTable.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Models/Transaction.php
Labels: refactor

#989 fix: wallet page error
  app/Http/Livewire/WalletTransactionTable.php
  app/Models/Wallet.php
Labels: bugfix

#990 refactor: remove forget username logic
  app/Console/Commands/CacheUsernames.php
Labels: refactor

#991 fix: search transaction indexing
  app/Models/Transaction.php
  app/Services/Transactions/TransactionDirection.php
  app/ViewModels/Concerns/Transaction/InteractsWithWallets.php
  app/ViewModels/TransactionViewModel.php
Labels: bugfix

#992 refactor: remove validator registration scope for cache networks command
  app/Console/Commands/CacheNetworkAggregates.php
Labels: refactor

#993 refactor: remove validator scope for cache resignations command
  app/Console/Commands/CacheValidatorResignationIds.php
Labels: refactor

#994 refactor: calculate fees
  app/Models/Receipt.php
  app/Models/Transaction.php
  app/Providers/RouteServiceProvider.php
  app/Services/BigNumber.php
  app/Services/Cache/StatisticsCache.php
  app/Services/Identity.php
  app/ViewModels/TransactionViewModel.php
  composer.json
  composer.lock
  database/factories/ReceiptFactory.php
  database/factories/TransactionFactory.php
  tests/Unit/Models/ReceiptTest.php
  tests/Unit/Models/TransactionTest.php
  tests/Unit/Services/Cache/StatisticsCacheTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/migrations/2020_10_19_042110_create_transactions_table.php
  tests/migrations/2024_11_08_015700_create_receipts_table.php
Labels: refactor

#996 refactor: adjust columns in latest wallet aggregate
  app/Services/Addresses/Aggregates/LatestWalletAggregate.php
Labels: refactor

#997 refactor: cache transaction command
  app/Services/Transactions/Aggregates/Historical/AveragesAggregate.php
  app/Services/Transactions/Aggregates/LargestTransactionAggregate.php
  app/Services/Transactions/Aggregates/Type/MultipaymentAggregate.php
  app/Services/Transactions/Aggregates/Type/TransferAggregate.php
  app/Services/Transactions/Aggregates/Type/UnvoteAggregate.php
  app/Services/Transactions/Aggregates/Type/ValidatorRegistrationAggregate.php
  app/Services/Transactions/Aggregates/Type/ValidatorResignationAggregate.php
  app/Services/Transactions/Aggregates/Type/VoteAggregate.php
  app/Services/Transactions/Aggregates/Type/VoteCombinationAggregate.php
  database/factories/TransactionFactory.php
  tests/Unit/Services/Transactions/Aggregates/Historical/AveragesAggregateTest.php
Labels: refactor

#998 refactor: cache fees command
  app/Console/Commands/CacheFees.php
  app/Services/Transactions/Aggregates/Fees/Historical/AllAggregate.php
  app/Services/Transactions/Aggregates/Fees/Historical/RangeAggregate.php
  app/Services/Transactions/Aggregates/Fees/LastFeeAggregate.php
Labels: refactor

#995 refactor: cache annual statistics job
  app/Console/Commands/CacheAnnualStatistics.php
  resources/views/components/stats/insights/annual.blade.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
Labels: refactor

#1002 fix: validators & division by zero
  app/Http/Livewire/Validators/Validators.php
  app/ViewModels/Concerns/Wallet/HasVoters.php
Labels: bugfix

#1006 refactor: output contract address
  resources/views/components/transaction/page/addressing.blade.php
Labels: refactor

#1007 fix: payload formatting for unknown contracts
  app/Models/Receipt.php
  app/ViewModels/Concerns/Transaction/HasPayload.php
  app/ViewModels/Concerns/Transaction/InteractsWithWallets.php
Labels: bugfix

#1011 refactor: re-add validator rank for listing
  app/Http/Livewire/Validators/Validators.php
Labels: refactor

#1010 feat: cache gas tracker data
  app/Console/Commands/CacheGasTrackerData.php
  app/Console/Kernel.php
  app/Services/Cache/MainsailCache.php
  app/Services/MainsailApi.php
  tests/Unit/Console/Commands/CacheGasTrackerDataTest.php
  tests/Unit/Services/Cache/MainsailCacheTest.php
  tests/Unit/Services/MainsailApiTest.php
Labels: feature

#1009 refactor: handle known contract names for method
  app/Services/Transactions/TransactionMethod.php
Labels: refactor

#1012 refactor: recipient contract badge
  app/Console/Commands/CacheContractAddresses.php
  app/Console/Kernel.php
  app/DTO/MemoryWallet.php
  app/Services/Cache/WalletCache.php
  composer.lock
  resources/css/_general.css
  resources/lang/en/general.php
  resources/views/components/transaction/page/addressing.blade.php
  resources/views/components/transaction/page/section-detail/address.blade.php
  tests/Unit/Console/Commands/CacheContractAddressesTest.php
Labels: refactor

#1014 refactor: update resigned status on validators page
  resources/views/components/tables/rows/desktop/encapsulated/validators/validator-status.blade.php
Labels: refactor

#1015 refactor: transaction id status
  app/ViewModels/Concerns/Transaction/HasState.php
  resources/views/components/tables/rows/desktop/encapsulated/transaction-id.blade.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/migrations/2020_10_19_042110_create_transactions_table.php
Labels: refactor

#1016 fix: handle known contracts per network
  app/DTO/MemoryWallet.php
  app/Facades/Network.php
  app/Services/Blockchain/Network.php
  config/arkscan.php
  tests/Unit/Services/Blockchain/NetworkTest.php
Labels: bugfix

#1018 refactor: update transaction id status styling
  composer.lock
  resources/views/components/tables/rows/desktop/encapsulated/transaction-id.blade.php
Labels: refactor

#1020 refactor: show validator bls public key for registrations
  app/ViewModels/Concerns/Transaction/CanBeValidatorRegistration.php
  app/ViewModels/Concerns/Transaction/HasPayload.php
  app/ViewModels/TransactionViewModel.php
  resources/views/components/transaction/page/transaction-type.blade.php
Labels: refactor

#1026 refactor: only request known wallets in command
  app/Console/Commands/CacheKnownWallets.php
  app/Contracts/Network.php
  app/Facades/Network.php
  app/Services/Blockchain/Network.php
  tests/Helpers.php
Labels: refactor

#1022 refactor: handle transaction filter types
  app/Contracts/Network.php
  app/Facades/Network.php
  app/Http/Livewire/TransactionTable.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Models/Scopes/ContractScope.php
  app/Models/Scopes/OtherTransactionTypesScope.php
  app/Models/Scopes/TransferScope.php
  app/Models/Scopes/UnvoteScope.php
  app/Models/Scopes/ValidatorRegistrationScope.php
  app/Models/Scopes/ValidatorResignationScope.php
  app/Models/Scopes/VoteScope.php
  app/Models/Transaction.php
  app/Services/Blockchain/Network.php
  app/ViewModels/Concerns/Transaction/CanBeValidatorRegistration.php
  app/ViewModels/Concerns/Transaction/HasPayload.php
  config/arkscan.php
  database/factories/TransactionFactory.php
  resources/lang/en/tables.php
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/tables/filters/transactions-generic.blade.php
  resources/views/components/tables/filters/transactions.blade.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
  tests/Unit/DTO/MemoryWalletTest.php
  tests/migrations/2020_10_19_042110_create_transactions_table.php
Labels: refactor

#1025 feat: gas details on statistics page
  app/Contracts/Services/GasTracker.php
  app/Facades/Services/GasTracker.php
  app/Http/Livewire/Stats/GasTracker.php
  app/Providers/AppServiceProvider.php
  app/Services/GasTracker.php
  app/Services/NumberFormatter.php
  resources/icons/gas/average.svg
  resources/icons/gas/high.svg
  resources/icons/gas/low.svg
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/app/statistics.blade.php
  resources/views/components/general/amount-small.blade.php
  resources/views/components/stats/fee-card.blade.php
  resources/views/components/transaction/amount.blade.php
  resources/views/livewire/stats/gas-tracker.blade.php
  tests/Feature/Http/Livewire/Stats/GasTrackerTest.php
  tests/Unit/Services/GasTrackerTest.php
Labels: feature

#1027 feat: gas details on home page
  app/Http/Livewire/Home/Statistics.php
  resources/lang/en/pages.php
  resources/views/components/home/header.blade.php
  resources/views/components/home/includes/gas-badge.blade.php
  resources/views/livewire/home/chart.blade.php
  resources/views/livewire/home/statistics.blade.php
  resources/views/livewire/stats/gas-tracker.blade.php
Labels: feature
