Repository ArdentHQ/arkscan, pull requests merged in 2024-10, with the labels that each got.

#961 refactor: transaction webhook dispatch jobs
  app/Http/Controllers/Concerns/HandlesTransactionWebhooks.php
  app/Jobs/Webhooks/CheckLargestTransaction.php
  app/Jobs/Webhooks/CheckLatestWallet.php
  tests/Unit/Jobs/Webhooks/CheckLargestTransactionTest.php
  tests/Unit/Jobs/Webhooks/CheckLatestWalletTest.php
Labels: refactor

#964 refactor: disable validator monitor
  app/Console/Commands/CacheValidatorPerformance.php
  app/Console/Kernel.php
  app/Providers/AppServiceProvider.php
  routes/web.php
Labels: refactor

#965 refactor: use generator_address instead of generator_public_key
  app/Console/Commands/CacheValidatorAggregates.php
  app/Console/Commands/CacheValidatorPerformance.php
  app/Console/Commands/CacheValidatorStatistics.php
  app/Http/Livewire/WalletBlockTable.php
  app/Models/Block.php
  app/Models/Wallet.php
  app/Services/Monitor/Aggregates/ValidatorTotalAggregates.php
  app/ViewModels/Concerns/Block/HasValidator.php
  database/factories/BlockFactory.php
  tests/Feature/Http/Livewire/BlockTableTest.php
  tests/Feature/Http/Livewire/Modals/ExportBlocksTest.php
  tests/Feature/Http/Livewire/Navbar/SearchTest.php
  tests/Feature/Http/Livewire/SearchModalTest.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
  tests/Feature/Http/Livewire/WalletBlockTableTest.php
  tests/Helpers.php
  tests/Unit/Models/BlockTest.php
  tests/Unit/Services/Monitor/Aggregates/TotalValidatorAggregateTest.php
  tests/Unit/ViewModels/BlockViewModelTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
  tests/migrations/2020_10_19_042053_create_blocks_table.php
Labels: refactor

#966 feat: keccak addresses
  app/Enums/Constants.php
  app/Providers/RouteServiceProvider.php
  app/Services/Search/Traits/ValidatesTerm.php
  composer.json
  composer.lock
  tests/Feature/Http/Livewire/Navbar/SearchTest.php
  tests/Helpers.php
  tests/Unit/Console/Commands/CacheUsernamesTest.php
  tests/Unit/DTO/MemoryWalletTest.php
  tests/Unit/Services/IdentityTest.php
  tests/Unit/Services/Search/BlockSearchTest.php
  tests/Unit/Services/Search/TransactionSearchTest.php
  tests/Unit/Services/Transactions/TransactionDirectionTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
  tests/fixtures/wallets.json
Labels: feature

#969 refactor: add total gas used column
  app/Models/Block.php
  database/factories/BlockFactory.php
Labels: refactor

#970 refactor: get initial validators page working
  app/Http/Livewire/Validators/Validators.php
  app/ViewModels/Concerns/Wallet/HasVoters.php
Labels: refactor

#971 feat: initial evm transaction page design
  app/ViewModels/Concerns/Transaction/HasType.php
  resources/lang/en/pages.php
  resources/views/app/transaction.blade.php
  resources/views/components/general/page-section/container.blade.php
  resources/views/components/transaction/page/more-details.blade.php
  resources/views/components/transaction/page/section-detail/row.blade.php
Labels: feature

#972 feat: transaction code block
  app/ViewModels/Concerns/Transaction/HasPayload.php
  app/ViewModels/TransactionViewModel.php
  resources/lang/en/actions.php
  resources/lang/en/pages.php
  resources/views/components/transaction/code-block/code-block.blade.php
  resources/views/components/transaction/code-block/tab.blade.php
  resources/views/components/transaction/page/more-details.blade.php
  tailwind.config.js
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/migrations/2020_10_19_042053_create_blocks_table.php
Labels: feature

#975 refactor: default evm contract formatting
  app/ViewModels/Concerns/Transaction/HasPayload.php
  resources/lang/en/contracts.php
  resources/views/components/transaction/code-block/formatted-contract.blade.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: refactor

#977 refactor: update cache public key usage
  app/Console/Commands/CacheUsernames.php
  app/Console/Commands/CacheValidatorStatistics.php
  app/Console/Commands/CacheValidatorVoterCounts.php
  app/Http/Livewire/Stats/Insights.php
  app/Http/Livewire/Validators/Concerns/HandlesMonitorDataBoxes.php
  app/Services/Cache/StatisticsCache.php
  app/Services/Cache/WalletCache.php
  app/ViewModels/Concerns/Wallet/CanBeValidator.php
  app/ViewModels/Concerns/Wallet/CanForge.php
  app/ViewModels/Concerns/Wallet/HasVoters.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
  tests/Feature/Http/Livewire/Validators/HeaderStatsTest.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
  tests/Feature/Http/Livewire/Validators/ValidatorsTest.php
  tests/Helpers.php
  tests/Unit/Console/Commands/CacheUsernamesTest.php
  tests/Unit/Console/Commands/CacheValidatorStatisticsTest.php
  tests/Unit/Console/Commands/CacheValidatorWalletsTest.php
  tests/Unit/Console/Commands/CacheValidatorsWithVotersTest.php
  tests/Unit/Services/Cache/WalletCacheTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: refactor

#978 refactor: update vote public key usage
  app/Console/Commands/CacheValidatorsWithVoters.php
  app/Http/Controllers/Concerns/HandlesWalletWebhooks.php
  app/Http/Livewire/WalletVoterTable.php
  app/Models/Concerns/ForgingStats/CanBeSorted.php
  app/Models/Concerns/Wallet/CanBeSorted.php
  app/Models/Transaction.php
  app/ViewModels/Concerns/Transaction/InteractsWithVotes.php
  app/ViewModels/Concerns/Wallet/CanVote.php
  app/ViewModels/WalletViewModel.php
  database/factories/TransactionFactory.php
  tests/Feature/Http/Controllers/ShowTransactionControllerTest.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
  tests/Feature/Http/Livewire/WalletVoterTableTest.php
  tests/Unit/Console/Commands/CacheValidatorStatisticsTest.php
Labels: refactor

#959 feat: upgrade dependencies incl laravel
  app/Jobs/BuildForgingStats.php
  app/Models/Webhook.php
  app/Providers/HorizonServiceProvider.php
  composer.json
  composer.lock
  package.json
  pnpm-lock.yaml
  tests/Analysis/AnalysisTest.php
Labels: feature

#981 chore: update php requirement to 8.3
  .github/workflows/ci.yml
  .github/workflows/deps.yml
  .github/workflows/ui.yml
  composer.json
  composer.lock
Labels: chore

#982 refactor: re-add missing reverb dependency
  composer.json
  composer.lock
Labels: refactor

#979 refactor: validators page
  app/Http/Livewire/Validators/Validators.php
  app/ViewModels/Concerns/Wallet/CanBeValidator.php
  resources/views/components/clipboard.blade.php
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/general/encapsulated/amount-fiat-tooltip.blade.php
  resources/views/components/general/pagination/includes/arrow.blade.php
  resources/views/components/stats/periods-selector.blade.php
  resources/views/components/tables/headers/desktop/address.blade.php
  resources/views/components/tables/headers/desktop/id.blade.php
  resources/views/components/tables/headers/desktop/includes/livewire-sort-icon.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
  resources/views/components/tables/mobile/top-accounts.blade.php
  resources/views/components/tables/mobile/validators/list-table.blade.php
  resources/views/components/tables/mobile/validators/monitor.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/amount.blade.php
  resources/views/components/tables/rows/desktop/validators/monitor-row.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/age.blade.php
  resources/views/components/transaction/code-block/code-block.blade.php
  resources/views/components/validators/arkconnect/vote-link.blade.php
  resources/views/components/validators/vote-link.blade.php
  resources/views/livewire/navbar/search.blade.php
Labels: refactor
