Repository ArdentHQ/arkscan, pull requests merged in 2024-06, with the labels that each got.

#899 fix: adjust deeplink parameters
  app/Contracts/Network.php
  app/Facades/Network.php
  app/Services/ArkVaultUrlBuilder.php
  app/Services/Blockchain/Network.php
  config/arkscan.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: bugfix

#917 refactor: make websocket events unique outside of endpoint
  .env.example
  app/Events/Concerns/ShouldBeUniqueEvent.php
  app/Events/CurrencyUpdate.php
  app/Events/NewBlock.php
  app/Events/NewTransaction.php
  app/Events/Statistics/StatisticsUpdate.php
  app/Events/WalletVote.php
  app/Events/WebsocketEvent.php
  app/Http/Controllers/Concerns/HandlesBlockWebhooks.php
  app/Http/Controllers/Concerns/HandlesTransactionWebhooks.php
  app/Http/Controllers/Concerns/HandlesWalletWebhooks.php
  config/arkscan.php
  tests/Feature/Http/Controllers/WebhooksControllerTest.php
Labels: refactor

#916 refactor: websocket currency reload chart data
  app/Http/Livewire/Concerns/HandlesChart.php
  resources/views/livewire/exchanges/chart.blade.php
  resources/views/livewire/home/chart.blade.php
Labels: refactor

#921 fix: validator monitor missed blocks lag
  app/Services/Monitor/ForgingInfoCalculator.php
  app/Services/Monitor/ValidatorTracker.php
  tests/Feature/Http/Livewire/ValidatorDataBoxesTest.php
  tests/Helpers.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
  tests/Unit/Services/Monitor/ValidatorTrackerTest.php
Labels: bugfix

#924 test: fix intermittently failing tests
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
Labels: test

#925 fix: mainsail vote url
  app/ViewModels/WalletViewModel.php
  composer.json
  composer.lock
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: bugfix

#918 refactor: prevent exchange exceptions
  app/Console/Commands/FetchExchangesDetails.php
  app/Console/Kernel.php
  tests/TestCase.php
  tests/Unit/Console/Commands/FetchExchangesDetailsTest.php
  tests/migrations/2021_07_23_174905_create_forging_stats_table_for_tests.php
  tests/migrations/2023_08_07_183334_add_missed_height_to_forging_stats_table.php
Labels: refactor

#923 refactor: change dynamic webhook initialization
  app/Http/Livewire/Webhooks/CurrencyUpdate.php
  resources/js/webhooks.js
  resources/views/components/webhooks/currency-update.blade.php
  resources/views/components/webhooks/reload-blocks.blade.php
  resources/views/components/webhooks/reload-transactions.blade.php
  resources/views/components/webhooks/reload-voters.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/webhooks/currency-update.blade.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
Labels: refactor
