Repository ArdentHQ/arkscan, pull requests merged in 2024-07, with the labels that each got.

#931 chore: rename ARKScan to ARK Scan
  README.md
  app/Providers/AppServiceProvider.php
  config/web.php
  docker/production/deploy-prod.sh
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/navbar/logo.blade.php
Labels: chore

#929 refactor: statistics latest wallet ignore sender
  app/Services/Addresses/Aggregates/LatestWalletAggregate.php
  tests/Unit/Services/Addresses/Aggregates/LatestWalletAggregateTest.php
Labels: refactor

#930 fix: statistics event refresh
  app/Events/Concerns/ShouldBeUniqueEvent.php
  app/Events/Statistics/StatisticsUpdate.php
  app/Events/WebsocketEvent.php
  app/Http/Livewire/Stats/Insights.php
Labels: bugfix

#932 refactor: latest wallet handle multipayment
  app/Services/Addresses/Aggregates/LatestWalletAggregate.php
  tests/Unit/Services/Addresses/Aggregates/LatestWalletAggregateTest.php
Labels: refactor

#936 refactor: update 404 text color
  resources/views/vendor/ark/errors/404.blade.php
Labels: refactor

#934 chore: merge develop into staging
  README.md
  app/Console/Commands/FetchExchangesDetails.php
  app/Console/Kernel.php
  app/Providers/AppServiceProvider.php
  composer.json
  composer.lock
  config/web.php
  docker/production/deploy-prod.sh
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/navbar/logo.blade.php
  resources/views/vendor/ark/errors/404.blade.php
  tests/TestCase.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
  tests/Unit/Console/Commands/FetchExchangesDetailsTest.php
  tests/migrations/2021_07_23_174905_create_forging_stats_table_for_tests.php
  tests/migrations/2023_08_07_183334_add_missed_height_to_forging_stats_table.php
Labels: chore

#937 chore: merge staging into master
  README.md
  app/Console/Commands/FetchExchangesDetails.php
  app/Console/Kernel.php
  app/Providers/AppServiceProvider.php
  composer.json
  composer.lock
  config/web.php
  docker/production/deploy-prod.sh
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/navbar/logo.blade.php
  resources/views/vendor/ark/errors/404.blade.php
  tests/TestCase.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
  tests/Unit/Console/Commands/FetchExchangesDetailsTest.php
  tests/migrations/2021_07_23_174905_create_forging_stats_table_for_tests.php
  tests/migrations/2023_08_07_183334_add_missed_height_to_forging_stats_table.php
Labels: chore

#938 fix: remove space in site logo
  resources/views/components/navbar/logo.blade.php
Labels: bugfix

#939 chore: merge staging into master
  resources/views/components/navbar/logo.blade.php
Labels: chore

#940 fix: nginx url configuration
  docker/nginx-default.conf
Labels: bugfix

#941 fix: nginx url configuration
  docker/nginx-default.conf
Labels: bugfix

#933 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#935 chore: merge mainsail-develop into mainsail
  app/Contracts/Network.php
  app/Facades/Network.php
  app/Services/ArkVaultUrlBuilder.php
  app/Services/Blockchain/Network.php
  app/Services/Monitor/ForgingInfoCalculator.php
  app/Services/Monitor/ValidatorTracker.php
  app/ViewModels/WalletViewModel.php
  composer.json
  composer.lock
  config/arkscan.php
  docker/nginx-default.conf
  tests/Feature/Http/Livewire/ValidatorDataBoxesTest.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
  tests/Helpers.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
  tests/Unit/Console/Commands/CacheValidatorStatisticsTest.php
  tests/Unit/Services/Monitor/ValidatorTrackerTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: chore

#942 chore: merge develop to websockets
  README.md
  app/Console/Commands/FetchExchangesDetails.php
  app/Console/Kernel.php
  app/Providers/AppServiceProvider.php
  composer.json
  composer.lock
  config/web.php
  docker/nginx-default.conf
  docker/production/deploy-prod.sh
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/vendor/ark/errors/404.blade.php
  tests/Unit/Console/Commands/FetchExchangesDetailsTest.php
Labels: chore

#944 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#945 refactor: implement keccak addresses
  app/Enums/Constants.php
  app/Providers/RouteServiceProvider.php
  app/Services/Search/Traits/ValidatesTerm.php
  composer.json
  composer.lock
  tests/Feature/Http/Livewire/Navbar/SearchTest.php
  tests/Helpers.php
  tests/Unit/Console/Commands/CacheUsernamesTest.php
  tests/Unit/DTO/MemoryWalletTest.php
  tests/Unit/Services/IdentityTest.php
  tests/Unit/Services/Search/BlockSearchTest.php
  tests/Unit/Services/Search/TransactionSearchTest.php
  tests/Unit/Services/Transactions/TransactionDirectionTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
  tests/fixtures/wallets.json
Labels: refactor
