Repository ArdentHQ/arkscan, pull requests merged in 2024-12, with the labels that each got.

#1034 refactor: codeblock copy code styling
  resources/views/components/transaction/code-block/code-block.blade.php
Labels: refactor

#1030 refactor: home gas details mobile tooltip
  app/Http/Livewire/Home/Statistics.php
  resources/views/components/home/includes/gas-tooltip.blade.php
  resources/views/livewire/home/statistics.blade.php
Labels: refactor

#1035 refactor: move hardcoded theme colours
  resources/css/_theme.css
  resources/views/components/general/encapsulated/amount-fiat-tooltip.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/transaction-id.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/validators/missed-blocks.blade.php
  tailwind.config.js
Labels: refactor

#1033 refactor: home mobile gas tracker slider
  resources/views/components/home/header.blade.php
  resources/views/livewire/home/statistics.blade.php
Labels: refactor

#1028 refactor: handle transaction types in export
  .env.example
  resources/js/transactions-export.js
  resources/lang/en/forms.php
  resources/lang/en/pages.php
Labels: refactor

#1036 refactor: handle token transfers
  app/Enums/TokenTransferArgument.php
  app/Services/ContractPayload.php
  app/Services/NumberFormatter.php
  app/Services/Transactions/Concerns/ManagesTransactionTypes.php
  app/Services/Transactions/TransactionMethod.php
  app/ViewModels/Concerns/Transaction/HasDirection.php
  app/ViewModels/Concerns/Transaction/HasMethod.php
  config/app.php
  resources/lang/en/pages.php
  resources/views/app/transaction.blade.php
  resources/views/components/payload/address.blade.php
  resources/views/components/payload/number.blade.php
  resources/views/components/search/results/mobile/transaction-type.blade.php
  resources/views/components/search/results/transaction.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing.blade.php
  resources/views/components/transaction/page/summary.blade.php
  resources/views/components/transaction/page/token.blade.php
Labels: refactor

#1037 refactor: recent votes handling
  app/Http/Livewire/Validators/RecentVotes.php
  app/Models/Concerns/Transaction/CanBeSorted.php
  resources/views/components/tables/desktop/validators/recent-votes.blade.php
  resources/views/components/tables/mobile/validators/recent-votes.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/validators/vote-address.blade.php
  resources/views/components/transaction/page/transaction-type.blade.php
Labels: refactor

#1041 fix: block table tests & transaction factory encoding
  .github/workflows/ci.yml
  database/factories/TransactionFactory.php
  tests/Feature/Http/Livewire/BlockTableTest.php
Labels: bugfix

#1047 fix: show transaction controller tests
  database/factories/TransactionFactory.php
  tests/Feature/Http/Controllers/ShowTransactionControllerTest.php
  tests/migrations/2020_10_19_042110_create_transactions_table.php
Labels: bugfix

#1048 test: transaction historical fee aggregates
  tests/Unit/Services/Transactions/Aggregates/Fees/Historical/DayAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Fees/Historical/MonthAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Fees/Historical/QuarterAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Fees/Historical/RangeAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Fees/Historical/WeekAggregateTest.php
  tests/Unit/Services/Transactions/Aggregates/Fees/Historical/YearAggregateTest.php
Labels: test

#1049 fix: transactions controller tests
  tests/Feature/Http/Controllers/TransactionsControllerTest.php
Labels: bugfix

#1045 refactor: handle contract deployment type
  .env.example
  app/Enums/ContractMethod.php
  app/Http/Livewire/TransactionTable.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Models/Scopes/ContractDeploymentScope.php
  app/Models/Transaction.php
  app/Services/Transactions/TransactionMethod.php
  app/ViewModels/Concerns/Transaction/HasMethod.php
  config/arkscan.php
  database/factories/TransactionFactory.php
  resources/lang/en/general.php
  resources/lang/en/tables.php
  resources/views/components/tables/filters/transactions-generic.blade.php
  resources/views/components/tables/filters/transactions.blade.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
Labels: refactor

#1052 test: fix data stream when creating multiple records
  database/factories/TransactionFactory.php
Labels: test

#1050 fix: webhook controller test
  tests/Feature/Http/Controllers/WebhooksControllerTest.php
Labels: bugfix

#1051 fix: block view model test
  tests/Unit/ViewModels/BlockViewModelTest.php
Labels: bugfix

#1062 test: cache fees command updates
  app/Models/Transaction.php
  tests/Unit/Console/Commands/CacheFeesTest.php
Labels: test

#1055 test: home transactions & statistics components
  tests/Feature/Http/Livewire/Home/StatisticsTest.php
  tests/Feature/Http/Livewire/Home/TransactionsTest.php
Labels: test

#1056 test: update cache validator tests & fix mock round creation
  tests/Helpers.php
  tests/Unit/Console/Commands/CacheValidatorAggregatesTest.php
  tests/Unit/Console/Commands/CacheValidatorPerformanceTest.php
  tests/Unit/Console/Commands/CacheValidatorsWithVotersTest.php
Labels: test

#1058 refactor: rename recipient_id column in transaction repository
  app/Repositories/TransactionRepository.php
Labels: refactor

#1060 test: fix dto tests
  tests/Unit/DTO/MemoryWalletTest.php
  tests/Unit/DTO/SlotTest.php
Labels: test

#1061 test: webhook jobs
  tests/Unit/Jobs/Webhooks/CheckLargestTransactionTest.php
  tests/Unit/Jobs/Webhooks/CheckLatestWalletTest.php
Labels: test

#1054 test: update failing model tests
  app/Enums/VoteArgument.php
  app/Models/Transaction.php
  app/Services/Transactions/TransactionMethod.php
  app/ViewModels/Concerns/Transaction/HasMethod.php
  tests/Unit/Models/TransactionTest.php
  tests/Unit/Models/WalletTest.php
Labels: test

#1046 fix: failed token transfer 500 error
  database/factories/TransactionFactory.php
  resources/views/components/payload/address.blade.php
  resources/views/components/payload/number.blade.php
  resources/views/components/transaction/page/token.blade.php
  tests/Feature/Http/Controllers/ShowTransactionControllerTest.php
Labels: bugfix

#1043 refactor: output username for transaction
  app/ViewModels/Concerns/Transaction/CanHaveUsername.php
  app/ViewModels/Concerns/Transaction/HasMethod.php
  app/ViewModels/TransactionViewModel.php
  resources/lang/en/pages.php
  resources/views/app/transaction.blade.php
  resources/views/components/transaction/page/action.blade.php
Labels: refactor

#1044 refactor: update failed status icon
  app/Console/Commands/CacheAnnualStatistics.php
  app/Exceptions/Handler.php
  composer.lock
  resources/views/components/tables/rows/desktop/encapsulated/transaction-id.blade.php
Labels: refactor

#1040 refactor: filter query speed updates & additional filter testing
  app/Models/Scopes/ContractScope.php
  app/Models/Scopes/OtherTransactionTypesScope.php
  app/Models/Scopes/TransferScope.php
  database/factories/TransactionFactory.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
Labels: refactor

#1063 fix: transactions view model tests
  .env.example
  app/ViewModels/Concerns/Transaction/HasDirection.php
  database/factories/TransactionFactory.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/__snapshots__/TransactionViewModelTest__it_should_get_the_amount_including_fee__1.txt
  tests/__snapshots__/TransactionViewModelTest__it_should_get_the_amount_received_for_transfer_transactions__1.txt
  tests/__snapshots__/TransactionViewModelTest__it_should_get_the_fee__1.txt
Labels: bugfix

#1065 test: fix cache transactions command tests
  database/factories/TransactionFactory.php
  tests/Feature/Http/Livewire/__stubs/NetworkStub.php
  tests/Unit/Console/Commands/CacheTransactionsTest.php
Labels: test

#1059 test: service monitor use address not public key
  tests/Unit/Services/Monitor/Aggregates/TotalValidatorAggregateTest.php
  tests/Unit/Services/Monitor/ValidatorTrackerTest.php
Labels: test

#1066 fix: wallet view model tests
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: bugfix

#1068 fix: forging state view model tests
  tests/Unit/ViewModels/ForgingStatsViewModelTest.php
Labels: bugfix

#1069 fix: block view model tests
  tests/Unit/ViewModels/BlockViewModelTest.php
Labels: bugfix

#1067 fix: missed block tests
  app/Models/Concerns/ForgingStats/CanBeSorted.php
  tests/Feature/Http/Livewire/Validators/MissedBlocksTest.php
Labels: bugfix

#1070 test: cache address statistics command
  tests/Unit/Console/Commands/CacheAddressStatisticsTest.php
Labels: test

#1071 test: cache blocks command
  tests/Unit/Jobs/CacheBlocksTest.php
Labels: test

#1072 test: transaction aggregates by type
  database/factories/TransactionFactory.php
  tests/Unit/Services/Transactions/Aggregates/Type/VoteAggregateTest.php
Labels: test

#1073 test: largest transaction aggregate
  tests/Unit/Services/Transactions/Aggregates/LargestTransactionAggregateTest.php
Labels: test

#1074 test: livewire components
  app/Http/Livewire/Concerns/ChartNumberFormatters.php
  app/Services/Cache/FeeCache.php
  app/Services/Transactions/Aggregates/Fees/LastFeeAggregate.php
  tests/Feature/Http/Livewire/BlockTableTest.php
  tests/Feature/Http/Livewire/Stats/AllTimeFeesTest.php
  tests/Feature/Http/Livewire/Stats/CurrentAverageFeeTest.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
Labels: test

#1076 fix: wallet repository test
  tests/Unit/Repositories/WalletRepositoryTest.php
  tests/Unit/Repositories/WalletRepositoryWithCacheTest.php
Labels: bugfix

#1075 fix: services transactions tests
  tests/Unit/Services/Transactions/TransactionMethodTest.php
  tests/Unit/Services/Transactions/TransactionStateIconTest.php
  tests/Unit/Services/Transactions/TransactionStateTest.php
Labels: bugfix

#1077 fix: analysis test
  app/Services/Cache/RequestScopedCache.php
Labels: bugfix

#1080 test: latest wallet aggregate
  tests/Unit/Services/Addresses/Aggregates/LatestWalletAggregateTest.php
Labels: test

#1078 fix: livewire validators monitor test
  app/Http/Livewire/Validators/Monitor.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
Labels: bugfix

#1084 fix: show wallet controller test
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
Labels: bugfix

#1085 test: skip username redirection test
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
Labels: test

#1081 test: fix forging stats migrations
  tests/TestCase.php
Labels: test

#1086 fix: navbar search test
  tests/Feature/Http/Livewire/Navbar/SearchTest.php
Labels: bugfix

#1083 fix: cache annual statistics test
  app/Console/Commands/CacheAnnualStatistics.php
  app/Services/BigNumber.php
  database/factories/TransactionFactory.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
Labels: bugfix

#1090 fix: public key popup handle empty string
  app/ViewModels/WalletViewModel.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: bugfix

#1087 fix: cache validator voter counts tests
  tests/Unit/Console/Commands/CacheValidatorVoterCountsTest.php
Labels: bugfix

#1089 fix: validator monitor alpinejs errors
  resources/js/table-sorting.js
  resources/views/components/tables/desktop/validators/monitor.blade.php
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
Labels: bugfix

#1094 fix: validators test
  tests/Feature/Http/Livewire/Validators/ValidatorsTest.php
Labels: bugfix

#1093 fix: transaction direction test
  tests/Unit/Services/Transactions/TransactionDirectionTest.php
Labels: bugfix

#1095 fix: transaction direction icon test
  tests/Unit/Services/Transactions/TransactionDirectionIconTest.php
Labels: bugfix

#1096 fix: cache fees test
  tests/Unit/Console/Commands/CacheFeesTest.php
Labels: bugfix

#1091 revert: fix for forging stats migrations
  tests/TestCase.php
Labels: bugfix

#1097 test: fix check latest wallet webhook job
  tests/Unit/Jobs/Webhooks/CheckLatestWalletTest.php
Labels: test

#1098 test: fix unique addresses event webhook test
  tests/Feature/Http/Controllers/WebhooksControllerTest.php
Labels: test

#1099 fix: forging stats migration issue
  .github/workflows/ci.yml
  app/Models/Block.php
  app/Models/Receipt.php
  app/Models/Round.php
  app/Models/State.php
  app/Models/Wallet.php
  database/migrations/2023_08_07_183334_add_missed_height_to_forging_stats_table.php
  phpunit.xml
  tests/Feature/Http/Controllers/BlocksControllerTest.php
  tests/Feature/Http/Livewire/Validators/HeaderStatsTest.php
  tests/Feature/Http/Livewire/Validators/MissedBlocksTest.php
  tests/Feature/Http/Livewire/Validators/ValidatorsTest.php
  tests/TestCase.php
  tests/Unit/Console/Commands/BuildForgingStatsTest.php
  tests/Unit/Console/Commands/FetchExchangesDetailsTest.php
  tests/Unit/Console/Commands/Webhooks/DeleteWebhookTest.php
  tests/Unit/Console/Commands/Webhooks/FlushWebhooksTest.php
  tests/Unit/Console/Commands/Webhooks/ListWebhooksTest.php
  tests/Unit/Console/Commands/Webhooks/SetupWebhookTest.php
  tests/Unit/DTO/SlotTest.php
  tests/Unit/ViewModels/ForgingStatsViewModelTest.php
Labels: bugfix

#1103 fix: caching issue on tests
  .github/workflows/ci.yml
  .gitignore
  tests/Analysis/AnalysisTest.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
  tests/Helpers.php
  tests/Unit/Console/Commands/ImportCommandTest.php
  tests/Unit/Console/Commands/ScoutPauseIndexingTest.php
  tests/Unit/Console/Commands/ScoutResumeIndexingTest.php
  tests/Unit/Jobs/IndexBlocksTest.php
  tests/Unit/Jobs/IndexTransactionsTest.php
  tests/Unit/Jobs/IndexWalletsTest.php
Labels: bugfix
