Repository ArdentHQ/arkscan, pull requests merged in 2024-01, with the labels that each got.

#753 refactor: home mobile divider
  resources/views/app/home.blade.php
  resources/views/components/home/footer.blade.php
Labels: refactor

#759 refactor: don't use negative 1 for productivity
  app/Jobs/CacheProductivityByPublicKey.php
  app/ViewModels/Concerns/Wallet/CanForge.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: refactor

#754 refactor: mobile export filter button size
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/livewire/modals/export-blocks.blade.php
  resources/views/livewire/modals/export-transactions.blade.php
Labels: refactor

#755 refactor: mobile footer padding
  resources/views/layouts/app.blade.php
Labels: refactor

#756 fix: mobile full width transaction amount
  resources/views/components/tables/rows/mobile/encapsulated/amount.blade.php
Labels: bugfix

#757 refactor: mobile row wire keys
  resources/views/components/tables/mobile/block-transactions.blade.php
  resources/views/components/tables/mobile/top-accounts.blade.php
  resources/views/components/tables/mobile/transaction-participants.blade.php
  resources/views/components/tables/mobile/transaction-recipients.blade.php
  resources/views/components/tables/mobile/wallet-blocks.blade.php
  resources/views/components/tables/mobile/wallet-transactions.blade.php
  resources/views/components/tables/mobile/wallet-voters.blade.php
Labels: refactor

#760 refactor: update missed delegates pluralization
  resources/lang/en/pages.php
  resources/views/components/page-headers/delegates/missed-blocks.blade.php
  tests/Feature/Http/Livewire/Delegates/HeaderStatsTest.php
Labels: refactor

#764 refactor: modal close button background
  resources/views/livewire/modals/export-blocks.blade.php
  resources/views/livewire/modals/export-transactions.blade.php
  resources/views/livewire/modals/submit-exchange.blade.php
  resources/views/livewire/modals/submit-wallet.blade.php
Labels: refactor

#766 refactor: qr code white background
  public/css/app.css
  public/mix-manifest.json
  resources/views/livewire/wallet-qr-code.blade.php
Labels: refactor

#767 refactor: hide qr code amount plus & minus buttons
  public/css/app.css
  public/mix-manifest.json
  resources/css/_general.css
  resources/views/livewire/modals/export-blocks.blade.php
  resources/views/livewire/modals/export-transactions.blade.php
  resources/views/livewire/modals/submit-exchange.blade.php
  resources/views/livewire/modals/submit-wallet.blade.php
  resources/views/livewire/wallet-qr-code.blade.php
Labels: refactor

#765 refactor: dim modal dropdown color
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/dropdown/alpine-list-item.blade.php
  resources/views/components/input/js-select.blade.php
Labels: refactor

#771 fix: dockerfile incorrect command
  docker/Dockerfile
Labels: bugfix

#772 refactor: theme dropdown colors
  resources/views/components/general/dropdown/alpine-list-item.blade.php
  resources/views/components/navbar/theme-dropdown.blade.php
Labels: refactor

#774 fix: qr code negative amount error
  app/Http/Livewire/WalletQrCode.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
Labels: bugfix

#773 refactor: dim & dark qr code color updates
  resources/views/livewire/wallet-qr-code.blade.php
Labels: refactor

#769 refactor: dim & dark missed blocks badge color
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/tables/rows/desktop/encapsulated/delegates/missed-blocks.blade.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
Labels: refactor

#777 fix: home chart corners on responsive
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/home/header.blade.php
Labels: bugfix

#775 refactor: prevent theme change spam
  public/js/app.js
  public/mix-manifest.json
  resources/js/theme-manager.js
Labels: refactor

#762 refactor: cache prices command
  app/Console/Commands/CachePrices.php
  app/Services/Cache/CryptoDataCache.php
  app/Services/Cache/PriceCache.php
  tests/Unit/Console/Commands/CachePricesTest.php
Labels: refactor

#778 refactor: statistics typing DTO
  app/DTO/Statistics/AddressHoldingStatistics.php
  app/DTO/Statistics/DelegateStatistics.php
  app/DTO/Statistics/LowHighValue.php
  app/DTO/Statistics/MarketDataPriceStatistics.php
  app/DTO/Statistics/MarketDataRecordStatistics.php
  app/DTO/Statistics/MarketDataStatistics.php
  app/DTO/Statistics/MarketDataVolumeStatistics.php
  app/DTO/Statistics/TimestampedValue.php
  app/DTO/Statistics/TransactionAveragesStatistics.php
  app/DTO/Statistics/TransactionRecordsStatistics.php
  app/DTO/Statistics/TransactionStatistics.php
  app/DTO/Statistics/UniqueAddressesStatistics.php
  app/DTO/Statistics/WalletWithValue.php
  app/Http/Livewire/Stats/Insights.php
  resources/lang/en/pages.php
  resources/views/components/stats/insights/addresses.blade.php
  resources/views/components/stats/insights/delegates.blade.php
  resources/views/components/stats/insights/marketdata.blade.php
  resources/views/components/stats/insights/transactions.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
Labels: refactor

#779 refactor: statistics cache all currencies
  app/Console/Commands/CacheMarketDataStatistics.php
  app/Contracts/MarketDataProvider.php
  app/DTO/Statistics/MarketDataPriceStatistics.php
  app/DTO/Statistics/MarketDataRecordStatistics.php
  app/DTO/Statistics/MarketDataVolumeStatistics.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Cache/CryptoDataCache.php
  app/Services/Cache/StatisticsCache.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
Labels: refactor

#780 refactor: statistics cache all loading state
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/loading/text.blade.php
  resources/views/components/stats/insights/marketdata.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
Labels: refactor

#782 chore: merge develop into staging
  app/Console/Commands/CacheMarketDataStatistics.php
  app/Console/Commands/CachePrices.php
  app/Contracts/MarketDataProvider.php
  app/DTO/Statistics/AddressHoldingStatistics.php
  app/DTO/Statistics/DelegateStatistics.php
  app/DTO/Statistics/LowHighValue.php
  app/DTO/Statistics/MarketDataPriceStatistics.php
  app/DTO/Statistics/MarketDataRecordStatistics.php
  app/DTO/Statistics/MarketDataStatistics.php
  app/DTO/Statistics/MarketDataVolumeStatistics.php
  app/DTO/Statistics/TimestampedValue.php
  app/DTO/Statistics/TransactionAveragesStatistics.php
  app/DTO/Statistics/TransactionRecordsStatistics.php
  app/DTO/Statistics/TransactionStatistics.php
  app/DTO/Statistics/UniqueAddressesStatistics.php
  app/DTO/Statistics/WalletWithValue.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Cache/CryptoDataCache.php
  app/Services/Cache/PriceCache.php
  app/Services/Cache/StatisticsCache.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/js/theme-manager.js
  resources/lang/en/pages.php
  resources/views/components/home/header.blade.php
  resources/views/components/loading/text.blade.php
  resources/views/components/stats/insights/addresses.blade.php
  resources/views/components/stats/insights/delegates.blade.php
  resources/views/components/stats/insights/marketdata.blade.php
  resources/views/components/stats/insights/transactions.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
  tests/Unit/Console/Commands/CachePricesTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
Labels: chore

#784 chore: merge staging into master
  app/Console/Commands/CacheMarketDataStatistics.php
  app/Console/Commands/CachePrices.php
  app/Contracts/MarketDataProvider.php
  app/DTO/Statistics/AddressHoldingStatistics.php
  app/DTO/Statistics/DelegateStatistics.php
  app/DTO/Statistics/LowHighValue.php
  app/DTO/Statistics/MarketDataPriceStatistics.php
  app/DTO/Statistics/MarketDataRecordStatistics.php
  app/DTO/Statistics/MarketDataStatistics.php
  app/DTO/Statistics/MarketDataVolumeStatistics.php
  app/DTO/Statistics/TimestampedValue.php
  app/DTO/Statistics/TransactionAveragesStatistics.php
  app/DTO/Statistics/TransactionRecordsStatistics.php
  app/DTO/Statistics/TransactionStatistics.php
  app/DTO/Statistics/UniqueAddressesStatistics.php
  app/DTO/Statistics/WalletWithValue.php
  app/Http/Livewire/Stats/Insights.php
  app/Services/Cache/CryptoDataCache.php
  app/Services/Cache/PriceCache.php
  app/Services/Cache/StatisticsCache.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/js/theme-manager.js
  resources/lang/en/pages.php
  resources/views/components/home/header.blade.php
  resources/views/components/loading/text.blade.php
  resources/views/components/stats/insights/addresses.blade.php
  resources/views/components/stats/insights/delegates.blade.php
  resources/views/components/stats/insights/marketdata.blade.php
  resources/views/components/stats/insights/transactions.blade.php
  resources/views/livewire/stats/insights.blade.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
  tests/Unit/Console/Commands/CachePricesTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
Labels: chore
