Repository ArdentHQ/arkscan, pull requests merged in 2024-03, with the labels that each got.

#795 refactor(mainsail): update delegate wallets more frequently
  app/Console/Commands/CacheAnnualStatistics.php
  app/Console/Commands/CacheDelegatePerformance.php
  app/Console/Commands/CacheDelegateUsernames.php
  app/Console/Kernel.php
  app/Contracts/RoundRepository.php
  app/Facades/Rounds.php
  app/Http/Controllers/BlocksController.php
  app/Http/Livewire/Concerns/DelegateData.php
  app/Http/Livewire/DelegateDataBoxes.php
  app/Http/Livewire/Delegates/RecentVotes.php
  app/Jobs/BuildForgingStats.php
  app/Models/Casts/UnixSeconds.php
  app/Models/Round.php
  app/Models/State.php
  app/Models/Transaction.php
  app/Models/Wallet.php
  app/Repositories/RoundRepository.php
  app/Services/Blockchain/Network.php
  app/Services/Blocks/Aggregates/LargestBlockAggregate.php
  app/Services/Monitor/MissedBlocksCalculator.php
  app/Services/Monitor/Monitor.php
  app/Services/Transactions/Aggregates/Historical/AveragesAggregate.php
  app/Services/Transactions/TransactionType.php
  app/ViewModels/Concerns/Transaction/InteractsWithVotes.php
  database/factories/TransactionFactory.php
Labels: refactor

#796 fix(mainsail): use `allWithValidatorPublicKey` to get validator wallets
  app/Console/Commands/CacheDelegateUsernames.php
  app/Console/Commands/CacheDelegateVoterCounts.php
  app/Console/Commands/CacheDelegateWallets.php
  app/Contracts/WalletRepository.php
  app/Facades/Wallets.php
  app/Repositories/WalletRepository.php
  app/Repositories/WalletRepositoryWithCache.php
  app/Services/Monitor/Aggregates/DelegateTotalAggregates.php
Labels: bugfix

#797 fix(mainsail): further monitor improvements
  app/Console/Commands/CacheDelegatePerformance.php
  app/Console/Commands/CacheDelegateUsernames.php
  app/Http/Livewire/DelegateDataBoxes.php
  app/ViewModels/Concerns/Wallet/CanForge.php
  resources/views/livewire/delegates/monitor.blade.php
Labels: bugfix

#789 chore: update JavaScript dependencies
  package.json
  public/js/app.js
  public/js/vendor.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#798 feat: arkconnect banner
  public/css/app.css
  public/images/wallets/arrows-success-dark.svg
  public/images/wallets/arrows-success.svg
  public/mix-manifest.json
  resources/icons/wallets/arkconnect.svg
  resources/images/wallets/arrows-success-dark.svg
  resources/images/wallets/arrows-success.svg
  resources/lang/en/pages.php
  resources/views/app/compatible-wallets.blade.php
  resources/views/components/compatible-wallets/arkconnect.blade.php
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/general/learn-more.blade.php
Labels: feature

#801 fix: integer out of range exception
  app/Http/Controllers/BlocksController.php
Labels: bugfix

#803 feat: upgrade to laravel 10
  app/Console/Commands/CacheDelegateVoterCounts.php
  app/Console/Commands/ImportCommand.php
  app/Http/Kernel.php
  app/Models/User.php
  composer.json
  composer.lock
  config/database.php
  config/responsecache.php
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
  tests/Unit/Console/Commands/CacheVolumeTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
Labels: feature

#804 refactor: update delegate aggregates caching
  app/Console/Commands/CacheDelegateAggregates.php
  app/Services/Cache/DelegateCache.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
  tests/Unit/Console/Commands/CacheDelegateAggregatesTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: refactor

#807 chore: temporarily disable failing workflows
  .github/workflows/ci.yml
Labels: chore

#799 feat: arkconnect navbar button
  .env.example
  app/Console/Commands/ImportCommand.php
  app/Models/User.php
  app/ViewModels/Concerns/Wallet/CanForge.php
  composer.json
  composer.lock
  config/arkscan.php
  config/database.php
  config/responsecache.php
  public/css/app.css
  public/js/app.js
  public/js/clipboard.js
  public/mix-manifest.json
  resources/js/app.js
  resources/js/truncate.js
  resources/js/wallet.js
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/app/block.blade.php
  resources/views/app/top-accounts.blade.php
  resources/views/app/transaction.blade.php
  resources/views/app/wallet.blade.php
  resources/views/components/delegates/missed-warning.blade.php
  resources/views/components/navbar/arkconnect.blade.php
  resources/views/components/navbar/mobile.blade.php
  resources/views/components/navbar/top.blade.php
  resources/views/components/tables/desktop/delegates/monitor.blade.php
  resources/views/components/tables/mobile/delegates/monitor.blade.php
  resources/views/components/truncate-dynamic.blade.php
  tests/Feature/Http/Livewire/Delegates/MonitorTest.php
  tests/Unit/Console/Commands/CacheVolumeTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
  webpack.mix.js
Labels: feature

#805 chore: merge develop into mainsail
  app/Actions/CacheTotalSupply.php
  app/Console/Commands/CacheAnnualStatistics.php
  app/Console/Commands/CacheValidatorPerformance.php
  app/Console/Commands/CacheValidatorUsernames.php
  app/Contracts/RoundRepository.php
  app/Facades/Rounds.php
  app/Models/Casts/UnixSeconds.php
  app/Repositories/RoundRepository.php
  app/Repositories/RoundRepositoryWithCache.php
  app/Services/Cache/WalletCache.php
  app/Services/Monitor/Monitor.php
  app/ViewModels/Concerns/Wallet/CanForge.php
  package.json
  public/css/app.css
  public/images/wallets/arrows-success-dark.svg
  public/images/wallets/arrows-success.svg
  public/js/app.js
  public/js/vendor.js
  public/mix-manifest.json
  resources/icons/wallets/arkconnect.svg
  resources/images/wallets/arrows-success-dark.svg
  resources/images/wallets/arrows-success.svg
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/app/compatible-wallets.blade.php
  resources/views/components/compatible-wallets/arkconnect.blade.php
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/general/learn-more.blade.php
  resources/views/components/tables/desktop/validators/monitor.blade.php
  resources/views/components/tables/mobile/validators/monitor.blade.php
  resources/views/components/validators/missed-warning.blade.php
  tests/Analysis/AnalysisTest.php
  tests/Feature/Http/Livewire/ValidatorDataBoxesTest.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
  tests/Helpers.php
  tests/Stubs/FullPartialRoundException.php
  tests/Stubs/RoundsMock.php
  tests/Unit/Console/Commands/CacheValidatorPerformanceTest.php
  tests/Unit/Repositories/RoundRepositoryTest.php
  tests/Unit/Repositories/RoundRepositoryWithCacheTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
  yarn.lock
Labels: chore

#809 refactor: wallet username handling
  app/Console/Commands/CacheDevelopmentData.php
  app/Console/Commands/CacheUsernames.php
  app/Console/Commands/CacheValidatorWallets.php
  app/Console/Kernel.php
  app/DTO/MemoryWallet.php
  app/Http/Livewire/Modals/ExportBlocks.php
  app/Http/Livewire/Validators/Validators.php
  app/Services/Cache/WalletCache.php
  app/ViewModels/Concerns/Wallet/CanBeValidator.php
  app/ViewModels/Concerns/Wallet/CanHaveUsername.php
  app/ViewModels/WalletViewModel.php
  docker/entrypoint.sh
  resources/views/app/wallet.blade.php
  resources/views/components/general/page-section/data/validator.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing-generic.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/addressing.blade.php
  resources/views/components/wallet/overview/wallet.blade.php
  tests/Unit/Console/Commands/CacheUsernamesTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: refactor

#810 refactor: username registration show name & resignation caching
  app/Console/Commands/CacheUsernames.php
  app/Services/Cache/Concerns/ManagesCache.php
  app/Services/Cache/WalletCache.php
  app/ViewModels/Concerns/Transaction/InteractsWithUsernames.php
  app/ViewModels/TransactionViewModel.php
  database/factories/WalletFactory.php
  resources/views/components/transaction/page/transaction-type.blade.php
  tests/Unit/Console/Commands/CacheUsernamesTest.php
Labels: refactor

#811 fix: transaction & block export
  config/arkscan.php
  public/js/app.js
  public/mix-manifest.json
  resources/js/blocks-api.js
  resources/js/blocks-export.js
  resources/js/includes/helpers.js
  resources/js/transactions-api.js
  resources/js/transactions-export.js
  resources/js/validators-api.js
  resources/lang/en/pages.php
Labels: bugfix

#812 fix: phpstan
  .github/workflows/ci.yml
  app/Console/Commands/CacheUsernames.php
  app/Models/Round.php
  app/Models/Transaction.php
  app/Services/Transactions/TransactionType.php
  app/ViewModels/Concerns/Wallet/CanHaveUsername.php
  app/ViewModels/TransactionViewModel.php
Labels: bugfix
