Repository ArdentHQ/arkscan, pull requests merged in 2024-04, with the labels that each got.

#814 chore: update JavaScript dependencies
  package.json
  public/css/app.css
  public/mix-manifest.json
  yarn.lock
Labels: chore

#815 feat: arkconnect navbar button
  .env.example
  config/arkscan.php
  public/css/app.css
  public/js/app.js
  public/js/clipboard.js
  public/mix-manifest.json
  resources/js/app.js
  resources/js/truncate.js
  resources/js/wallet.js
  resources/lang/en/general.php
  resources/views/app/block.blade.php
  resources/views/app/top-accounts.blade.php
  resources/views/app/transaction.blade.php
  resources/views/app/wallet.blade.php
  resources/views/components/navbar/arkconnect.blade.php
  resources/views/components/navbar/mobile.blade.php
  resources/views/components/navbar/top.blade.php
  resources/views/components/truncate-dynamic.blade.php
  webpack.mix.js
Labels: feature

#816 refactor: arkconnect banner & arkvault banner adjustments
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/compatible-wallets/arkconnect.blade.php
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/general/learn-more.blade.php
  resources/views/components/home/footer.blade.php
Labels: refactor

#813 test: rounds migration & adjustments to tests
  app/Console/Commands/CacheValidatorPerformance.php
  app/Models/Round.php
  app/Providers/DevelopmentServiceProvider.php
  app/Services/Monitor/ForgingInfoCalculator.php
  app/Services/Monitor/ValidatorTracker.php
  app/ViewModels/Concerns/Wallet/CanForge.php
  database/factories/RoundFactory.php
  database/factories/WalletFactory.php
  tests/FakerProviders/Round.php
  tests/Feature/Http/Controllers/BlocksControllerTest.php
  tests/Feature/Http/Livewire/ValidatorDataBoxesTest.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
  tests/Helpers.php
  tests/Unit/Repositories/RoundRepositoryTest.php
  tests/Unit/Services/Monitor/ForgingInfoCalculatorTest.php
  tests/fixtures/forgers.php
  tests/migrations/2020_10_19_042126_create_rounds_table.php
  tests/migrations/2020_10_19_042126_create_validator_rounds_table.php
Labels: test

#820 chore: enable tests workflow
  .github/workflows/ci.yml
  composer.json
  phpunit.xml
Labels: chore

#821 fix: command tests
  app/Console/Commands/CacheAnnualStatistics.php
  app/Console/Commands/CacheValidatorStatistics.php
  app/Jobs/BuildForgingStats.php
  app/Models/ForgingStats.php
  composer.json
  database/factories/TransactionFactory.php
  database/migrations/2024_04_03_121300_change_forging_stats_timestamp_column_type.php
  phpunit.xml
  tests/Helpers.php
  tests/Unit/Console/Commands/BuildForgingStatsTest.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
  tests/Unit/Console/Commands/CacheBlocksTest.php
  tests/Unit/Console/Commands/CachePricesTest.php
  tests/Unit/Console/Commands/CacheValidatorPerformanceTest.php
  tests/Unit/Console/Commands/CacheValidatorProductivityTest.php
  tests/Unit/Console/Commands/CacheValidatorStatisticsTest.php
  tests/Unit/Console/Commands/CacheValidatorVoterCountsTest.php
  tests/Unit/Console/Commands/CacheValidatorWalletsTest.php
  tests/Unit/Console/Commands/CacheValidatorsWithVotersTest.php
  tests/Unit/Console/Commands/CacheVolumeTest.php
  tests/migrations/2024_04_03_121300_change_forging_stats_timestamp_column_type.php
Labels: bugfix

#822 refactor: remove forging stats connection
  app/Models/ForgingStats.php
Labels: refactor

#823 fix: DTO tests
  app/DTO/Payment.php
  phpunit.xml
  tests/Unit/DTO/MemoryWalletTest.php
  tests/Unit/DTO/PaymentTest.php
  tests/Unit/DTO/SlotTest.php
Labels: bugfix

#828 chore: update JavaScript dependencies
  package.json
  public/js/vendor.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#829 fix: pricing fetch from coingecko
  app/Services/MarketDataProviders/CoinGecko.php
Labels: bugfix

#824 fix: statistics newest address date format
  app/Console/Commands/CacheAddressStatistics.php
  tests/Unit/Console/Commands/CacheAddressStatisticsTest.php
Labels: bugfix

#825 refactor: remove timelock references
  app/Console/Playbooks/TransactionPlaybook.php
  app/Contracts/Network.php
  app/Enums/CoreTransactionTypeEnum.php
  app/Facades/Network.php
  app/Http/Livewire/Stats/CurrentAverageFee.php
  app/Models/Scopes/TimelockClaimScope.php
  app/Models/Scopes/TimelockRefundScope.php
  app/Models/Scopes/TimelockScope.php
  app/Services/Blockchain/Network.php
  app/Services/Forms.php
  app/Services/Transactions/Concerns/ManagesTransactionTypes.php
  app/Services/Transactions/TransactionType.php
  app/Services/Transactions/TransactionTypeIcon.php
  app/ViewModels/Concerns/Transaction/HasType.php
  config/arkscan.php
  database/factories/TransactionFactory.php
  resources/icons/transactions/timelock.svg
  resources/lang/en/forms.php
  resources/lang/en/general.php
  tests/Feature/Http/Controllers/ShowTransactionControllerTest.php
  tests/Unit/Models/Scopes/TimelockClaimScopeTest.php
  tests/Unit/Models/Scopes/TimelockRefundScopeTest.php
  tests/Unit/Models/Scopes/TimelockScopeTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: refactor

#831 fix: model tests
  tests/Unit/Models/RoundTest.php
  tests/Unit/Models/TransactionTest.php
  tests/Unit/Models/WalletTest.php
Labels: bugfix

#830 refactor: only run fetch exchanges job on production
  app/Console/Kernel.php
Labels: refactor

#826 fix: viewmodel tests
  app/ViewModels/RoundViewModel.php
  database/factories/BlockFactory.php
  database/factories/TransactionFactory.php
  tests/Unit/ViewModels/ForgingStatsViewModelTest.php
  tests/Unit/ViewModels/RoundViewModelTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: bugfix

#832 fix: repository tests
  phpunit.xml
  tests/Unit/Repositories/RoundRepositoryWithCacheTest.php
  tests/Unit/Repositories/TransactionRepositoryTest.php
  tests/Unit/Repositories/TransactionRepositoryWithCacheTest.php
  tests/Unit/Repositories/WalletRepositoryTest.php
  tests/Unit/Repositories/WalletRepositoryWithCacheTest.php
Labels: bugfix

#833 fix: job tests
  phpunit.xml
  tests/Unit/Jobs/IndexBlocksTest.php
  tests/Unit/Jobs/IndexTransactionsTest.php
Labels: bugfix

#834 refactor: enable all unit tests update coverage
  composer.json
  phpunit.xml
  tests/Unit/DTO/SlotTest.php
Labels: refactor

#836 fix: analysis tests
  phpunit.xml
  tests/Feature/Http/Livewire/Concerns/HasTablePaginationTest.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
  tests/Feature/Http/Livewire/__stubs/HasTablePaginationStub.php
Labels: bugfix

#837 test: check skipped & fix missed coverage
  app/Services/Monitor/Actions/ShuffleValidators.php
  app/Services/Monitor/ValidatorTracker.php
  app/ViewModels/Concerns/Transaction/InteractsWithValidatorRegistration.php
  app/ViewModels/TransactionViewModel.php
  composer.json
  tests/Analysis/AnalysisTest.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
  tests/Helpers.php
  tests/Unit/Models/TransactionTest.php
  tests/Unit/Services/Monitor/Actions/ShuffleValidatorsTest.php
  tests/Unit/Services/Monitor/ValidatorTrackerTest.php
  tests/Unit/Services/Transactions/TransactionTypeTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: test

#839 refactor: remove vendorfield hex conversion
  app/Services/VendorField.php
  tests/Unit/Services/VendorFieldTest.php
Labels: refactor

#840 refactor: improve performance
  app/Http/Livewire/Concerns/DelegateData.php
  app/Repositories/RoundRepositoryWithCache.php
  tests/Unit/Repositories/RoundRepositoryWithCacheTest.php
Labels: refactor

#842 chore: merge develop into mainsail develop
  .env.example
  app/Console/Commands/CacheValidatorAggregates.php
  app/Console/Commands/CacheValidatorVoterCounts.php
  app/Console/Commands/ImportCommand.php
  app/Console/Kernel.php
  app/Http/Kernel.php
  app/Http/Livewire/Concerns/ValidatorData.php
  app/Models/User.php
  app/Repositories/RoundRepositoryWithCache.php
  app/Services/Cache/ValidatorCache.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/VendorField.php
  composer.json
  composer.lock
  config/arkscan.php
  config/database.php
  config/responsecache.php
  package.json
  public/css/app.css
  public/js/app.js
  public/js/clipboard.js
  public/js/vendor.js
  public/mix-manifest.json
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
  resources/js/app.js
  resources/js/truncate.js
  resources/js/wallet.js
  resources/lang/en/general.php
  resources/views/app/block.blade.php
  resources/views/app/top-accounts.blade.php
  resources/views/app/transaction.blade.php
  resources/views/app/wallet.blade.php
  resources/views/components/compatible-wallets/arkconnect.blade.php
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/general/learn-more.blade.php
  resources/views/components/home/footer.blade.php
  resources/views/components/navbar/arkconnect.blade.php
  resources/views/components/navbar/mobile.blade.php
  resources/views/components/navbar/top.blade.php
  resources/views/components/truncate-dynamic.blade.php
  tests/Feature/Http/Controllers/ShowWalletControllerTest.php
  tests/Unit/Console/Commands/CacheValidatorAggregatesTest.php
  tests/Unit/Console/Commands/CacheVolumeTest.php
  tests/Unit/Repositories/RoundRepositoryWithCacheTest.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
  tests/Unit/Services/VendorFieldTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
  webpack.mix.js
  yarn.lock
Labels: chore

#845 fix: arkconnect learn more url
  resources/lang/en/pages.php
  resources/lang/en/urls.php
  resources/views/components/compatible-wallets/arkconnect.blade.php
  resources/views/components/general/learn-more.blade.php
Labels: bugfix

#847 fix: learn more hover states
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/compatible-wallets/arkconnect.blade.php
  resources/views/components/general/learn-more.blade.php
Labels: bugfix

#850 test: fix intermittently failing tests
  tests/Feature/Http/Livewire/DelegateDataBoxesTest.php
  tests/Helpers.php
  tests/Stubs/FullPartialRoundException.php
Labels: test

#843 refactor: cache newest address since last run
  app/Console/Commands/CacheAddressStatistics.php
  app/Jobs/IndexWallets.php
  app/Models/State.php
  app/Models/Wallet.php
  database/factories/WalletFactory.php
  tests/Feature/Http/Livewire/Validators/MissedBlocksTest.php
  tests/Feature/Http/Livewire/Validators/ValidatorsTest.php
  tests/Unit/Console/Commands/CacheAddressStatisticsTest.php
  tests/Unit/Jobs/IndexWalletsTest.php
  tests/Unit/Models/WalletTest.php
  tests/migrations/2024_04_17_015100_change_timestamp_columns_on_wallet_table.php
Labels: refactor

#841 refactor: allow ignoring marketdata exceptions
  .env.example
  app/Services/MarketDataProviders/AbstractMarketDataProvider.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
  config/arkscan.php
  tests/Unit/Services/MarketDataProviders/CoinGeckoTest.php
  tests/Unit/Services/MarketDataProviders/CryptoCompareTest.php
Labels: refactor

#848 feat: arkconnect delegate voting
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/js/api/blocks.js
  resources/js/api/delegates.js
  resources/js/api/transactions.js
  resources/js/api/wallets.js
  resources/js/blocks-export.js
  resources/js/transactions-export.js
  resources/js/wallet.js
  resources/lang/en/actions.php
  resources/lang/en/brands.php
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/views/components/compatible-wallets/arkvault.blade.php
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/delegates/vote-link.blade.php
  resources/views/components/general/dropdown/dropdown.blade.php
  resources/views/components/navbar/arkconnect.blade.php
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  resources/views/components/tables/mobile/delegates/list-table.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/vote-link.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/voting-for.blade.php
  resources/views/layouts/app.blade.php
Labels: feature

#856 chore: use pnpm instead of yarn
  .github/workflows/ci.yml
  .github/workflows/deps.yml
  .github/workflows/ui.yml
  package.json
  pnpm-lock.yaml
  public/js/app.js
  public/js/app.js.LICENSE.txt
  public/js/chart-tooltip.js
  public/js/manifest.js
  public/js/vendor.js
  public/mix-manifest.json
  yarn.lock
Labels: chore

#854 refactor: update last updated height cache key
  app/Console/Commands/CacheAddressStatistics.php
  tests/Unit/Console/Commands/CacheAddressStatisticsTest.php
Labels: refactor

#855 refactor: prevent network dropdown redirect on same site
  resources/views/components/general/dropdown/list-item.blade.php
Labels: refactor

#852 refactor: wallet vote link
  public/css/app.css
  public/mix-manifest.json
  resources/lang/en/pages.php
  resources/views/components/delegates/vote-link.blade.php
  resources/views/components/wallet/overview/delegate.blade.php
  tailwind.config.js
Labels: refactor

#851 refactor: handle resigned delegate voting and vote improvements
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/js/wallet.js
  resources/lang/en/pages.php
  resources/views/components/delegates/resigned-delegate-notice.blade.php
  resources/views/components/delegates/vote-link.blade.php
  resources/views/components/tables/desktop/delegates/list-table.blade.php
  resources/views/components/tables/mobile/delegates/list-table.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/delegates/vote-link.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/vote-link.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/delegates/voting-for.blade.php
  resources/views/livewire/delegates/delegates.blade.php
  resources/views/livewire/delegates/tabs.blade.php
Labels: refactor

#860 refactor: memo break words
  resources/views/components/general/page-section/container.blade.php
  resources/views/components/transaction/page/memo.blade.php
Labels: refactor

#862 chore: update workflow actions, node & php
  .github/workflows/ci.yml
  .github/workflows/deps.yml
  .github/workflows/label.yml
  .github/workflows/ui.yml
Labels: chore

#853 refactor: implement arkconnect send
  app/Http/Livewire/WalletQrCode.php
  resources/js/wallet.js
  resources/lang/en/pages.php
  resources/views/livewire/wallet-qr-code.blade.php
  tests/Feature/Http/Livewire/WalletQrCodeTest.php
Labels: refactor

#864 chore: update PHP dependencies
  composer.json
  composer.lock
  public/vendor/horizon/app.css
  public/vendor/horizon/app.js
  public/vendor/horizon/favicon.png
  public/vendor/horizon/manifest.json
  public/vendor/horizon/styles-dark.css
  public/vendor/horizon/styles.css
Labels: chore

#863 refactor: handle parallel testing
  app/Providers/FoundationServiceProvider.php
  app/Testing/Concerns/TestDatabasesWithMultipleConnections.php
  app/Testing/ParallelTestingServiceProvider.php
  composer.json
  config/app.php
  phpstan.neon
  phpunit.xml
  tests/Feature/Http/Livewire/Concerns/HasTablePaginationTest.php
  tests/Feature/Http/Livewire/Navbar/SearchTest.php
  tests/Feature/Http/Livewire/__stubs/HasTablePaginationStub.php
Labels: refactor
