Repository ArdentHQ/arkscan, pull requests merged in 2025-02, with the labels that each got.

#1178 chore: remove commented code
  database/migrations/2024_10_14_140202_change_public_key_column_to_address_on_forging_stats_table.php
Labels: chore

#1180 chore: update confirmations header on tx detail page
  resources/lang/en/pages.php
  resources/views/components/general/page-section/confirmations.blade.php
  resources/views/components/transaction/page/status.blade.php
Labels: chore

#1177 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#1179 refactor: username ui improvements
  app/Console/Commands/CacheKnownWallets.php
  app/Services/Cache/Concerns/ManagesCache.php
  app/Services/Cache/WalletCache.php
  app/ViewModels/ForgingStatsViewModel.php
  resources/views/components/tables/desktop/validators/missed-blocks.blade.php
  resources/views/components/transaction/page/addressing.blade.php
  resources/views/components/transaction/page/section-detail/address.blade.php
  tests/Feature/Http/Livewire/Validators/RecentVotesTest.php
  tests/Unit/Console/Commands/CacheKnownWalletsTest.php
Labels: refactor

#1182 refactor: remove unnecessary caching
  app/Services/Cache/CryptoDataCache.php
  app/Services/MarketDataProviders/CoinGecko.php
  app/Services/MarketDataProviders/CryptoCompare.php
Labels: refactor

#1184 test: fix intermittent validators tests
  tests/Feature/Http/Livewire/Validators/ValidatorsTest.php
Labels: test

#1181 test: fix intermittent view model test
  tests/Unit/ViewModels/ViewModelFactoryTest.php
Labels: test

#1183 refactor: transaction repository
  app/Models/Scopes/HasMultiPaymentRecipientScope.php
  app/Models/Scopes/IsVoteForAddressScope.php
  app/Repositories/TransactionRepository.php
  tests/Unit/Repositories/TransactionRepositoryTest.php
Labels: refactor

#1175 feat: block detail pagination
  resources/views/app/block.blade.php
  resources/views/components/block/page/detail-pagination.blade.php
  resources/views/components/block/page/transaction-list.blade.php
  resources/views/components/general/page-section/confirmations.blade.php
  resources/views/components/general/page-section/container.blade.php
Labels: feature

#1187 chore: remove old todos
  app/Providers/AppServiceProvider.php
  resources/views/livewire/navbar/price-ticker.blade.php
Labels: chore

#1186 refactor: show multipayment amount on tx detail
  resources/views/components/transaction/page/summary.blade.php
Labels: refactor

#1189 refactor: update wallet image
  resources/images/home/footer-dark.svg
  resources/images/home/footer-dim.svg
  resources/images/home/footer.svg
  resources/images/wallets/arkvault-dark.svg
  resources/images/wallets/arkvault-dim.svg
  resources/images/wallets/arkvault.svg
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/general/learn-more.blade.php
  resources/views/components/home/footer.blade.php
Labels: refactor

#1185 refactor: averages aggregate include multipayment
  app/Models/Scopes/MultiPaymentTotalAmountScope.php
  app/Providers/EloquentServiceProvider.php
  app/Services/Transactions/Aggregates/Historical/AveragesAggregate.php
  database/factories/TransactionFactory.php
  tests/Feature/Http/Livewire/Stats/InsightsTest.php
  tests/Unit/Console/Commands/CacheTransactionsTest.php
  tests/Unit/Services/Transactions/Aggregates/Historical/AveragesAggregateTest.php
Labels: refactor

#1191 refactor: update gas wei format handling
  app/Contracts/Services/GasTracker.php
  app/Facades/Services/GasTracker.php
  app/Services/Blockchain/CustomNetwork.php
  app/Services/ExchangeRate.php
  app/Services/GasTracker.php
  app/Services/MainsailApi.php
  app/ViewModels/TransactionViewModel.php
  composer.lock
  resources/views/components/home/includes/gas-tooltip.blade.php
  tests/Feature/Http/Controllers/TransactionsControllerTest.php
  tests/Feature/Http/Livewire/Home/TransactionsTest.php
  tests/Feature/Http/Livewire/Stats/GasTrackerTest.php
  tests/Unit/Console/Commands/CacheGasTrackerDataTest.php
  tests/Unit/Services/Blockchain/CustomNetworkTest.php
  tests/Unit/Services/Blockchain/NetworkTest.php
  tests/Unit/Services/Cache/StatisticsCacheTest.php
  tests/Unit/Services/GasTrackerTest.php
  tests/Unit/Services/MainsailApiTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/__snapshots__/TransactionViewModelTest__it_should_get_the_amount_including_fee__1.txt
  tests/__snapshots__/TransactionViewModelTest__it_should_get_the_fee__1.txt
Labels: refactor
