Repository ArdentHQ/arkscan, pull requests merged in 2025-01, with the labels that each got.

#1104 fix: transaction view model coverage
  app/ViewModels/TransactionViewModel.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: bugfix

#1105 fix: blockchain network service coverage
  tests/Unit/Services/Blockchain/NetworkTest.php
Labels: bugfix

#1107 fix: dto memory wallet coverage
  app/DTO/MemoryWallet.php
Labels: bugfix

#1108 chore: trigger rustywind & fix failing tests
  resources/views/components/clipboard.blade.php
  resources/views/components/compatible-wallets/learn-more.blade.php
  resources/views/components/delegates/arkconnect/vote-link.blade.php
  resources/views/components/delegates/vote-link.blade.php
  resources/views/components/general/dropdown/filter.blade.php
  resources/views/components/general/encapsulated/amount-fiat-tooltip.blade.php
  resources/views/components/general/pagination/includes/arrow.blade.php
  resources/views/components/stats/periods-selector.blade.php
  resources/views/components/tables/desktop/delegates/monitor.blade.php
  resources/views/components/tables/headers/desktop/address.blade.php
  resources/views/components/tables/headers/desktop/id.blade.php
  resources/views/components/tables/headers/desktop/includes/livewire-sort-icon.blade.php
  resources/views/components/tables/headers/desktop/number.blade.php
  resources/views/components/tables/headers/desktop/sortable-header.blade.php
  resources/views/components/tables/mobile/delegates/list-table.blade.php
  resources/views/components/tables/mobile/delegates/monitor.blade.php
  resources/views/components/tables/mobile/top-accounts.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/amount.blade.php
  resources/views/components/tables/rows/mobile/encapsulated/age.blade.php
  resources/views/livewire/navbar/search.blade.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
Labels: chore

#1109 fix: models transaction test coverage
  tests/Unit/Models/TransactionTest.php
Labels: bugfix

#1110 fix: add state model test coverage
  tests/Unit/Models/StateTest.php
Labels: bugfix

#1111 fix: test transaction view model username method
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: bugfix

#1112 fix: has voters trait test coverage
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: bugfix

#1113 fix: transaction view model receipt test coverage
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: bugfix

#1114 chore: use phpunit cache on github actions
  .github/workflows/ci.yml
  .gitignore
Labels: chore

#1115 fix: transaction view model voted tests
  app/ViewModels/Concerns/Transaction/InteractsWithVotes.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: bugfix

#1116 fix: has payload coverage
  app/ViewModels/Concerns/Transaction/HasPayload.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: bugfix

#1117 fix: has method trait coverage
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: bugfix

#1118 fix: can be validator registration coverage
  app/ViewModels/Concerns/Transaction/CanBeValidatorRegistration.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: bugfix

#1121 fix: transaction method coverage
  tests/Unit/Services/Transactions/TransactionMethodTest.php
Labels: bugfix

#1122 fix: cache blocks coverage
  tests/Unit/Jobs/CacheBlocksTest.php
Labels: bugfix

#1124 fix: cache address statistics test flaky
  tests/Unit/Console/Commands/CacheAddressStatisticsTest.php
Labels: bugfix

#1100 fix: statistics all time prices
  .github/workflows/ci.yml
  .github/workflows/deps.yml
  .github/workflows/ui.yml
  app/Console/Commands/CacheMarketDataStatistics.php
  app/Services/Cache/CryptoDataCache.php
  app/Services/MarketDataProviders/CoinGecko.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
Labels: bugfix

#1123 fix: manages cache trait test coverage
  app/Services/Cache/Concerns/ManagesCache.php
Labels: bugfix

#1128 refactor: add error 500 meta title
  resources/lang/en/metatags.php
Labels: refactor

#1126 fix: pagination error 500
  app/Http/Livewire/Concerns/HasTablePagination.php
Labels: bugfix

#1132 test: ignore code coverage on monitor component
  app/Http/Livewire/Validators/Monitor.php
Labels: test

#1134 refactor: populate volume from historic data
  app/Console/Commands/CacheMarketDataStatistics.php
  app/Console/Commands/PopulateHistoricVolume.php
  tests/Unit/Console/Commands/CacheMarketDataStatisticsTest.php
  tests/Unit/Console/Commands/PopulateHistoricVolumeTest.php
Labels: refactor

#1131 refactor: populate prices from historic data
  app/Console/Commands/CachePrices.php
  app/Console/Commands/PopulateHistoricPrices.php
  app/Models/Price.php
  app/Services/ExchangeRate.php
  database/factories/PriceFactory.php
  database/migrations/2025_01_09_131233_create_prices_table.php
  database/seeders/pricing/prices/aud.json
  database/seeders/pricing/prices/brl.json
  database/seeders/pricing/prices/btc.json
  database/seeders/pricing/prices/cad.json
  database/seeders/pricing/prices/chf.json
  database/seeders/pricing/prices/cny.json
  database/seeders/pricing/prices/eth.json
  database/seeders/pricing/prices/eur.json
  database/seeders/pricing/prices/gbp.json
  database/seeders/pricing/prices/jpy.json
  database/seeders/pricing/prices/krw.json
  database/seeders/pricing/prices/ltc.json
  database/seeders/pricing/prices/nzd.json
  database/seeders/pricing/prices/rub.json
  database/seeders/pricing/prices/usd.json
  tests/Unit/Console/Commands/CachePricesTest.php
  tests/Unit/Console/Commands/PopulateHistoricPricesTest.php
Labels: refactor

#1136 fix: price charts showing all prices
  app/Console/Commands/CachePrices.php
  tests/Unit/Console/Commands/CachePricesTest.php
Labels: bugfix

#1133 fix: show negative sign for outgoing multipayment
  resources/views/components/general/encapsulated/amount-fiat-tooltip.blade.php
Labels: bugfix

#1138 fix: error after connecting extension
  resources/js/wallet.js
Labels: bugfix

#1139 fix: query parameters back button crash
  app/Http/Livewire/Delegates/Delegates.php
  app/Http/Livewire/Delegates/RecentVotes.php
  app/Http/Livewire/TransactionTable.php
Labels: bugfix

#1140 fix: history pagination reset
  app/Http/Livewire/Concerns/HasTableFilter.php
  tests/Feature/Http/Livewire/Delegates/DelegatesTest.php
  tests/Feature/Http/Livewire/Delegates/RecentVotesTest.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
Labels: bugfix

#1141 fix: hide decimals on stats
  resources/views/components/stats/insights/addresses.blade.php
  resources/views/components/stats/insights/annual.blade.php
Labels: bugfix

#1143 fix: upgrade foundation with theme bug patch
  app/Exceptions/Handler.php
  composer.json
  composer.lock
Labels: bugfix

#1127 refactor: change "to" label when interacting with contract
  resources/lang/en/pages.php
  resources/views/components/transaction/page/addressing.blade.php
  resources/views/components/transaction/page/section-detail/address.blade.php
  resources/views/components/transaction/page/section-detail/row.blade.php
  resources/views/components/transaction/page/token.blade.php
Labels: refactor

#1152 chore: remove extra parameter on address component
  resources/views/components/tables/rows/desktop/encapsulated/address.blade.php
Labels: chore

#1145 test: validator monitor coverage
  app/Http/Livewire/Validators/Monitor.php
  tests/Feature/Http/Livewire/Validators/MonitorTest.php
Labels: test

#1149 fix: blocks export
  resources/js/api/blocks.js
Labels: bugfix

#1146 refactor: validator public key remove unused code
  app/ViewModels/Concerns/Transaction/CanBeValidatorRegistration.php
Labels: refactor

#1129 refactor: show wallet balance decimals
  app/Services/BigNumber.php
  app/ViewModels/WalletViewModel.php
  resources/views/components/wallet/overview/wallet.blade.php
Labels: refactor

#1150 refactor: remove current average fee component
  app/Console/Commands/CacheFees.php
  app/Http/Livewire/Stats/CurrentAverageFee.php
  app/Services/Cache/FeeCache.php
  app/Services/Forms.php
  resources/lang/en/forms.php
  resources/lang/en/pages.php
  resources/views/components/stats/information-card.blade.php
  resources/views/components/stats/information-cards.blade.php
  resources/views/livewire/stats/current-average-fee.blade.php
  tests/Feature/Http/Livewire/Stats/CurrentAverageFeeTest.php
  tests/Unit/Console/Commands/CacheFeesTest.php
  tests/Unit/Services/FormsTest.php
Labels: refactor

#1153 refactor: improve gas fee in stats
  resources/lang/en/pages.php
  resources/views/app/statistics.blade.php
  resources/views/components/stats/fee-card.blade.php
  resources/views/livewire/stats/gas-tracker.blade.php
Labels: refactor

#1158 refactor: truncate validator stats addresses
  resources/views/components/stats/insights/desktop/validator-row.blade.php
  resources/views/components/stats/insights/mobile/validator-row.blade.php
Labels: refactor

#1157 refactor: remove unused functionality
  app/Http/Livewire/Concerns/ChartNumberFormatters.php
  app/Services/Transactions/Aggregates/Concerns/HasQueries.php
  app/Services/Transactions/Aggregates/Fees/LastFeeAggregate.php
Labels: refactor

#1165 fix: add recipient and sender on transaction export
  resources/js/transactions-export.js
Labels: bugfix

#1162 fix: multi payment recipient address
  resources/views/components/general/identity.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/address.blade.php
Labels: bugfix

#1161 fix: double button on mobile
  resources/views/components/arkconnect/modal/unsupported-browser.blade.php
  resources/views/components/navbar/arkconnect.blade.php
Labels: bugfix

#1168 fix: phpstan style warning
  app/Console/Commands/CacheAnnualStatistics.php
Labels: bugfix

#1164 fix: blocks table address style
  resources/views/components/tables/rows/mobile/encapsulated/generated-by.blade.php
Labels: bugfix

#1151 refactor: hide failed transactions in recent votes table
  app/Http/Livewire/Validators/RecentVotes.php
  tests/Feature/Http/Livewire/Validators/RecentVotesTest.php
Labels: refactor

#1163 fix: convert multi payment amount
  app/ViewModels/Concerns/Transaction/HasPayload.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: bugfix

#1167 refactor: update known wallets url
  config/arkscan.php
Labels: refactor

#1160 refactor: update contract deployment type check
  app/Enums/ContractMethod.php
  app/Models/Scopes/ContractDeploymentScope.php
  app/Models/Transaction.php
  app/Services/Transactions/TransactionMethod.php
  database/factories/TransactionFactory.php
  tests/Unit/Models/TransactionTest.php
  tests/Unit/Repositories/TransactionRepositoryTest.php
  tests/Unit/Repositories/TransactionRepositoryWithCacheTest.php
Labels: refactor

#1155 chore: update PHP dependencies
  app/Services/Search/BlockSearch.php
  app/Services/Search/TransactionSearch.php
  app/Services/Search/WalletSearch.php
  composer.json
  composer.lock
  tests/Unit/Services/Search/BlockSearchTest.php
  tests/Unit/Services/Search/TransactionSearchTest.php
  tests/Unit/Services/Search/WalletSearchTest.php
Labels: chore

#1159 refactor: schedule cache blocks command
  app/Console/Kernel.php
  tests/Feature/Console/KernelTest.php
Labels: refactor

#1156 test: fix intermittent controller tests
  .github/workflows/ci.yml
  resources/views/layouts/app.blade.php
  resources/views/livewire/search-modal.blade.php
Labels: test

#1172 refactor: remove qa forced fees
  app/Services/MainsailApi.php
  tests/Unit/Console/Commands/CacheGasTrackerDataTest.php
  tests/Unit/Services/MainsailApiTest.php
Labels: refactor

#1173 refactor: rename validator types
  resources/lang/en/general.php
  tests/Unit/Services/Transactions/TransactionMethodTest.php
Labels: refactor

#1174 chore: update interacted with heading
  resources/lang/en/pages.php
  resources/views/components/transaction/page/addressing.blade.php
Labels: chore

#1169 refactor: recent votes sort validator with known wallets
  app/Models/Concerns/Transaction/CanBeSorted.php
  tests/Feature/Http/Livewire/Validators/RecentVotesTest.php
Labels: refactor

#1171 refactor: combine transaction filter options
  app/Http/Livewire/TransactionTable.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Models/Transaction.php
  resources/lang/en/tables.php
  resources/views/components/tables/filters/transactions-generic.blade.php
  resources/views/components/tables/filters/transactions.blade.php
  tests/Feature/Http/Livewire/TransactionTableTest.php
  tests/Feature/Http/Livewire/WalletTransactionTableTest.php
Labels: refactor
