Repository ArdentHQ/arkscan, pull requests merged in 2025-04, with the labels that each got.

#1196 chore: update foundation
  composer.lock
Labels: chore

#1192 fix: pagination 500 error
  app/Http/Livewire/TransactionTable.php
  app/Http/Livewire/Validators/RecentVotes.php
  app/Http/Livewire/Validators/Validators.php
Labels: bugfix

#1197 fix: use proxy contract address for multipayments
  config/arkscan.php
Labels: bugfix

#1203 fix: missed blocks block height wrong values
  app/Jobs/BuildForgingStats.php
  tests/Unit/Console/Commands/BuildForgingStatsTest.php
Labels: bugfix

#1200 fix: handle decimals on transactions fees
  app/Console/Commands/CacheAnnualStatistics.php
  app/Services/Cache/StatisticsCache.php
  tests/Feature/Http/Controllers/TransactionsControllerTest.php
  tests/Unit/Console/Commands/CacheAnnualStatisticsTest.php
  tests/Unit/Services/Cache/StatisticsCacheTest.php
Labels: bugfix

#1198 refactor: handle incoming multipayments on wallet transactions
  app/Http/Livewire/WalletTransactionTable.php
  app/ViewModels/Concerns/Transaction/HasPayload.php
  app/ViewModels/TransactionViewModel.php
  resources/views/components/general/encapsulated/amount-fiat-tooltip.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/amount.blade.php
  resources/views/components/transaction/amount.blade.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
Labels: refactor
