Repository ArdentHQ/arkscan, pull requests merged in 2025-08, with the labels that each got.

#1241 chore: merge mainsail-develop into mainsail
  app/Console/Kernel.php
  app/Http/Livewire/Validators/Validators.php
  app/Models/Concerns/Transaction/HasPayload.php
  app/Models/Receipt.php
  app/Services/Addresses/Legacy.php
  app/ViewModels/Concerns/Transaction/HasPayload.php
  app/ViewModels/Concerns/Wallet/CanBeValidator.php
  composer.lock
  database/factories/WalletFactory.php
  resources/lang/en/general.php
  resources/lang/en/pages.php
  resources/lang/en/tables.php
  resources/views/components/tables/filters/validators.blade.php
  resources/views/components/tables/rows/desktop/encapsulated/validators/validator-status.blade.php
  resources/views/components/transaction/page/more-details.blade.php
  resources/views/components/transaction/page/status.blade.php
  tests/Feature/Http/Controllers/ShowTransactionControllerTest.php
  tests/Feature/Http/Livewire/Validators/ValidatorsTest.php
  tests/Unit/Models/TransactionTest.php
  tests/Unit/ViewModels/TransactionViewModelTest.php
  tests/Unit/ViewModels/WalletViewModelTest.php
Labels: chore

#1246 chore: remove largest transaction todo
  app/Services/Transactions/Aggregates/LargestTransactionAggregate.php
Labels: chore

#1249 refactor: wallet transactions ignore multipayment logic when filtered out
  app/Http/Livewire/Wallet/Concerns/TransactionsTab.php
Labels: refactor

#1253 refactor: update no results line height
  resources/views/components/tables/mobile/includes/encapsulated.blade.php
Labels: refactor

#1254 refactor: update contract badge styling
  resources/views/components/transaction/page/section-detail/address.blade.php
Labels: refactor

#1256 fix: validator update filtering
  app/Models/Scopes/OtherTransactionTypesScope.php
  app/Models/Transaction.php
Labels: bugfix

#1259 fix: multipayment detail page
  resources/views/components/transaction/page/recipients.blade.php
  tests/Feature/Http/Controllers/ShowTransactionControllerTest.php
Labels: bugfix
